<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Huawei CMS</title>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <?php echo $this->headLink()
                ->prependStylesheet('/assets/cms/css/foundation-min.css')
                ->prependStylesheet('/assets/cms/css/style.css')
                ->appendStylesheet(array('rel' => 'stylesheet', 'href' => '//fonts.googleapis.com/css?family=Lato:100,300,400,700'));
        ?>
    </head>
    <body>
        <?php echo $this->content; ?>
        <script src="/assets/js/vendor/underscore-min.js"></script>
        <script src="/assets/js/vendor/jquery-min.js"></script>
        <?php echo $this->inlineScript() ?>
    </body>
</html>
