
html {
  height: 100%;
  width: 100%;
  font-family: "Lato", Arial, sans-serif;
}

body {
  background-color: #ededed;
  font-family: "Lato", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  min-width: 960px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", Arial, sans-serif; 
}
h1 {
  margin: 0;
}
h5 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 .5em;
}
a {
  color: #ca531f;
  text-decoration: underline;
}

a:visited {
  color: #ca531f;
}
a:hover {
  text-decoration: underline;
}

fieldset {
  margin: 0;
  border: none; }

button, .button {
  font-family: "Lato", Arial, sans-serif;
  color: #FFF;
  text-decoration: none;
  background-color: #df632d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  border: none;
  font-weight: 800;
  font-size: 71%;
  text-transform: uppercase;
  letter-spacing: .3em;
  padding: 1rem 1.4rem 1.0625rem; 
  cursor: pointer;
  }
  button:hover, .button:hover {
    background-color: #ca531f; 
    text-decoration: none;
  }
  button.cancel, .button.cancel {
    background-color: #bcbcbc; }
    button.cancel:hover, .button.cancel:hover {
      background-color: #aaaaaa; }

input, select, textarea {
  -webkit-font-smoothing: antialiased; }

.reveal-modal-bg {
  background-color: rgba(224, 224, 224, 0.9); }

.reveal-modal {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

#wrapper {
  width: 980px;
  margin: 2.5em auto 1em;
  position: relative;
}



#wrapper > .actions{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#wrapper > .actions .container{
  text-align: right;
  width: 980px;
  margin: 0 auto;
  padding: 30px;
}

.fixed #wrapper > .actions{
  position: fixed;
  z-index: 1;
}

.fixed #wrapper .container{
  background: #ededed;
}

.field {
  margin-bottom: 1em;
}
.images{
  padding: 30px 0;
  margin: 0;
  font-size: 0;
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
}

.images.loading {
  opacity: 0.5;
}

.images li {
  vertical-align: top;
  position: relative;
  display:inline-block; 
  font-size: 12px;
  width: 191px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding:0;
}
.images li img {
  max-width: 100%;
}
.images li .actions {
  position: absolute;
  width: 100%;
  top: 100px;
  text-align: center;
  opacity: 0;
  transition: all .3s ease-out;
}

.images li:hover .actions {
  opacity: 1;
}

.images li .info .text{
  font-size: 16px;
}
.images li .info .name{
  text-transform: uppercase;
  font-weight: bold;
}
.images li .info .date{
  font-size: 12px;
  color: #999;
}

.errors {
  font-style: italic;
  font-size: 13px;
  color: red;
}