<script src="assets/js/vendor/jquery-min.js"></script>
<script>
var current = "on";

$(document).ready(function(){
    runMe();
});

function runMe(){

    r=100; g=230; b=60;
    var colors = [{'r':100,'g':100,'b':100},{'r':100,'g':100,'b':100}];
    var count = 0;

    var use = 0,
    diff_r, diff_g, diff_b;

    if(current=="on"){ use = 1; 

        diff_r = getdiff(colors[1].r, colors[0].r);
        diff_g = getdiff(colors[1].g, colors[0].g);
        diff_b = getdiff(colors[1].b, colors[0].b);
    }else{
        diff_r = getdiff(colors[0].r, colors[1].r);
        diff_g = getdiff(colors[0].g, colors[1].g);
        diff_b = getdiff(colors[0].b, colors[1].b);
    }

    var color_r = colors[use].r;
    var color_g = colors[use].b;
    var color_b = colors[use].b;

    


    $('.test').animate({'top':600+"px"},{

        step:function(a,b){

            if(b.prop=="top"){
                
                var nowPerc = ((a/600)*100);
                r = cal_presentColor(color_r, ((nowPerc/100)*diff), 'down');
            
            }
        },

        complete:function(){

            count++;
            if(count>(colors.length-1)){count=0;}

        },

        duration:1000

    });

}

function getdiff(v1,v2){
    if(v1>v2){
        return {'diff':(v1-v2), 'dir':'down'};
    }else{
        return {'diff':(v2-v1), 'dir':'up'};
    }
}

function cal_presentColor(c1, c2, dir)
{
    if(dir=="down"){
        return c1-c2;
    }else{
        return c1+c2;
    }
}

</script>

<style>
.test{
    width:200px;
    height:200px;
    background-color:#bc0;
    position:absolute;
}
</style>
<div class="test"></div>