/* -------------------------------------------------------------- 
	Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {

    #mn_hdr {
        height: 37px;
        padding-top: 10px;
        
        #logo {
            @include retina-image('../graphics/logo_mobile', 103px, 27px);
        }
    }

}// END @media only screen and (max-width: 600px)