/* -------------------------------------------------------------- 
	Fonts
-------------------------------------------------------------- */
@font-face{
    font-family:"Frutiger_light";
        src: url("../fonts/frutiger_light.eot?#iefix");
        src: url("../fonts/frutiger_light.eot?#iefix") format("eot"),
             url("../fonts/frutiger_light.woff") format("woff"),
             url("../fonts/frutiger_light.ttf") format("truetype"),
             url("../fonts/frutiger_light.svg#3f5a5b87-e71e-4544-be0c-da4daa132710") format("svg");
    font-weight: 300;
}

@font-face{
    font-family:"Frutiger_normal";
    src: url("../fonts/frutiger_normal.eot?#iefix");
    src: url("../fonts/frutiger_normal.eot?#iefix") format("eot"),
         url("../fonts/frutiger_normal.woff") format("woff"),
         url("../fonts/frutiger_normal.ttf") format("truetype"),
         url("../fonts/frutiger_normal.svg#c59a36ab-4ef8-4ee1-a2f8-48aa79d4f877") format("svg");
    font-weight: 400;
}

@font-face{
    font-family:"Frutiger_bold";
    src: url("../fonts/frutiger_bold.eot?#iefix");
    src: url("../fonts/frutiger_bold.eot?#iefix") format("eot"),
         url("../fonts/frutiger_bold.woff") format("woff"),
         url("../fonts/frutiger_bold.ttf") format("truetype"),
         url("../fonts/frutiger_bold.svg#fc09de64-de25-425e-90dc-a0cae29b02c4") format("svg");
    font-weight: 700;
}

@font-face{
    font-family: "FrutigerBoldIta";
    src: url("../fonts/FrutigerBoldIta.eot?#iefix");
    src: url("../fonts/FrutigerBoldIta.eot?#iefix") format("eot"),
         url("../fonts/FrutigerBoldIta.woff") format("woff"),
         url("../fonts/FrutigerBoldIta.ttf") format("truetype"),
         url("../fonts/FrutigerBoldIta.svg#8f91ebb0-2b00-4a50-baa9-865a6502384e") format("svg");
    font-style: normal;
    font-weight: normal;
}

/*** Custom icons ***/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?l3l7rh');
	src:url('../fonts/icomoon/icomoon.eot?#iefixl3l7rh') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?l3l7rh') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?l3l7rh') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?l3l7rh#icomoon') format('svg');;
	font-style: normal;
	font-weight: normal
}