/* --------------------------------------------------------------
                            Globals
----------------------------------------------------------------*/
* {
    //@include box-sizing(border-box); // Only suitable for IE8+
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-rendering: optimizeLegibility;
}

/*
* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}
*/

html {
    font-size: 62.5%;
}
body {
    font-family: $font-frutiger-light;
    line-height: $line-height-base;
    //-webkit-font-smoothing: antialiased; // Use here if needed otherwise use of specific elements
}

div{position:relative;}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: auto;
    color: #252525;
    line-height: 1.1;
}

h1 {
}
h2{
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

// Paragraphs
p {
    color: #252525;
    margin: 0 0 16px;
}

// Links
a {

    &:hover {

    }
}

// Text highlight - Keep indented so SASS compilers don't mess this up.
    ::selection {
        background: #e3e3e1;
    }
    ::-moz-selection {
        background: #e3e3e1;
    }

/*** Emphasis & misc ***/
small {
    font-size: 85%;
}

cite {
    font-style: normal;
}

// Outline
a:hover,
a:active,
a:focus,
object,
embed,
input::-moz-focus-inner {
    outline: 0 !important;
}
:focus {
    outline: -webkit-focus-ring-color auto 0; // Stop Chrome's horrid blue outline
}

// Contextual emphasis
.text_warning {
    color: $colour-warning;
}
.text_error {
    color: $colour-error;
}
.text_valid {
    color: $colour-valid;
}
.text_info {
    color: $colour-info;
}

// Alignment
.text_left {
    text-align: left;
}
.text_right {
    text-align: right;
}
.text_center {
    text-align: center;
}

// Lists
ul,
ol {
    margin-top: 0;
    margin-bottom: 16px;

    ul,
    ol {
        margin-bottom: 0;
    }
}

// Blockquotes
blockquote {
    margin: 0 0 16px;
    padding: 8px 16px;

    p {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.25;

        &:last-child {
            margin-bottom: 0;
        }
    }
    small {
        display: block;
        line-height: $line-height-base;

        &:before {
            content: '\2014 \00A0'; // EM DASH, NBSP
        }
    }

    // Float right with text-align: right
    &.pull_right {
        padding-left: 0;
        padding-right: 15px;

        p,
        small {
            text-align: right;
        }
        small {
            &:before {
                content: '';
            }
            &:after {
                content: '\00A0 \2014';// NBSP, EM DASH
            }
        }
    }
}// END blockquote

/*** Images ***/
img {
    vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img_responsive {
    @include img-responsive();
}

// Perfect circle
.img_circle {
    @include border-radius(50%); // set radius in percents
}

// Form
input,
button,
select,
textarea {
    background-image: none; // Remove gradient Firefox mobile puts on buttons and form elements
    font-family: inherit;
    font-size: inherit;
    line-height: 1.1;
}

// Only display content to screen readers
// See: http://a11yproject.com/posts/how-to-hide-content/
.sr_only {
    @include square(1px);
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

// Floats
.pull_right {
  float: right !important;
}
.pull_left {
  float: left !important;
}

// Toggling content
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text_hide {
    @include hide-text(); // Hide text from an element
}


// Clear
.clear {
    clear: both;
}

/**
 * Clearfix - use @extend .clearfix on classes or ID's which require it
 * e.g.
 *     .buttons {
 *         @extend .clearfix;
 *     }
**/
.clearfix,
%clearfix {
    @include pie-clearfix;
}


/* --------------------------------------------------------------
    General Layout
-------------------------------------------------------------- */

.showandtell
{
    position:absolute;
    top:10px;
    left:-260px;
    z-index:50;
    overflow:hidden;
}

.web-crop-tool{display:block;}
.mob-crop-tool{display:none;}

#tClone
{
    position:absolute;
}

.container {
    margin: 0 auto;
    //margin: 0;
    max-width: 810px;
    overflow:hidden;
    width: 100%;
}

#mn_hdr {
    background: #fff;
    height: 62px;
    position: relative;
    z-index: 200;
    #logo {
        @include retina-image('../graphics/logo', 152px, 40px);
        margin: 0 auto;
    }
}

/*** Page sections ***/
.page_section {
    display: none;
    position: relative;

    &#home {
        display: block;
        position:relative;
    }
}


/*******************************************************************/
/************app_button can be applied to all buttons***************/
/*******************************************************************/



textarea, input { outline: none; }

#cloned_img{position:absolute;}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

//#home .app_button:link    {background-color:green;}
//#home .app_button:visited {background-color:green;}


i {display:block; width:100%;}

#home .app_button:hover   {
background-color:#f60624;
@include standard_button_transition();
}

.grey_button, 
.app_button{
    cursor:pointer; 
    font-family: $font-frutiger-normal;
}

#home .grey_button:hover   {
background-color:$grey-button-color-on;
@include standard_button_transition();
}


#tag_friend_button_m,
#tag_friend_button{cursor:pointer;}

//#home .app_button:active  {background-color:yellow;}


/* --------------------------------------------------------------
    Home page layout
-------------------------------------------------------------- */

#home_content{display:block;}

.page1{display:none;}

.page2{display:none;}

.page0
{
    padding:0 0 107px 0;
    width: 90%;
    margin:auto;
    z-index: 3;
}

#home {

    #bg_colour,
    .bg_colour {
        left: 0;
        position: absolute;
        top: 0;
        @include square(100%);
    }

    #bg_colour,
    .bg_colour {
        @include opacity(.7);
        //@include transition(background 250ms ease-out);
        background-color: $tint-blue;
        //max-height:700px;
    }

    #bg_colour{
        z-index: 1;
    }

    #grad_overlay {
        @include square(100%);
        //max-height:700px;
        z-index: 2;
        left: 0;
        position: absolute;
        top: 0;
    }

    .page_info
    {
        color:#fff;
        text-align:center;
    }

    .home_explanation
    {
        width:90%;
        font-size: 260%;
        margin: 0 auto;
        padding: 48px 0 12px 0;
        font-family: $font-frutiger-normal;
    }

    .home_description 
    {
        font-size: 15px;
        margin: -5px 0 10px;
        font-family: $font-frutiger-light;
    }

    .body_explanation_w{
        font-size:140%;
        line-height: 1.7;
        margin:0 auto 32px auto;
        width:57%;
    }

    .body_explanation{
        display:none;
        font-size:335%;
        margin-bottom:49px;
    }

    .body_explanation span,
    .body_explanation_w span{
        font-family: $font-frutiger-normal;
    }

    .accept_tac_area{
        overflow:hidden;
        margin: 0 auto 32px auto;
        width:270px;
    }

    .accept_tac_area_left,
    .accept_tac_area_right{
        float:left;
    }

    .accept_tac_area_left{
        margin:-2px 7px;
    }

    .fp_check_cover{
        position:absolute;
        top:0;
        left:-52%;
        left:0;
        width:500%;
        height:100%;
        z-index:90;
        cursor:pointer;
    }

    .accept_tac_area_right{
        padding-top:3px;
        font-size:12px;
    }

    .check
    {
        cursor:pointer;
        //background: url('../graphics/checkbox/bare_checkbox.png') no-repeat;
        @include square(25px);
        background-color:#fff;
        border-radius:2px;

        .checked
        {
            cursor:pointer;
            display:none;
            background: url('../graphics/checkbox/checked.png') no-repeat;
            @include square(25px);
            background-position: 2px;
        }

    }


    #home_content {
        color: #fff;
        //z-index: 3;
        position:relative;
        background-image: url('../graphics/home_bg.jpg');
        background-size:110%;

        #home_slider {
            @include w_size(100%);
            @include max_width_size(592px);
            position: relative;
            margin: 0 auto;
        }

        .home_phone_slider_container{
            background-color:#fff;
            position: absolute;
            top: 15.5%;
            left: 14%;
            width: 69.5%;
            //height: 70.5%;
            overflow: hidden;

            ul, li{
                margin:0;
                padding:0;
                display:block;
            }

            ul{
                position:absolute;
                top:0;
                left:0;
                overflow:hidden;
                width:300%;
            }

            li{
                float:left;
            }
        }

    }

    .home_phone_slider {
        margin-left: 82px;
        top: 44px;
        width: 410px;
    }

    #create_yours_button_m{display:none;}

    .create_yours_button{
        cursor:pointer;
        width:180px;
        height: 54px;
        line-height: 54px;
        text-align:center;
        font-size:170%;
        font-family: $font-frutiger-bold;
        margin: 0 auto 32px auto;
        background-color: $button-red;
        border-radius:$button-radius;
    }

    .powered_by_block
    {
        width:135px;
        position:absolute;
        right:0;
        bottom:35px;
        overflow:hidden;
        padding-bottom:2px;

        .powered_by_desc
        {
            display:block;
            width:100%;
            margin: 0 auto 6px auto;
            max-width:90px;
            float:right;
            clear:both;
        }

        .powered_by_img
        {
            display:block;
            width:100%;
            float:right;
            max-width:135px;
            height: 16px;
        }
    }

}// END #home



/******************************************************************
                        Start of Page 1
******************************************************************/
.popups
{
    @include square(100%);
    position:absolute;
    top:0;
    left:0;
    z-index:7;
    /*background-image: url(../graphics/trash/2.jpg);
    background-position:-156px -184px;
    background-position:-156px -112px;*/
    display:none;
}

.popup_background
{
    position:absolute;
    @include square(100%);
    background-color:#000;
    @include opacity(.7);
    top:0;
    left:0;
}

.friend_list_box{
    position:absolute;
    top:60px;
    left:23%;
    width:56.3%;
    background-color:#fff;
    padding-bottom:15px;
    overflow:hidden;
    border-radius:$button-radius;
    display:none;
}

.friend_list_head_top
{
    width:100%;
    margin:0 0 20px 0;
    font-size:222%;
    text-align:center;
    padding:16px 0;
    background-color:#bc0;
    color:#838182;
    //background-color:transparent;
    background-color:$light-grey;
}

.friend_list_head
{
    width:83%;
    height:46px;
    margin:0 auto 20px auto;
    border:solid 2px #cdcdcd;
    border-radius:30px;

    i
    {
        position: absolute;
        font-size: 40px;
        top: 4px;
        left: 7px;
        color: #d2d2d2;
        width: 40px;
    }
}

.friend_finder_input
{
    width:75%;
    height:100%;
    margin:auto;
    border:0;
    display:block;
    padding:0 10px;
    font-size:150%;
    color:$text-grey;
}

.friend_list_rows
{
    background-color:#fff;
}

.friend_list_row
{
    width:95%;
    margin:0 auto 10px auto;
    overflow:hidden;
}

.friend_list_single
{
    width:33%;
    overflow:hidden;
    padding:13px 0;
    cursor:pointer;
    margin-right:0.5%;
    float:left;
    border-radius: 7px;
}



.friend_list_single.last
{
    margin-right:0;
}

.friend_list_single:hover{
    background-color:#f2f2f2;
    color:#000;
}

.friend_list_single_left,
.friend_list_single_right{
    //float:left;
}

.friend_list_single_left{
    width:45%;
    margin:0 auto;
}


.friend_list_single_right{
    width:100%;
    height:100%;
    padding:6px 4% 0 0;
    vertical-align:middle;
    font-size:150%;
    text-align:center;
}

.friend_list_single_left div
{
    //@include square(100%);
}

.fl_pic_cover{
    position:absolute;
    top:0;
    left:0;
    @include square(100%);
}

.loading
{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.tacs_box{

    position:absolute;
    top:65px;
    left:12.32%;
    width:76.6%;
    width:76.7%;
    min-height:200px;
    overflow:hidden;
    border-radius:$button-radius;
    background-color:#fff;
    padding:0 0 28px 0;
    display:none;
}

.tacs_box .tacs_box_interior{
    width:90%;
    margin:auto;
    overflow-y:auto;
    max-height:490px;
    font-size: 12px;
    line-height:15px;
}

.t1, .t2 
{
    font-size: 14px;
    font-family: $font-frutiger-normal;
}

a#terms_link{
    color:#fff;
}

a#terms_link:hover{
    text-decoration:none;
}

.friends_box
{
    position:absolute;
    top:73px;
    left:12.32%;
    width:76.6%;
    width:76.7%;
    overflow:hidden;
    border-radius:$button-radius;
    background-color:#fff;
    display:none;
}

.friend_title_box
{
    background-color:#ecebeb;
    color:$text-grey;
    height:43px;
    margin-bottom:24px;
    font-size:212%;
    padding-top:23px;
    text-align:center;
    font-family: $font-frutiger-normal;
}

.friend_list_head_top i,
.friend_title_box i
{
    position:absolute;
    display:block;
    cursor:pointer;
    top:10px;
    right:20px;
    width:32px;
    font-size: 40px;
    color: #CF0723;
}

.friend_single_image
{
    border-radius: 50px;
    border: 4px solid white;
}


.friend_interior
{
    padding:0 3.9% 40px 3.9%;
    overflow-y: auto;
    height: 500px;
}

.friends_box ul
{
    display:block;
    overflow:hidden;
    margin:0 0 4px 0;
    padding:0;
}

.friends_box li
{
    display:block;
    float:left;
    width:24.6%;
    overflow:hidden;
    max-height:140px;
    margin:0 0.53% 0 0;
    cursor:pointer;
    background-color:#ecebeb;
}

.friends_box li.last
{
    margin:0;
}

.page1 #return_w{/*display:none;*/}


#strip_finish_button_m{display:none;}
#strip_finish_button{display:block;}

#finish_typing_button_m{display:none;}
#finish_typing_button{display:block;}

#finish_creating_button_m{display:none;}
#finish_creating_button{display:block;}

.page1 #turning_back_block{
    display:none;
}

#write_here_block {
    display:none;
    background: url('/assets/graphics/gradient-slice.png');
    background-position: 0px -10px;
    padding-top: 25px;
}

.page1
{
    /*background-color:$button-red;
    background-image: url(../graphics/trash/f_list.jpg);
    background-position:-156px -184px;
    background-position:-5px -76px;*/

    .add_picture_strip_m{
        display:none;
        height:60px;
        background-color:$button-red;
        width:100%;
    }

    .add_picture_strip{
        overflow:hidden;
        background-color:$dark_brown_grey;
        background-repeat:no-repeat;
        color:#fff;
        font-size:134%;
        z-index:200;
    }

    .after_cropping_strip_left{
        overflow:hidden;
        background-color:$dark_brown_grey;
        //background-image:url(../graphics/trash/finish_bar.png);
        background-repeat:no-repeat;
        color:#fff;
        font-size:116%;
        z-index:200;
        width:225px;
        float:left;
        padding-top:4px;
    }


    #move_and_scale_bar,
    #finish_typing_bar,
    #bring_a_friend_bar,
    #centered_text_bar,
    #finish_entry_bar,
    #select_source_bar,
    #mobile_bar_start_typing, #mobile_bar_bring_along, #mobile_bar_finish_creating, #mobile_move_and_scale_bar {
        display:none;
    }

    .add_picture_strip .add_picture_strip_left,
    .add_picture_strip .add_picture_strip_right{
        float:left;
        overflow:hidden;
    }

    .choose_strip_left{
        width:148px;
        float:left;
        padding-top:1px;
        font-family:$font-frutiger-normal;
    }

    .choose_strip_interior,
    .select_source_interior{
        padding-top:19px;
        padding-bottom:33px;
    }

    .select_source_interior
    {
        display:none;
    }

    .finish_typing_strip_interior,
    .crop_strip_interior{
        padding-top:12px;
        padding-bottom:38px;

    }

    .crop_strip_interior{
        margin:auto;
        width:374px;
        height:2px;
        overflow:hidden;
    }

    .finish_entry_interior
    {
        padding-top:10px;
        padding-bottom:45px;
        margin:auto;
        width:400px;
        height:2px;
        overflow:hidden;
    }

    .after_cropping_strip_interior
    {
        padding-top:13px;
        padding-bottom:37px;
        margin:auto;
        width:322px;
        height:2px;
        overflow:hidden;
    }

    .finish_typing_strip_interior
    {
        padding-top:10px;
        padding-bottom:34px;
        margin:auto;
        width:351px;
        height:2px;
        overflow:hidden;
    }

    .bring_friend_strip_interior
    {
        padding-top:13px;
        padding-bottom:37px;
        margin:auto;
        width:314px;
        height:2px;
        overflow:hidden;
    }

    .crop_strip_left{
        margin-left:0;
        padding-top:5px;
        color:#fff;
        width:230px;
        font-family:$font-frutiger-normal;
        text-align:right;
    }

    .finish_entry_left{
        margin-left:0;
        padding-top:8px;
        color:#fff;
        font-family:$font-frutiger-normal;
        text-align:right;
    }

    .cropping_strip_left{
        width:442px;
    }

    .finish_typing_strip_left{
        width:454px;
    }

    .bring_a_friend_strip_left{
        width:443px;
    }

    .finish_entry_strip_left{
        width:240px;
        float:left;
    }

    .strip_finish_button{
        width:82px;
        height:30px;
        line-height: 30px;
        color:#fff;
        text-align:center;
        cursor:pointer;
        overflow:hidden;
        border-radius:$button-radius;
        background-color:$button-red;
        margin-top:1px;
    }

    .strip_cancel_button{
        width:82px;
        height:30px;
        line-height: 30px;
        color:#fff;
        text-align:center;
        cursor:pointer;
        overflow:hidden;
        border-radius:$button-radius;
        background-color:$grey-button-color-off;
        margin-top:1px;
    }

    #bring_no_friend_button 
    {
        background-color:$text-entry;
    }

    #bring_no_friend_button:hover
    {
        background-color: #bdbdbd;
    }
    

    .strip_finish_button .strip_finish_button_left,
    .strip_finish_button .strip_finish_button_right
    {
        float:left;
    }

    .strip_finish_button .strip_finish_button_left
    {
        padding:10px 0 0 10px;
    }

    .strip_finish_button .strip_finish_button_right
    {
        padding:0px;
        text-align:center;
        font-size:140%;
        width:63px;
    }

    #finish_entry_bar .strip_finish_button
    {
        height:40px;
        line-height: 40px;
        width:125px;
    }

    .add_picture_strip .add_picture_strip_left{
        width:210px;
    }

    .add_picture_strip .add_picture_strip_left span{
        font-style:italic;
        font-family: $font-frutiger-bold;
    }

    .add_picture_strip .add_picture_strip_right{
        width:30px;
        position: relative;
        margin-left: 10px;

        i {
            font-size: 30px;
            margin-top:1px;
            line-height: 15px;
        }
    }

    .add_picture_strip .resize_and_return_block_left{
        width:188px;
        float:left;
    }

    .add_picture_strip .resize_and_return_block{
        width:172px;
        position: relative;
        top: -2px;
        float:left;
        margin-left: 10px;

        i {
            font-size: 40px;
            line-height: 15px;
        }
    }

    .return_web,
    .forward_web{
        float:left;
    }

    .return_web{
        margin-right:6px;
    }

    .add_picture_strip .finish_typing_button_block{
        width:86px;
        position: relative;
        top: -2px;
        float:left;
        margin-left: 10px;

        i {
            font-size: 40px;
            line-height: 15px;
        }
    }

    .add_picture_strip .bring_no_friend_button_block{
        width:87px;
        position: relative;
        top: -2px;
        float:left;
        margin-left: 10px;

        i {
            font-size: 40px;
            line-height: 15px;
        }
    }

    .add_picture_strip .finish_creating_button_block{
        width:133px;
        position: relative;
        top: -2px;
        float:left;
        margin-left:15px;

        i {
            font-size: 40px;
            line-height: 15px;
        }
    }

    #tag_gray_area
    {
        background-color:$light-grey;
    }

    .tag_button_area{
        padding:1px 0 38px 0;
        //display:none;
        z-index:1;

        i {
            font-size: 40px;
            line-height: 15px;
        }
    }


    .turning_back_block{
        overflow:hidden;
        margin:auto;
        width:90%;
    }

    .turning_back_block_left,
    .turning_back_block_right{
        float:left;
        height:27px;
        width:49.5%;
        font-size:160%;
        text-align:center;
        padding:3% 0 0 0;
        margin:auto;
        color:#fff;
        overflow:hidden;
        border-radius:$button-radius;
    }
    
    .turning_back_block_left{
        margin:0 1% 0 0;
        background-color:$text-entry;
    }
    
    .turning_back_block_right{
        background-color:$button-red;
    }


    .tag_action_button{
        height:48px;
        width:90%;
        margin:auto;
        color:#fff;
        overflow:hidden;
        border-radius:$button-radius;
        background-color:$button-red;
    }

    .tag_action_button_left,
    .tag_action_button_right{
        float:left;
    }

    .tag_action_button_left{
        max-width:15px;
        width:10%;
        padding:15px 0 0 5%;
    }

    .tag_action_button_right{
        width:84%;
        text-align:center;
        font-size:170%;
        padding:12px 3% 0 0;
    }

    .tag_friend_area_cover{
        background-color:$light-grey;
        position:absolute;
        top:0;
        left:0;
        @include opacity(0.8);
        @include square(100%);
    }

    .tag_friend_area
    {
        padding:8px 0 60px 0;
        position:relative;
        @include opacity(0);

        .tag_friend_area_desc{
            width:90%;
            margin:auto;
            font-size:146%;
            color:#222;
            text-align:center;
            display:table;
            margin: 0 auto 20px auto;
        }

        .friends_tagged{
            width:126px;
            overflow:hidden;
            margin:auto;
        }

        .f_tagged{
            position:relative;
            height:58px;
            width:58px;
            float:left;
            margin: 0 10px 0 0;
            overflow:hidden;
            //background: url('../graphics/picture/fb_tag_mask.png') no-repeat;
    
        }

        .f_tagged .add_fb_img{
            width:100%;
        }

        .f_tagged.f_tagged_last{
            margin:0;
        }

        #tagged_person_image{display:none;}

        .add_f_button{
            height:58px;
            width:58px;
            background-color:$button-red;
        }

        .add_f_button_plus{
            margin:20px 0 0 20px;
        }

        .f_pic_cover{
            position:absolute;
            top:0;
            left:0;
            z-index:0;
            @include square(100%);
        }

        .friend_plus
        {
            display: none;
            width: 18px;
            background-image: url('/assets/graphics/picture/tagged_friend_plus.png');
            height: 18px;
            float: left;
            margin: 20px 10px 0 0;
        }
    }

    .no_thanks_button_area
    {
        padding:13% 0 0 0;
        padding:3% 0 0 0;
        display:none;
    }

    .no_thanks_button_area_spacer
    {
        width:100%;
        height:92px;
        height:auto;
    }

    .tag_friend_no_thanks_button
    {
        color: #ffffff;
        margin:auto;
        width:90%;
        font-size:170%;
        padding:4% 0 4% 0;
        text-align:center;
        cursor:pointer;
        border-radius:$button-radius;
        background-color:$text-entry;
    }

}

.page1_pocket
{
    position:absolute;
    @include square(100%);

    img {
        height: 140%;
    }
}

.page_background_tint
{
    position:absolute;
    top:0;
    left:0;
    @include square(100%);
    @include opacity(0);
    background-color:#fff;
}

.add_picture_pocket_m
{
    display:none;
    overflow:hidden;
    width:100%;
}

.add_picture_pocket_m_backdrop{
    position:absolute;
    top:0;
    left:0;
    @include square(100%);
    z-index:0
}

.photo_cta_area
{
    position:absolute;
    top:40%;
    //bottom:5%;
    left:0;
    width:100%;
}

.m_source_buttons
{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    padding:20.5% 0 0 0;
    display:none;
}

.m_source_buttons_interior{
    height:100%;
    width:100%;
}

.m_source_button{
    width:80%;
    height:15%;
    margin:0 auto 5% auto;
}

.cta_action_glow_area
{
    position:relative;
    margin:0 0 0 0;
}

.cta_action_glow_holder
{
    position:relative;
    display:block;
    margin:auto;
    width:28%;
    max-width:229px;
    cursor:pointer;
}

.cta_glow_hidden{
    visibility:hidden;
}

.cta_action_glow_m{
    position:absolute;
    top:0;
    left:0;
    @include opacity(0);
}

.select_cource_cta{
    position: absolute;
    top:0;
}

.cta_area_action_img
{
   //position: absolute;
   font-size: 30px;
   //top: 0;
}

.icon_our_library, .icon_Instagram
{
    line-height: 15px;
}

.icon_facebook
{
    line-height: 28px;
}

.cta_exp_desc,
.cta_exp_extry
{
    margin:auto;
    text-align:center;
    color:#fff;
}

#write_here_block .pic_display_ctas_textarea_input {
    overflow: hidden;
    border: none;
    font-size: 220%;
    padding: 0px 10%;
    width: 80%;
    opacity: 1;
    background: transparent;
    text-align: center;
    word-wrap: break-word;
    font-family:$font-frutiger-bold;
    color:$text-entry;
    color:#fff;
    font-style: italic;
}

.cta_exp_desc
{
    font-size:344%;
    margin:0 0 0 0;
    font-family:$font-frutiger-normal;
    //line-height:100%;
    //line-height:137%;
}

.cta_exp_extry
{
    display:block;
    font-size:692%;
    width:90%;
    height:78px;
    padding:0 5%;
    border:0;
    color:$text-entry;
    color:#fff;
    background-color:transparent;
    font-family: $font-frutiger-bold;
}

.add_picture_pocket{
    height:0px;
}

.add_picture_pocket .add_picture_pocket_phone{
    position:absolute;
    top:40px;
    left:170px;
    width:472px;
    height:478px;
    padding:13px 0 0 0;
    //background: url('../graphics/picture/phone/phone.png') no-repeat;
    @include opacity(0);
}

.add_picture_pocket .add_picture_pocket_phone .pocket_phone_back
{
    position:absolute;
    top:9%;
    left:0px;
}

.pic_display_case{
    position:relative;
    width:376px;
    height:327px;
    padding:138px 0 0 48px;
}

.pic_source_block
{
    position:absolute;
    left:48px;
    top:138px;
    width:374px;
    height:254px;
    padding:54px 0 0 0;
    display:none;
}

.typeNowPopup,
.typeNowPopup_m{
    position:absolute;
}

.typeNowPopup{
    display:none;
    background-image:url(../graphics/typeNowPopup.png);
    top:250px;
    left:108px;
    width:200px;
    height:92px;
    padding:22px 28px 0 28px;
    font-size:147%;
    text-align:center;
}

.typeNowPopup_m{
    display:none;
    top:-287px;
    width:100%;
}

.typeNowPopup_m_interior{
    margin:auto;
    width:80%;
    max-width:661px;
}

.typeNowPopup_m_interior_txt_box{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
}

.typeNowPopup_m_interior_txt{
    width:100%;
    padding-top:41px;
    margin:auto;
    text-align:center;
    font-size:350%;
}

.textWordCount
{
    display: none;
    position: absolute;
    top: 153px;
    right: 18px;
    width: 30px;
    height: 30px;
    background: #323130;
    border-radius: 5px;
    color: #FFF;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}

.textWordCount_m
{
    display: none;
    position: absolute;
    top: 10px;
    right: 18px;
    width: 30px;
    height: 30px;
    background: #323130;
    border-radius: 5px;
    color: #FFF;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}

.source_pic_shadow
{
    position:absolute;
    top:0;
    left:0;
    @include square(100%);
}

.m_source_button,
.pic_source_block .source_button
{
    color:#fff;
    font-size:150%;
    text-align:center;
    font-family:$font-frutiger-normal;
    background-color: $button-red;
    border-radius:$button-radius;
    cursor:pointer;
}

.pic_source_block .source_button
{
    width:302px;
    height:38px;
    padding:20px 0 0 0;
    margin:0 auto 22px auto
}

.m_source_button{
    width:80%;
    height:15%;
    margin:0 auto 5% auto;
    overflow:hidden;
}

.m_source_button_left,
.m_source_button_right{
    float:left;

}

.m_source_button_left{
    width:20%;
    max-width:33px;
}

.fb_src_button_m_left,
.inst_src_button_m_left,
.lib_src_button_m_left{
    margin:7% 0 0 9%;
}

.m_source_button_right{
    width:60%;
    padding:6% 0 0 1%;
    text-align:center;
}

.finished_pic_display_m{
    position:absolute;
    @include square(100%);
    overflow:hidden;
    top:0;
    left:0;
}

.pic_display_m{
    position:absolute;
    @include square(100%);
    overflow:hidden;
    top:0;
    left:0;
}

.pic_display_case .pic_display{
    position:relative;
    width:374px;
    height:327px;
    overflow:hidden;
}

.pic_display_ctas{
    position:absolute;
    top:137px;
    left:47px;
    width:380px;
    height:328px;
    //@include square(141px);
}

.pic_display_ctas_pic
{
    margin:90px auto;
    cursor:pointer;
    @include square(141px);
}

.pic_display_ctas_pic .pic_display_ctas_pic_glow{
    @include opacity(0);
    @include square(141px);
}

.pic_display_ctas_pic .pic_display_ctas_pic_button{
    position:absolute;
    top:50px;
    left:50px;
    width:48px;
    height:38px;
}

.pic_display_ctas_textarea
{
    position:absolute;
    bottom:0px;
    left:0px;
    margin:auto;
    color:#fff;
    width:100%;
    max-width:376px;
    display:none;
    z-index:6;
    background: url('/assets/graphics/gradient-slice.png');
    background-position: 0px -10px;
    padding-top: 25px;
}

.pic_display_ctas_textarea .pic_display_ctas_textarea_desc,
.pic_display_ctas_textarea .pic_display_ctas_textarea_input
{
    width:100%;
    text-align:center;
}

.pic_display_ctas_textarea .pic_display_ctas_textarea_desc
{
    margin: 0 auto 13px auto;
    font-size:180%;
}

.pic_display_ctas_textarea .pic_display_ctas_textarea_input
{
    margin:auto;
    background-color:transparent;
    font-size:270%;
    font-family:$font-frutiger-bold-italic;
    font-family:$font-frutiger-bold;
    font-style:italic;
    color:$text-entry;
    color:#fff;
    @include font-stretch(1.15,1);
    word-wrap:break-word;
    max-width:227px;
    padding:0 12px;
    border:0;
    display:block;
    resize:none;
    z-index: 99;
    position: inline-block;

}



/******************************************************************
page1 ends
******************************************************************/



/******************************************************************
page2 begins
******************************************************************/

.thanks_main_window_m{
    display:none;
    //background: url('../graphics/trash/7.jpg') no-repeat;
    //background-position:0 -233px;
}

.thanks_m_question_strip{
    height:60px;
    background-color:#000;
}

.thanks_m_photo_back{
}

.thanks_main_window{
    color:#fff;
    height:486px;
    overflow:hidden;
    background: url('../graphics/thank_you/back.jpg') no-repeat;
    //background-position:1px -2px;
    //@include opacity(.5);
}

.thanks_main_window_left,
.thanks_main_window_right{
    float:left;
    height:100%;
    color:#fff;
}

.thanks_main_window_left{
    display:none;
    width:334px;
    //min-width:360px;
    padding:67px 0 0 26px;
}

.thanks_main_header h1,
.thanks_main_header h3{
    color:#fff;
    margin:0;
    font-family:$font-frutiger-bold;
    text-align:center;
}

.thanks_main_header h1{
    font-size:480%;
}

.thanks_main_header h3{
    font-size:350%;
    margin:0 0 16px 0;
}

.small_msgs{font-size:140%;}

.small_msgs1,
.small_msgs2{
    margin:auto;
    text-align:center;
}

.small_msgs1{
    margin:0 0 35px 0;
}

.small_msgs2{
    margin:0 0 14px 0;
}

.thanks_email_entry_block{
    width:282px;
    height:42px;
    margin:0 0 39px 25px;
    position:relative;
}

.thanks_email_entry_block_back{
    background-color:#000;
    border-radius:$button-radius;
    @include square(100%);
    @include opacity(.3);
}

.thanks_email_entry_cta_holder{
    position:absolute;
    top:0;
    left:0;
    @include square(100%);
}

.thanks_email_entry_cta_left,
.thanks_email_entry_cta_right{
    float:left;
}

.thanks_email_entry_cta_left{
    display:block;
    width:184px;
    height:30px;
    margin:5px 0 0 6px;
    padding:0 0 0 6px;
    border:0;
    text-align:left;
    background-color:transparent;
    font-size: 12px;
    color: #FFF;
}


#home .check.error{
    background-color:$colour-error;
    background-color:red;
}

.thanks_email_entry_cta_right{
    position:absolute;
    overflow:hidden;
    background-color: $button-red;
    width:76px;
    height:34px;
    margin:4px 0 0 6px;
    border-radius:$button-radius;
    cursor:pointer;
    right:2px;
    top:-1px;
}

.thanks_email_entry_cta_right_left,
.thanks_email_entry_cta_right_right{
    float:left;
    margin-top:11px;
}

.thanks_email_entry_cta_right_left{
    background-image:url(../graphics/checkbox/big/check.png);
    width:12px;
    height:12px;
    margin-left:13px;
}

.thanks_email_entry_cta_right_right{
    background-image:url(../graphics/checkbox/big/check_off.png);
    width:9px;
    height:10px;
    margin-left:26px;
}

.thanks_email_sliding_check{
    position:absolute;
    left:3px;
    top:2px;
    background-image:url(../graphics/checkbox/big/big_checkbox.png);
    background-repeat:no-repeat;
    width:34px;
    height:31px;
}

.thanks_main_window_right{
    width:450px;
}

.thanks_email_share_block
{

}

.thanks_email_share_block_text
{
    margin: 0 auto 9px auto;
    text-align:center;
    font-size:146%;
}

.thanks_email_share_block_icons
{
    overflow:hidden;
    width:101px;
    margin:auto;
}

.thanks_email_share_block_icons_left,
.thanks_email_share_block_icons_right
{
    float:left;
    height:43px;
    width:43px;
}

.thanks_email_share_block_icons_left
{
    background-image:url(../graphics/share/icons/f.png);
    margin-right:15px;
}

.thanks_email_share_block_icons_left:hover
{
    background-image:url(../graphics/share/icons/f_hover.png);
    cursor:pointer;
}

.thanks_email_share_block_icons_right
{
    background-image:url(../graphics/share/icons/t.png);
}

.thanks_email_share_block_icons_right:hover
{
    background-image:url(../graphics/share/icons/t_hover.png);
    cursor:pointer;
}

.thank_you_phone_case{
    width:424px;
    margin:58px 0 0 8px;
}

.thanks_sec_window{
    display:none;
    position:relative;
    height:309px;
    //background-color:$light-grey;
}

.thanks_sec_window_left{
    position:absolute;
    //top:-46px;
    top:0px;
    left:49px;
    display:block;
}

.thanks_sec_window_right{
    height:264px;
    width:420px;
    padding:45px 0 0 0;
    margin:0 0 0 390px;
}

.thank_you_logo{
    margin:0 0 26px 35px;
}

.thank_you_info_msg{
    text-align:center;
    font-size:140%;
    width:90%;
    margin: 0 auto 22px auto;
}

.thank_you_button{
    text-align:center;
    font-size:170%;
    width:44%;
    height:36px;
    display:block;
    text-decoration:none;
    color:#fff;
    padding-top:12px;
    margin:auto;
    font-family: $font-frutiger-bold;
    background-color: $button-red;
    border-radius:$button-radius;
}

/******************************************************************
page2 ends
******************************************************************/





.m_thank_you{
    width:100%;
    color:#fff;
    text-align:center;
    display:none;
}

.m_thank_header{
    font-size:477%;
    padding:39px 0 0 0;
    line-height:83%;
    font-family: $font-frutiger-bold;
}

.m_thank_sub_header{
    font-size:377%;
    padding:3px 0 0 0;
    font-family: $font-frutiger-bold;
}

.m_thank_sub_header_small{
    font-size:170%;
    padding:3px 0 0 0;
    margin:0 0 40px 0;
    font-family: $font-frutiger-normal;
}

.m_thank_email_header{
    font-size:200%;
    padding:0 0 0 0;
    margin:0 0 15px 0;
    font-family: $font-frutiger-normal;
}

.thank_you_p1_interior{
    width:90%; 
    padding:34px 0 75px 0; 
    margin:auto;
}

.m_thank_email_entry_box{
    width:100%;
    overflow:hidden;
    margin:0 0 46px 0;
    padding:0 0 6px 0;
}

.m_thank_email_container
{
    @include square(100%);
    width:100%;
    height:100%;
    overflow:hidden;
}

.m_thank_email_box_shadow{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    @include opacity(.2);
    background-color:#000;
    border-radius:$button-radius;
}

.m_thank_email_left{
    float:left;
    margin:20px 0 10px 0;
    padding:0 5% 0 2%;
    border:0;
    height:41px;
    width:64%;
    font-size:270%;
    display:block;
    color:#FFF;
    background-color:transparent;
}

.thanks_email_entry_cta_left.error,
.m_thank_email_left.error{
    color:$button-red;
}

.m_thank_email_left::-webkit-input-placeholder {
    color:$text-grey;
}
.m_thank_email_left:-moz-placeholder {
    color:$text-grey;
}
.m_thank_email_left::-moz-placeholder {
    color:$text-grey;
}
.m_thank_email_left:-ms-input-placeholder {
    color:$text-grey;
}

.m_thank_email_right{
    margin:6px 2% 1px 0;
    width:20%;
    height:66px;
    cursor:pointer;
    border-radius:$button-radius;
    background-color:$email-switch-red;
    position:absolute;
    top:-1px;
    right:2px;
}

.m_thank_email_slider{
    position:absolute;
    width:50%;
    height:86%;
    top:7%;
    left:4%;
    background-color:#fff;
    border-radius:$button-radius;
}

.email_xs_and_ticks{
    position:relative;
    @include square(100%);
    overflow:hidden;
}

.email_xs_and_ticks .tick,
.email_xs_and_ticks .xs{
    float:left;
    width:10%;
}

.email_xs_and_ticks .tick{
    margin:22px 34% 0 22%;
}

.email_xs_and_ticks .xs{
    margin:21px 0 0 0;
}

.m_thank_share_area{

}

.m_thank_share_area_header{
    font-size:180%;
    margin:0 0 18px 0;
    font-family: $font-frutiger-bold;
}

.m_thank_share_area_icons{
    overflow:hidden;
    margin:0 auto 1px auto;
    width:39%;
    max-width:100px;
    //padding:0 0 0 118px;
}

.m_thank_share_area_icons_left,
.m_thank_share_area_icons_right{
    float:left;
    width:45%;
    max-width:94px;
    cursor:pointer;
}

.m_thank_share_area_icons_left{
    margin-right:10%;
}

.m_thank_share_area_icons_left .fb_share_icon_hover{
       
}

.m_thank_share_area_icons_left .fb_share_icon_hover:hover{
    
}

.m_thank_share_area_icons_left .fb_share_icon:hover{
    
}

.m_thank_share_area_icons_right{
}

.m_thank_ist{
    /*background-image:url(../graphics/trash/9.jpg);
    background-repeat:no-repeat;
    background-position:0 -485px;*/
}

.m_thank_ist_background,
.bg_image,
.bg_gradient{
    position:absolute;
    top:0;
    left:0;
    @include square(100%);
}

.bg_image{
    background-image:url(../graphics/home_bg.jpg);
    background-size:200%;
}

.m_thank_2nd{
    width:100%;
    padding:58px 0 76px 0;
    color:#000;
    background-color:#fff;
}

.m_thank_2nd_logo{
    width:76%;
    max-width:370px;
    display:block;
    margin:0 auto 38px auto;
}

.m_thank_2nd_stack{
    width:48%;
    max-width:495px;
    display:block;
    margin:0 auto 20px auto;
}

.m_thank_2nd_msg{
    font-size:230%;
    font-family: $font-frutiger-normal;
    width:82%;
    margin:0 auto 49px auto;
    max-width:750px;
}

.m_thank_2nd_lmore_button{
    color:#fff;
    width:90%;
    max-width:440px;
    font-family: $font-frutiger-bold;
    background-color: $button-red;
    border-radius:$button-radius;
    font-size:170%;
    padding:5% 0 5% 0;
    margin:auto;
    display:block;
    text-decoration:none;
}

#loader {
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    text-align: center;
    background: rgba(255, 255, 255, .7);
    position: absolute;
    z-index: 1000;
}
ul.images{
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 75px;
        height: 75px;
        font-size: 0;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
        }
    }
}

$final-image-width: 698px;
$final-image-height: 698px;

$final-image-width:590px;
$final-image-height:590px;

#crop_tool{
    height:94%;
    height:72%;
    width:85%;
    position:absolute;
    bottom:0;
    left:8%;
    z-index:9;
    display:none;

    // The only condition for these values is that they must keep the same aspect ratio as the final area
    $scale: 0.85;
    $hole-width: round($final-image-width * $scale);
    $hole-height: round($final-image-height * $scale);

    #cached_img {
        display: none;
    }

    .status {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 10;
    }


    .borders {
        height: 100%;
    }

    // borders
    .border{
        position: absolute;
        width: 100%;
        height: 100%;
        //background: #FFF;

        &.top{
            top: -50%;
            margin-top: $hole-height / -2;
        }
        &.right{
            right: -50%;
            margin-right: $hole-width / -2 + 1;
        }
        &.bottom{
            bottom: -50%;
            margin-bottom: $hole-height / -2 + 1;
        }
        &.left{
            left: -50%;
            margin-left: $hole-width / -2;
        }
    }
    .image{
        // image on the back
        position: absolute;
        margin-left: 0;
        margin-top: 0;
    }

    .mask, .image_container{
        // mask and image container, to keep the same coordinates as in the mask
        position: absolute;
        //width: $hole-width;
        //height: $hole-height;
        width:100%;
        height:100%;
        width:70%;
        height:70%;
        width:100%;
        height:100%;
        top: 50%;
        left: 50%;
        top:30%;
        left:15%;
        top:0;
        left:0;
        //margin-top: $hole-height / -2;
        //margin-left: $hole-width / -2;
        //display:none;
    }

    .image_container img{@include opacity(0.1);}


    .backdrop_mask_surround{
        position:absolute;
        left:148px;
        top:17px;
        width:374px;
        height:327px;
        overflow:hidden;
    }

    .backdrop_mask{
        position:absolute;
        left:153px;
        top:17px;
        width:374px;
        height:327px;
        overflow:hidden;
        background-color:#000;
    }

    .backdrop_mask img{
        position:absolute;
        left:0;
        top:0;
    }

    .image_container_backdrop{
        position:absolute;
        top:12px;
        left:90px;
        width:100%;
        height:100%;
        background-color:#5c8ae1;
        //background-color:#b00;
        @include opacity(0.5);
    }

    .box{
        // jquery resizable
        border: 1px dashed #CCC;
        width: 0;
        height: 0;
        position: absolute;
        z-index:100;
        display: block;
        background: url('../graphics/cropTransparentBackground.png');
    }

    &.active {
        .box {
            display: block;
        }
    }
    .ui-resizable-handle{
        $handleSide: 12px;
        position: absolute;
        width: $handleSide;
        height: $handleSide;
        background: #999 -794px -429px  no-repeat;
        background-color: $button-red;

        &.ui-resizable-ne{
            right: -4px;
            top: -4px;
        }

        &.ui-resizable-se{
            right: -4px;
            bottom: -4px;
        }

        &.ui-resizable-nw{
            left: -4px;
            top: -4px;
        }

        &.ui-resizable-sw{
            left: -4px;
            bottom: -4px;
        }

    }

}

#add_pic_bar {
    width: 190px;
    margin: 0 auto;
}


.mobile_bar_start_typing,
.mobile_bar_bring_along,
.mobile_bar_finish_creating,
.mobile_bar_select_source,
.mobile_move_and_scale_bar{
    overflow:hidden;
    font-family: $font-frutiger-normal;
    ///font-style:italic;
    font-size:115%;
    margin:auto;
}

.mobile_bar_select_source_left,
.mobile_bar_select_source_right{
    float:left;
}

.mobile_bar_select_source_left{
    text-align:right;
    padding:8px 0 0 0;
    margin:0 0.8% 0 36%;
}

.mobile_bar_select_source_right{
    text-align:left;
}

.mobile_bar_select_source_right i{
    font-size:220%;
}

.mobile_bar_finish_creating_inside,
.mobile_bar_bring_along_inside,
.mobile_bar_start_typing_inside,
.mobile_move_and_scale_bar_inside{
    text-align:center;
    margin:auto;
    padding:8px 0 7px 0;
}













.pinching_absolute{
    display:none;
}


.pinching_absolute,
.pinching_absolute .pinching_inner,
.pinching_inner .pinching_backdrop,
.pinching_viewport .pinching_scalable{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.pinching_absolute .pinching_inner{
    
}

.pinching_inner .pinching_backdrop{
    @include opacity(.3);
}

.pinching_inner .pinching_backdrop #pinching_mask_img{
    position:absolute;
}

.pinching_inner .pinching_viewport{
    position:relative;
    width:81.5%;
    height:81%;
    border:solid 7px #fff;
    overflow:hidden;
    margin:7% auto 0 auto;
}

.pinching_viewport .pinching_scalable{
    position:absolute;
    -webkit-transform: translate3d(0,0,0);
}

.pinching_viewport .pinching_scalable img{
    //visibility:hidden;
}

.pinching_handle{
    width:100%;
}



































//Ipad landscape styles
@media only screen and (max-width:9000px)
{}




















































@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) 
{ 

    #home .accept_tac_area_left {
        margin: 4px 7px 10px 300px;
    }
}




@media only screen and (max-width:800px)
{

    //#mn_hdr{background-color:#b0b;}

    .container{

        padding-bottom:0;
        width:100%;
        max-width:100%;
    }

    .web-crop-tool{display:none;}
    .mob-crop-tool{display:block;}


    #crop_tool
    {
        left:0;
        top:0;
        width:100%;
        height:100%;
        bottom:auto;
        overflow:hidden;
    }

    #crop_tool .image_container_backdrop{
        top:9%;
        left:9.9%;
        width:81.5%;
        height:81%;
    }

    #crop_tool .mask, #crop_tool .image_container{
        /*top:9%;
        left:9.9%;
        width:81.5%;
        height:81%;*/
        top:8%;
        left:14%;
        width:85%;
        height:85%;
    }

    #crop_tool .backdrop_mask_surround{
        top:7.5%;
        left:7.75%;
        width:84.5%;
        height:85%;
        background-color:#fff;
    }

    #crop_tool .backdrop_mask{
        /*top:9%;
        left:9.9%;
        width:81.5%;
        height:81%;
        border:solid #b00 1px;*/

        top:1.5%;
        left:1.5%;
        width:97%;
        height:97%;

    }

    .m_source_buttons{
        padding-top:27.5%;
    }

    .m_source_button{
        width:50%;
        height:60px;
        margin:0 auto 20px auto;
        padding-top:0;
    }

    .fb_src_button_m_left{
        margin:5% 0 0 9%;
    }

    #home {

        .home_explanation
        {
            width:100%;
            font-size:260%;
            padding-top:50px;
        }

        #home_content{


            #home_slider{
                margin: 0 auto 6px auto;
            }

            .home_phone_slider_container{
                top:14.5%;
            }

        }

        .body_explanation
        {
            display:block;
            margin-bottom: 24px;
            font-size:130%
        }

        .body_explanation_w
        {
            display:none;
            margin:0 auto 49px auto;
        }

        .accept_tac_area{
            //display: none;
            width:274px;
            margin:0 auto 33px auto;
        }

        .accept_tac_area_right {
            font-size:143%;
        }

        .accept_tac_area_left {
            margin: 4px 7px 12px 200px;
        }

        #create_yours_button{display:none;}

        #create_yours_button_m{
            display:block;
            font-size:160%;
            height:64px;
            line-height:64px;
            width:48%;
            padding:0;

        }

        .create_yours_button{
            width: 100%;
            height:81px;
            margin: 0 auto 36px auto;
            font-size:335%;
            padding:25px 0 0 0;
        }

        .powered_by_block
        {
            position:relative;
            float:none;
            margin:0 auto;
            width:100%;
            bottom:0;

            .powered_by_desc,
            .powered_by_img
            {
                float:none;
                margin: 0 auto;
            }

            .powered_by_desc {
                padding: 0 0 6px 0;
            }

        }

    }


    /*********************************************************************
    Page1
    *********************************************************************/

    .page1_pocket{display:none;}

    /*.page1 .add_picture_strip_m{
        display:block;
    }

    .page1 .add_picture_strip{
        display:none;
    }*/

    .add_picture_pocket_m
    {
        display:block;
    }

    .add_picture_pocket
    {
        display:none;
    }

    .page1 .tag_friend_area{
        padding-top:20px;
        padding-bottom:20px;
        @include opacity(1);
    }

    .page1 .tag_friend_area .tag_friend_area_desc
    {
        font-size:260%;
        margin-bottom:35px;
    }

    .page1 .tag_friend_area .friends_tagged
    {
        width:218px;
    }

    .page1 .tag_friend_area .f_tagged
    {
        margin:0 27px 0 0;
    }

    .page1 .tag_friend_area .add_f_button
    {

    }

    .page1 .tag_friend_area .add_f_button .add_f_button_plus
    {
        width:21px;
        margin:36px 0 0 38px;
    }

    .page1 .tag_friend_area .add_f_button,
    .page1 .tag_friend_area .f_tagged
    {
        @include square(95px);
    }

    .page1 .tag_friend_area .f_tagged .f_pic_cover img{
        width:100%;
    }



    /*****************Top Strip **********************/



    #strip_finish_button_m{display:block;}
    #strip_finish_button{display:none;}

    #finish_typing_button_m{display:none;}
    #finish_typing_button{display:none;}

    #finish_creating_button{display:none;}

    .page1 .choose_strip_interior 
    {
        padding-top: 10px;
        padding-bottom: 24px;
    }

    .page1 #add_pic_bar, .page1 .select_source_bar,
    .page1 #move_and_scale_bar, .page1 #finish_typing_bar, .page1 #bring_a_friend_bar, .page1 #finish_entry_bar,
    #bring_a_friend_bar_m{
        display:none;
    }

    .mobile_bar_select_source_left{
        margin:0 0.8% 0 37%;
    }

    .page1 #move_and_scale_bar{display:none;}

    .page1 .centered_text_bar{
        display:none;
        color:#fff;
        padding:12px 0;
        text-align:center;
        font-size:134%;
    }

    .page1 .choose_strip_interior
    {
        width:235px;
        margin:auto;
    }

    .page1 .select_source_interior
    {
        width:184px;
        margin:auto;
        display:block;
    }

    .page1 .choose_strip_left{
        margin-left:0;
    }

    .page1 .add_picture_strip .add_picture_strip_left{
        margin:auto;
        width:100%;
        font-size:100%;
        text-align: center;
    }

    .page1 .add_picture_strip .choose_strip_left {
        width: auto;
    }

    .page1 .add_picture_strip .add_picture_strip_right{
        margin-top:2px;

        i {
            font-size: 30px;
        }
    }

    .page1 .add_picture_strip #select_source_bar .add_picture_strip_right{
        margin-top:2px;
    }

    .page1 #finish_typing_bar
    {
        width:310px;
        margin:auto;
    }

    .page1 .add_picture_strip .finish_typing_strip_left{
        width:100%;
        text-align: center;
    }

    .page1 .add_picture_strip .add_picture_strip_left.finish_entry_strip_left{
        width:100%;
        padding-top:4px;
        text-align: center;
    }

    .page1 #finish_entry_bar{
        width:328px;
        margin:auto;
        padding-bottom: 30px;
    }

    .page1 #finish_entry_bar .strip_finish_button{
        width:95px;
    }

    .page1 .strip_finish_button .strip_finish_button_left{
        padding:3px 0 0 8px;
    }

    .page1 .strip_finish_button .strip_finish_button_right{
        width:63px;
    }

    .page1 .add_picture_strip {
        background-color: #111111;
    }

    .cta_area_action_img {
        //margin-left: 20%;
        //width: 60%;
    }

    /***************Top Strip end ********************/



    /******************************************************************
    page2 begins
    ******************************************************************/

    .thanks_main_window,
    .thanks_sec_window
    {
        display:none;
    }

    .thanks_main_window_m
    {
        display:none;
    }

    /******************************************************************
    page2 ends
    ******************************************************************/

    .friends_box{
        top:64px;
        left:3.32%;
        width:94%;
    }

    .friends_box li{
        width:33%;
        max-height:125px;
        overflow:hidden;
        margin:0 0.5% 3px 0;
    }

    .friends_box li.last{
        margin:0;
    }

    #bring_no_friend_button {
        display: none;
    }

    .typeNowPopup_m_interior_txt{
        padding-top:47px;
    }

    .typeNowPopup_m{
        top:-287px;
    }

}



@media only screen and (max-width:690px)
{
    //#mn_hdr{background-color:#b00;}

    .friend_list_box {
        top:40px;
        left:5%;
        width:90%;
    }

    .friend_list_head_top i,
    .friend_title_box i{
        font-size: 30px;
        top: 20px;
        right: 14px;
    }

    .cta_exp_desc
    {
        font-size:264%;
    }

    .cta_exp_extry
    {
        font-size:490%;
        height:54px;
    }

    .mobile_bar_select_source_left{
        //text-align:right;
        //padding:8px 0 0 0;
        margin:0 0.8% 0 35%;
    }

    #home .home_explanation{
        font-size: 300%;
        padding-top: 10px;
    }

    #home .body_explanation {
        font-size:335%;   
    }

    #home .create_yours_button{
            height: auto;
            font-size: 160%;
            padding: 12px 0;
    }

    #home #create_yours_button_m{
        width:90%;
        font-size:240%;
        height:auto;
        line-height:1.3;
        padding:12px 0 12px 0;
    }

    #home #home_content .home_phone_slider_container{
        top:15%;
    }

    .accept_tac_area{
        width:290px;
        margin:0 auto 39px auto;
    }

    .friends_box li{
        max-height:100px;
    }

    #home .accept_tac_area{
        margin: 0 auto 23px auto;
    }    

    .email_xs_and_ticks .tick{
        margin-top:28px;
    }

    .email_xs_and_ticks .xs{
        margin-top:27px;
    }

    .m_source_buttons{
        padding-top:16%;
    }

    .m_source_button{
        width:80%;
        height:10%;
        font-size:290%;
        padding-top:6%;
        margin:0 auto 5% auto;
    }

    .inst_src_button_m_left, 
    .lib_src_button_m_left{
        margin:2% 0 0 9%;
    }

    .fb_src_button_m_left{
        margin:1% 0 0 9%;
    }

    .m_source_button_right{
        padding:0 0 0 1%;
    }

    .cta_area_action_img{
        font-size:40px;
    }

    .typeNowPopup_m_interior_txt{
        padding-top:29px;
        font-size:264%;
    }

    .typeNowPopup_m{
        top:-198px;
    }


}



@media only screen and (max-width:480px)
{
    //#mn_hdr{background-color:#ff0;}

    .cta_exp_desc{
        font-size:$main-font-size-480;
        margin-top: 50%;
        margin-top:16%;
    }

    .cta_exp_extry{
        font-size:318%;
        height:42px;
    }

    .page1 .tag_friend_area .add_f_button .add_f_button_plus
    {
        margin:20px 0 0 20px;
    }

    .page1 .tag_friend_area .tag_friend_area_desc{
        font-size:$main-font-size-480;
        margin-bottom: 15px;
    }

    .page1 .tag_friend_area .friends_tagged{
        width:136px;
    }

    .page1 .tag_friend_area .f_tagged
    {
        @include square(60px);
        margin-right:15px;
    }

    .page1 .no_thanks_button_area_spacer{
        height:13px;
    }

    .page1 .no_thanks_button_area{
        padding:8% 0 0 0;
    }

    .mobile_bar_select_source_left{
        margin:0 0.8% 0 26%;
    }

    #home .home_explanation{
        font-size:190%;
        padding: 20px 0 10px 0;
    }

    #home .body_explanation{
        font-size: 140%;
        line-height: 1.6;
        margin-bottom:24px;
    }

    #home #home_content .home_phone_slider_container{
        top:15%;
    }

    .friends_box li{
        max-height:90px;
        margin:0 0.5% 2px 0;
    }

    .friend_list_head i 
    {    
        top: -4px;
    }
    .m_thank_2nd_logo{
        margin:0 auto 24px auto;
    }

    .m_thank_2nd_msg{
        margin:0 auto 28px auto;
        font-size:140%;
    }

    .m_thank_2nd{
        padding-bottom:38%;
    }

    .fb_src_button_m_left{
        margin:1% 0 0 9%;
    }

    .inst_src_button_m_left, .lib_src_button_m_left{
        margin:2% 0 0 9%;
    }

    .m_source_buttons{
        padding-top:14%;
    }

    .m_source_button{
        padding-top:5%;
        font-size:240%;
        height:12%;
    }

    .fb_src_button_m_left{
        margin-top:0.5%;
    }

    #home .accept_tac_area{
        margin: 0 auto 24px auto;
    }

    .m_thank_email_left {
        font-size:140%;
        height:15px;
        margin-top:12px;
        margin-bottom:7px;
    }

    .m_thank_email_right{
        height:30px;
    }    

    .email_xs_and_ticks .tick{
        margin-top:8px;
        img
        {
            width: 9px;
        }
    }

    .email_xs_and_ticks .xs{
        margin-top:8px;
        img
        {
            width: 8px;
        }
    }


    .friend_interior{
        height:340px;
    }

    .typeNowPopup_m_interior_txt{
        padding-top:20px;
        font-size:200%;
    }

    .typeNowPopup_m{
        top:-65px;
    }

}



@media only screen and (max-width:360px)
{
    //#mn_hdr{background-color:#0b0;}

    .friend_finder_input{
        width:56%;
        font-size: 120%;
    }


    .page1 .choose_strip_interior{
        width:194px;
    }

    .page1 .add_picture_strip .add_picture_strip_left{
        font-size:100%;
        text-align:center
    }

    .page1 .add_picture_strip .add_picture_strip_right{
        margin-top:-1px;
    }

    .page1 .select_source_interior .add_picture_strip_left{
        width:136px;
        font-size:100%;
    }

    .page1 .add_picture_strip #select_source_bar .add_picture_strip_right{
        margin-top:-1px;
    }

    .page1 .add_picture_strip .add_picture_strip_right{
        margin-top:-1px;
    }

    .page1 .select_source_interior {
        width:197px;
    }
    
    .page1 .choose_strip_interior {
        padding-top: 7px;
        padding-bottom: 23px;
    }

    .page1 .select_source_interior .add_picture_strip_left {
        width:165px;
    }

    .cta_exp_desc{
        font-size:156%;
        margin:0;
        margin-top: 50%;
        margin-top:16%;
    }

    .cta_exp_extry{
        font-size:217%;
        height:30px;
    }

    .page1 .tag_friend_area .friends_tagged{
        width:131px;
    }

    .page1 .tag_friend_area .f_tagged
    {
        margin-right:10px;
    }

    .page1 .no_thanks_button_area{
        padding:12% 0 0 0;
    }

    .page1 .no_thanks_button_area_spacer{
        height:0px;
    }

    .page1 .tag_friend_area{
        padding-bottom:36px;
    }

    .mobile_bar_start_typing, .mobile_bar_bring_along, 
    .mobile_bar_finish_creating, .mobile_bar_select_source,
    .mobile_move_and_scale_bar {
        font-size:100%;
    }

    .mobile_bar_finish_creating
    {
        position: relative;
        width: 100%;
    }

    .mobile_bar_select_source{
        width:158px;
    }

    .mobile_bar_select_source_left{
        //text-align:right;
        //padding:8px 0 0 0;
        margin:0 0.8% 0 0;
    }

    #home .home_explanation{
        font-size:190%;
        padding: 20px 0 10px 0;
    }

    #home .create_yours_button{
            font-size:140%;
            line-height: 50px;
            padding:0;
            height: auto;
    }

    #home #create_yours_button_m{
        width:90%;
        font-size:146%;
        height:auto;
        line-height:1.3;
        padding:10px 0;
        margin:0 auto 22px auto;
    }

    #home .accept_tac_area_left {
        margin: -2px 7px 0 40px;
    }

    #home .accept_tac_area_right {
        margin: -2px 0 8px;
        font-size:100%;
    }

    #home .check {
        width:20px;
        height:20px;
    }

    #home .check .checked{
        @include square(100%);
        background-size:100%;
        background-position: 1px;
    }

    .friends_box li{
        max-height:55px;
        margin:0 0.5% 2px 0;
    }

    .m_source_button_left
    {
        width:10%;
    }

    .inst_src_button_m_left,
    .lib_src_button_m_left{
        margin:6px 0 0 9%;
    }

    .fb_src_button_m_left{
        margin:1px 0 0 9%;
    }

    .m_source_button{
        height:10%;
        padding:3% 0 4% 0;
        font-size:174%;
    }

    .cta_area_action_img{
        font-size:26px;
    }

    .m_source_button_right
    {
        //background-color:#bc0;
        width:70%;
        //font-size:78%;
        padding:3px 0 0 0;
    }

    .friend_title_box #friendbox_title{
        font-size:90%;
        text-align:left;
        padding-left:5%;
    }

    .friend_list_head_top i,
    .friend_title_box i{
        font-size: 30px;
        right: 14px;
        top: 20px;
    }

    .friend_list_head i
    {
        font-size: 30px;
        top: 0px;
    }

    .friend_interior{
        height:206px;
    }

    .typeNowPopup_m_interior_txt{
        padding-top:14px;
        font-size:134%;
    }

    .typeNowPopup_m{
        top:-32px;
    }

}



@media only screen and (max-width:230px)
{
    //#mn_hdr{background-color:#fff;}

    .friend_title_box #friendbox_title{
        font-size:72%;

        i
        {
            font-size: 20px;
        }
    }

    .page1 .tag_action_button_right{
        width:77%;
    }

    .m_thank_email_left {
        font-size:100%;
    }

    .m_thank_2nd_msg{
        font-size:142%;
    }

    .friend_interior{
        height:175px;
    }

    .typeNowPopup_m_interior_txt{
        padding-top:13px;
        font-size:112%;
    }

    .typeNowPopup_m{
        top:-24px;
    }

}



@media only screen and (max-width:180px)
{

    //#mn_hdr{background-color:#000;}

    .m_source_button{
        font-size:139%;
    }

    .m_source_button_right
    {
        padding:3% 0 0 0;
        font-size:80%;
    }

    .fb_src_button_m_left{
        margin:-3px 0 0 9%;
    }

    .inst_src_button_m_left, .lib_src_button_m_left{
        margin:4px 0 0 9%;
    }

    .cta_area_action_img{
        font-size:18px;
    }

    #home .accept_tac_area{
    }

    .m_thank_email_left {
        font-size:90%;
        margin-top:11px;
    }

    .m_thank_email_right{
        height:22px;
    }    

    .email_xs_and_ticks .tick{
        margin-top:3px;
    }

    .email_xs_and_ticks .xs{
        margin-top:3px;
    }

    .friend_title_box{
        height:auto;
        padding-top:15px;
        padding-bottom:12px;
    }

    .friend_list_head i {
        font-size: 20px;
        top: 5px;
    }

    .mobile_bar_start_typing, .mobile_bar_bring_along, 
    .mobile_bar_finish_creating, .mobile_bar_select_source,
    .mobile_move_and_scale_bar {
        font-size:70%;
    }

    .mobile_bar_select_source_left{
        padding:5px 0 0 0;
    }

    .mobile_bar_select_source{
        width:111px;
    }

    .friend_interior{
        height:125px;
    }

}


@media screen and (max-device-width: 640px)
{
    .friend_list_head
    {
        margin: 0 auto 5px auto;
        height: 30px;
    }

    .friend_list_row
    {
        margin: 0 auto 0px auto;
    }

    .friend_list_single
    {
        padding: 3px 0;

        .friend_list_single_right
        {
            font-size: 120%;
        }
    }

    .friend_list_head_top
    {
        margin: 0 0 10px 0;
        padding: 10px 0;

        i
        {
            top: 7px;
        }
    }


}


















/*
@media only screen and (max-width: 600px) {
    $scale: 0.5;
    $hole-width: round($final-image-width * $scale);
    $hole-height: round($final-image-height * $scale);

    #crop_tool{
        // borders
        .border{
            &.top{
                margin-top: $hole-height / -2;
            }
            &.right{
                margin-right: $hole-width / -2 + 1;
            }
            &.bottom{
                margin-bottom: $hole-height / -2 + 1;
            }
            &.left{
                margin-left: $hole-width / -2;
            }
        }

        .mask, .image_container{
            width: $hole-width;
            height: $hole-height;
            margin-top: $hole-height / -2;
            margin-left: $hole-width / -2;
        }
    }
}*/