[class^="icon_"],
[class*=" icon_"] {
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: none;	
}


.icon_x:before {
	content: "\e600";
}
.icon_twitter:before {
	content: "\e601";
}
.icon_tick:before {
	content: "\e602";
}
.icon_plus:before {
	content: "\e603";
}
.icon_our_library:before {
	content: "\e604";
}
.icon_magnifying_glass:before {
	content: "\e605";
}
.icon_Instagram:before {
	content: "\e606";
}
.icon_image:before {
	content: "\e607";
}
.icon_facebook:before {
	content: "\e608";
}
.icon_back:before {
	content: "\e609";
}
.icon_add_image:before {
	content: "\e60a";
}