
    

    //#mn_hdr{background-color:#66FF33;}

    .page0{
        width:75%;
    }

    .container{

        padding-bottom:0;
        width:100%;
        max-width:100%;
    }

    .web-crop-tool{display:none;}
    .mob-crop-tool{display:block;}


    #crop_tool
    {
        left:0;
        top:0;
        width:100%;
        height:100%;
        bottom:auto;
        overflow:hidden;
    }

    #crop_tool .image_container_backdrop{
        top:9%;
        left:9.9%;
        width:81.5%;
        height:81%;
    }

    #crop_tool .mask, #crop_tool .image_container{
        /*top:9%;
        left:9.9%;
        width:81.5%;
        height:81%;*/
        top:8%;
        left:14%;
        width:85%;
        height:85%;
    }

    #crop_tool .backdrop_mask_surround{
        top:7.5%;
        left:7.75%;
        width:84.5%;
        height:85%;
        background-color:#fff;
    }

    #crop_tool .backdrop_mask{
        /*top:9%;
        left:9.9%;
        width:81.5%;
        height:81%;
        border:solid #b00 1px;*/

        top:1.5%;
        left:1.5%;
        width:97%;
        height:97%;

    }

    .m_source_buttons{
        padding-top:39.5%;
    }

    .m_source_button{
        width:50%;
        height:60px;
        margin:0 auto 20px auto;
        padding-top:0;
    }

    .fb_src_button_m_left{
        margin:3% 0 0 9%;
    }

    .inst_src_button_m_left, 
    .lib_src_button_m_left{
        margin:4% 0 0 9%;
    }

    .m_source_button{
        font-size:200%;
    }

    .m_source_button_right{
        margin-top:0;
        padding:3% 0 0 1%;
        width:67%;
    }

    #home {

        .home_explanation
        {
            width:100%;
            font-size:260%;
            padding-top:50px;
        }

        #home_content{


            #home_slider{
                margin: 0 auto 6px auto;
            }

            .home_phone_slider_container{
                top:14.5%;
            }

        }

        .body_explanation
        {
            display:block;
            margin-bottom: 24px;
            font-size:130%
        }

        .body_explanation_w
        {
            display:none;
            margin:0 auto 49px auto;
        }

        .accept_tac_area{
            //display: none;
            width:274px;
            margin:0 auto 33px auto;
        }

        .accept_tac_area_right {
            font-size:143%;
        }

        #create_yours_button{display:none;}

        #create_yours_button_m{
            display:block;
            font-size:160%;
            height:64px;
            line-height:64px;
            width:48%;
            padding:0;

        }

        .create_yours_button{
            width: 100%;
            height:81px;
            margin: 0 auto 36px auto;
            font-size:335%;
            padding:25px 0 0 0;
        }

        .powered_by_block
        {
            position:relative;
            float:none;
            margin:0 auto;
            width:100%;
            bottom:0;

            .powered_by_desc,
            .powered_by_img
            {
                float:none;
                margin: 0 auto;
            }

            .powered_by_desc {
                padding: 0 0 6px 0;
            }

        }

    }


    /*********************************************************************
    Page1
    *********************************************************************/

    .page1_pocket{display:none;}

    /*.page1 .add_picture_strip_m{
        display:block;
    }

    .page1 .add_picture_strip{
        display:none;
    }*/

    .add_picture_pocket_m
    {
        display:block;
    }

    .add_picture_pocket
    {
        display:none;
    }

    .page1 .tag_friend_area{
        padding-top:31px;
        padding-bottom:20px;
        @include opacity(1);
    }

    .page1 .tag_friend_area .tag_friend_area_desc
    {
        font-size:178%;
        margin-bottom:27px;
    }

    .page1 .tag_friend_area .friends_tagged
    {
        width:166px;
    }

    .page1 .tag_friend_area .f_tagged
    {
        margin:0 17px 0 0;
        width:73px;
        height:72px
    }

    .page1 .tag_friend_area .add_f_button
    {

    }

    .page1 .tag_friend_area .add_f_button .add_f_button_plus
    {
        width:21px;
        margin:28px 0 0 27px;
    }

    .page1 .tag_friend_area .add_f_button
    {
        @include square(95px);
    }

    .page1 .tag_friend_area .f_tagged .f_pic_cover img{
        width:100%;
    }

    .page1 .tag_action_button{
        width:46%;
    }

    .page1 .tag_action_button_right{
            padding-top:15px
    }



    /*****************Top Strip **********************/



    #strip_finish_button_m{display:block;}
    #strip_finish_button{display:none;}

    #finish_typing_button_m{display:none;}
    #finish_typing_button{display:none;}

    #finish_creating_button{display:none;}



    .page1 #add_pic_bar, .page1 .select_source_bar,
    .page1 #move_and_scale_bar, .page1 #finish_typing_bar, .page1 #bring_a_friend_bar, .page1 #finish_entry_bar,
    #bring_a_friend_bar_m{
        display:none;
    }

    .mobile_bar_select_source{
        width:176px;
        margin:auto;
    }

    .mobile_bar_select_source_left{
        margin:0 0.8% 0 0%;
    }

    .page1 .tag_friend_no_thanks_button{
        width:46%;
        padding:1.5% 0 1.5% 0;
    }

    .page1 #move_and_scale_bar{display:none;}

    .page1 .centered_text_bar{
        display:none;
        color:#fff;
        padding:12px 0;
        text-align:center;
        font-size:134%;
    }

    .page1 .choose_strip_interior
    {
        width:235px;
        margin:auto;
    }

    .page1 .select_source_interior
    {
        width:184px;
        margin:auto;
        display:block;
    }

    .page1 .choose_strip_left{
        margin-left:0;
    }

    .page1 .add_picture_strip .add_picture_strip_left{
        margin:auto;
        width:100%;
        font-size:100%;
        text-align: center;
    }

    .page1 .add_picture_strip .choose_strip_left {
        width: auto;
    }

    .page1 .add_picture_strip .add_picture_strip_right{
        margin-top:2px;

        i {
            font-size: 30px;
        }
    }

    .page1 .add_picture_strip #select_source_bar .add_picture_strip_right{
        margin-top:2px;
    }

    .page1 #finish_typing_bar
    {
        width:310px;
        margin:auto;
    }

    .page1 .add_picture_strip .finish_typing_strip_left{
        width:100%;
        text-align: center;
    }

    .page1 .add_picture_strip .add_picture_strip_left.finish_entry_strip_left{
        width:100%;
        padding-top:4px;
        text-align: center;
    }

    .page1 #finish_entry_bar{
        width:328px;
        margin:auto;
        padding-bottom: 30px;
    }

    .page1 #finish_entry_bar .strip_finish_button{
        width:95px;
    }

    .page1 .strip_finish_button .strip_finish_button_left{
        padding:3px 0 0 8px;
    }

    .page1 .strip_finish_button .strip_finish_button_right{
        width:63px;
    }

    .page1 .add_picture_strip {
        background-color: #111111;
    }

    .page1 .turning_back_block_left,
    .page1 .turning_back_block_right{
        padding:1.4% 0 0 0;
        height:29px;
    }

    .cta_area_action_img {
        //margin-left: 20%;
        //width: 60%;
    }

    /***************Top Strip end ********************/



    /******************************************************************
    page2 begins
    ******************************************************************/

    .thanks_main_window,
    .thanks_sec_window
    {
        display:none;
    }

    .thanks_main_window_m
    {
        display:none;
    }

    /******************************************************************
    page2 ends
    ******************************************************************/

    .friends_box{
        top:64px;
        left:3.32%;
        width:94%;
    }

    .friends_box li{
        width:33%;
        max-height:150px;
        overflow:hidden;
        margin:0 0.5% 3px 0;
    }

    .friend_interior{
        height:840px;
    }

    .friends_box li.last{
        margin:0;
    }

    #bring_no_friend_button {
        display: none;
    }

    .thank_you_p1_interior {
        width:70%;
    }

    .m_thank_2nd_lmore_button {
        padding:2% 0 2% 0;
    }



