/* -------------------------------------------------------------- 
	Project Variables
-------------------------------------------------------------- */
// Colours
$colour-valid: #468847;
$colour-warning: #c09853;
$colour-error: #b94a48;
$colour-info: #3a87ad;

$button-red: #c2382f;
$dark-brown-grey:#2d2c2c;
$light-grey:#f2f2f2;
$text-entry:#a9a9a9;
$text-grey:#b1b0b0;

$tint-blue:rgb(37,65,113);
$email-switch-green:rgb(155,210,80);
$email-switch-red:rgb(194,56,47);
$thank-you-green:#9bd250;

$grey-button-color-off:#a9a9a9;
$grey-button-color-on:#bdbdbd;

$canvas-grey:#242733;


// Typography
$font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif; // sans-serif fonts
$font-georgia: Georgia, "Times New Roman", Times, serif; // serif fonts
$font-monaco: Monaco, Menlo, Consolas, "Courier New", monospace; // monospace fonts

$font-frutiger-light: 'Frutiger_light', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-frutiger-normal: 'Frutiger_normal', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-frutiger-bold: 'Frutiger_bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-frutiger-bold-italic: 'FrutigerBoldIta', "Helvetica Neue", Helvetica, Arial, sans-serif;


//Font sizes
$main-font-size-480:174%;



// Line height
//$line-height-base: 1.428571429; // 20/14
$line-height-base: 1.3; // 20/14


// Tables
$table-cell-padding: 8px;
$table-condensed-cell-padding: 5px;

$table-bg: transparent; // overall background-color
$table-bg-accent: #f9f9f9; // for striping
$table-bg-hover: #f5f5f5;
$table-bg-active: #f5f5f5;

$table-border-color: #ddd; // table and cell border


// Buttons
$button-radius:6px;