<li>
    <a target="_blank" href="<?php echo $this->fullsize ?>" download>
    	<img src="<?php echo $this->thumb ?>" alt="">
    </a>
    <div class="info">
        <p class="text"><?php echo $this->text ?></p>
        <p class="name"><?php echo $this->name ?></p>
        <p class="date"><?php echo $this->date ?></p>
    </div>
</li>