<div id="wrapper">

    <h5>Huawei Experiences</h5>
    <h1>Stock images</h1>

    <ul class="images">
        <?php foreach ($images as $image) : ?>
        <li>
            <img src="<?php echo $image->src ?>" alt="">
            <div class="actions">
                <a data-href="/cms/stockimages/delete/<?php echo $image->id ?>" class="button remove">Remove</a>
            </div>
        </li>
    <?php endforeach ?>
    </ul>
    
    <hr>

    <?php if ($errors) : ?>
        
    <div class="errors">
    
        <?php foreach ($errors as $error) : ?>
        
        <p><?php echo $error; ?></p>

        <?php endforeach ?>

    </div>
    

    <?php endif ?>

    <form action="/cms/stockimages/upload" method="post" enctype="multipart/form-data">
        <h5>Add image</h5>

        <div class="field">
            <input type="file" name="image" />  
        </div>

        <div class="action">
            <button id="upload">Upload</button>  
        </div>

    </form>

</div>

<?php $this->inlineScript()->appendFile('/assets/cms/js/view/stockimages.js') ?>