/* -------------------------------------------------------------- 
	SASS Mixins
-------------------------------------------------------------- */
/* -------------------------------------------------------------- 
	Project Variables
-------------------------------------------------------------- */
/* normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* -------------------------------------------------------------- 
	Grid
	* Set the width of the cells using the function grid-span, using the column span as parameter. You probably want this inside Media Queries if you use a mobile first approach.
	* Optional mixins grid-push, grid-pull, grid-prepend and grid-append. Push and pull need position: relative on the element to work.
	* Opera may still have an issue with the font-size being 0, a fix is to chnage it to 0.5px. You can use JS to detect Opera
	* This will not work in IE7 or lower
	
	-- Usage:
	<div class="grid">
		<div class="col span_1">...</div>
		<div class="col span_2">...</div>
		<div class="col span_3">...</div>
	</div>
	
	.grid {
	    @extend %grid;
	}
	.col {
	    @extend %grid-cell;
	    width: grid-span(4);
	}
	
	
	-- To swap column 1 and column 2:
	.col-1 {
		@include grid-push(4);
	    position: relative;
	}
	.col-2 {
		@include grid-pull(4);
	    position: relative;
	}
	
-------------------------------------------------------------- */
.grid {
  font-size: 0 !important;
  text-align: justify !important;
  text-justify: distribute-all-lines;
}
.grid > * {
  font-size: medium;
  text-align: left;
}
.grid:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.col {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

/*** Grid ***/
.col {
  width: 31.12583%;
}
.col.span_1 {
  width: 5.29801%;
}
.col.span_2 {
  width: 13.90728%;
}
.col.span_3 {
  width: 22.51656%;
}
.col.span_4 {
  width: 31.12583%;
}
.col.span_5 {
  width: 39.7351%;
}
.col.span_6 {
  width: 48.34437%;
}
.col.span_7 {
  width: 56.95364%;
}
.col.span_8 {
  width: 65.56291%;
}
.col.span_9 {
  width: 74.17219%;
}
.col.span_10 {
  width: 82.78146%;
}
.col.span_11 {
  width: 91.39073%;
}
.col.span_12 {
  width: 100%;
}

.grid_yui {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-align: justify !important;
  text-justify: distribute-all-lines;
  text-rendering: optimizespeed;
    /*
	    Sets the font stack to fonts known to work properly with the above letter
	    and word spacings. See: https://github.com/yui/pure/issues/41/
	
	    The following font stack makes Pure Grids work on all known environments.
	
	    * FreeSans: Ships with many Linux distros, including Ubuntu
	
	    * Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
	      Arial to get picked up by the browser, even though neither is available
	      in Chrome OS.
	
	    * Droid Sans: Ships with all versions of Android.
	
	    * Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
    */
    /*
	    Use flexbox when possible to avoid `letter-spacing` side-effects.
	
	    NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
	    `-moz-` prefix version is omitted.
    */
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  /* IE10 uses display: flexbox */
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
}

/*
	Opera as of 12 on Windows needs word-spacing.
	The ".opera-only" selector is used to prevent actual prefocus styling and is not required in markup.
*/
.opera-only :-o-prefocus,
.grid_yui {
  word-spacing: -0.43em;
}

.col_yui {
  display: inline-block;
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  width: 31.12583%;
  word-spacing: normal;
}
.col_yui.span_1 {
  width: 5.29801%;
}
.col_yui.span_2 {
  width: 13.90728%;
}
.col_yui.span_3 {
  width: 22.51656%;
}
.col_yui.span_4 {
  width: 31.12583%;
}
.col_yui.span_5 {
  width: 39.7351%;
}
.col_yui.span_6 {
  width: 48.34437%;
}
.col_yui.span_7 {
  width: 56.95364%;
}
.col_yui.span_8 {
  width: 65.56291%;
}
.col_yui.span_9 {
  width: 74.17219%;
}
.col_yui.span_10 {
  width: 82.78146%;
}
.col_yui.span_11 {
  width: 91.39073%;
}
.col_yui.span_12 {
  width: 100%;
}

/* -------------------------------------------------------------- 
	Component animations
-------------------------------------------------------------- */
/*** Collapse ***/
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}

.collapsing {
  -webkit-transition: height 0.35ms ease;
  -moz-transition: height 0.35ms ease;
  -o-transition: height 0.35ms ease;
  transition: height 0.35ms ease;
  height: 0;
  overflow: hidden;
  position: relative;
}

/*
 * Additional animation can be added from http://daneden.github.io/animate.css/
 * Use WOW JS to reveal animations when you scroll http://mynameismatthieu.com/WOW/
 */
/* -------------------------------------------------------------- 
	Tables
-------------------------------------------------------------- */
table {
  max-width: 100%;
  background-color: transparent;
}

th {
  text-align: left;
}

.table {
  margin-bottom: 16px;
  width: 100%;
}
.table thead > tr > th,
.table thead > tr > td,
.table tbody > tr > th,
.table tbody > tr > td,
.table tfoot > tr > th,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.3;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table caption + thead tr:first-child th, .table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #fff;
}

.table_condensed thead > tr > th,
.table_condensed thead > tr > td,
.table_condensed tbody > tr > th,
.table_condensed tbody > tr > td,
.table_condensed tfoot > tr > th,
.table_condensed tfoot > tr > td {
  padding: 5px;
}

.table_bordered {
  border: 1px solid #dddddd;
}
.table_bordered > thead > tr > th,
.table_bordered > thead > tr > td,
.table_bordered > tbody > tr > th,
.table_bordered > tbody > tr > td,
.table_bordered > tfoot > tr > th,
.table_bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table_bordered > thead > tr > th,
.table_bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table_striped > tbody > tr:nth-child(odd) > td,
.table_striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table_hover > tbody > tr:hover > td,
.table_hover > tbody > tr:hover > th {
  background-color: whitesmoke;
}

table col[class*="col_"] {
  float: none;
  display: table-column;
}

table td[class*="col_"],
table th[class*="col_"] {
  float: none;
  display: table-cell;
}

.table > thead > tr > td.active,
.table > thead > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th {
  background-color: whitesmoke;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 16px;
  font-size: 22px;
  line-height: inherit;
  color: #252525;
  border: 0;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}

input[type="file"] {
  display: block;
}

select[multiple],
select[size] {
  height: auto;
}

select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

.form_group {
  margin-bottom: 15px;
}

.radio,
.checkbox {
  display: block;
  min-height: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
}
.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.radio input[type="radio"],
.radio_inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox_inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio_inline,
.checkbox_inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.radio_inline + .radio_inline,
.checkbox_inline + .checkbox_inline {
  margin-top: 0;
  margin-left: 10px;
}

input[type="radio"][disabled], fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled], fieldset[disabled]
input[type="checkbox"],
.radio[disabled], fieldset[disabled]
.radio,
.radio_inline[disabled], fieldset[disabled]
.radio_inline,
.checkbox[disabled], fieldset[disabled]
.checkbox,
.checkbox_inline[disabled], fieldset[disabled]
.checkbox_inline {
  cursor: not-allowed;
}

.form_control_static {
  margin-bottom: 0;
  padding-top: 17px;
}

.help_block {
  color: #656565;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.form_horizontal .control_label,
.form_horizontal .radio,
.form_horizontal .checkbox,
.form_horizontal .radio_inline,
.form_horizontal .checkbox_inline {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 17px;
}
.form_horizontal .form_group {
  display: block;
  width: 100%;
}

/* -------------------------------------------------------------- 
	Alerts
-------------------------------------------------------------- */
.message_error {
  font-size: 13px;
  font-size: 1.3rem;
  background: #efd5d4;
  border: 1px solid #d59392;
  border-radius: 3px;
  color: #b94a48;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.message_valid {
  font-size: 13px;
  font-size: 1.3rem;
  background: #b6dab7;
  border: 1px solid #7aba7b;
  border-radius: 3px;
  color: #468847;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.message_warning {
  font-size: 13px;
  font-size: 1.3rem;
  background: #f4ede1;
  border: 1px solid #dbc59e;
  border-radius: 3px;
  color: #c09853;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.message_info {
  font-size: 13px;
  font-size: 1.3rem;
  background: #bfdcea;
  border: 1px solid #7ab5d3;
  border-radius: 3px;
  color: #3a87ad;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

/* -------------------------------------------------------------- 
	Fonts
-------------------------------------------------------------- */
@font-face {
  font-family: "Frutiger_light";
  src: url("../fonts/frutiger_light.eot?#iefix");
  src: url("../fonts/frutiger_light.eot?#iefix") format("eot"), url("../fonts/frutiger_light.woff") format("woff"), url("../fonts/frutiger_light.ttf") format("truetype"), url("../fonts/frutiger_light.svg#3f5a5b87-e71e-4544-be0c-da4daa132710") format("svg");
  font-weight: 300;
}

@font-face {
  font-family: "Frutiger_normal";
  src: url("../fonts/frutiger_normal.eot?#iefix");
  src: url("../fonts/frutiger_normal.eot?#iefix") format("eot"), url("../fonts/frutiger_normal.woff") format("woff"), url("../fonts/frutiger_normal.ttf") format("truetype"), url("../fonts/frutiger_normal.svg#c59a36ab-4ef8-4ee1-a2f8-48aa79d4f877") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: "Frutiger_bold";
  src: url("../fonts/frutiger_bold.eot?#iefix");
  src: url("../fonts/frutiger_bold.eot?#iefix") format("eot"), url("../fonts/frutiger_bold.woff") format("woff"), url("../fonts/frutiger_bold.ttf") format("truetype"), url("../fonts/frutiger_bold.svg#fc09de64-de25-425e-90dc-a0cae29b02c4") format("svg");
  font-weight: 700;
}

@font-face {
  font-family: "FrutigerBoldIta";
  src: url("../fonts/FrutigerBoldIta.eot?#iefix");
  src: url("../fonts/FrutigerBoldIta.eot?#iefix") format("eot"), url("../fonts/FrutigerBoldIta.woff") format("woff"), url("../fonts/FrutigerBoldIta.ttf") format("truetype"), url("../fonts/FrutigerBoldIta.svg#8f91ebb0-2b00-4a50-baa9-865a6502384e") format("svg");
  font-style: normal;
  font-weight: normal;
}

/*** Custom icons ***/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?l3l7rh");
  src: url("../fonts/icomoon/icomoon.eot?#iefixl3l7rh") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff?l3l7rh") format("woff"), url("../fonts/icomoon/icomoon.ttf?l3l7rh") format("truetype"), url("../fonts/icomoon/icomoon.svg?l3l7rh#icomoon") format("svg");
  font-style: normal;
  font-weight: normal;
}

[class^="icon_"],
[class*=" icon_"] {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
}

.icon_x:before {
  content: "\e600";
}

.icon_twitter:before {
  content: "\e601";
}

.icon_tick:before {
  content: "\e602";
}

.icon_plus:before {
  content: "\e603";
}

.icon_our_library:before {
  content: "\e604";
}

.icon_magnifying_glass:before {
  content: "\e605";
}

.icon_Instagram:before {
  content: "\e606";
}

.icon_image:before {
  content: "\e607";
}

.icon_facebook:before {
  content: "\e608";
}

.icon_back:before {
  content: "\e609";
}

.icon_add_image:before {
  content: "\e60a";
}

/* -------------------------------------------------------------- 
	Sprites
-------------------------------------------------------------- */
                   /**
 * Example usage
 
 	// _sprite.scss
    @import "social/*.png";
	
	In global.scss you can then use @extend this sprite
	
	// _global.scss
	i {
		&.icon_name {
			@include social-sprite(fb_icon, true);
		}
	}
	
 * Call the <map>-sprite mixin to get the position, height and width for the icon.
 * Replace <map> with the new of the sprites folder name.
 * The first parameter is the name of the icon name in the sprite folder.
 * The second parameter outputs the height and width, removing this or putting false will not output height or width
 	
**/
/* --------------------------------------------------------------
                            Globals
----------------------------------------------------------------*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
}

/*
* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}
*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Frutiger_light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3;
}

div {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: auto;
  color: #252525;
  line-height: 1.1;
}

p {
  color: #252525;
  margin: 0 0 16px;
}

::selection {
  background: #e3e3e1;
}

::-moz-selection {
  background: #e3e3e1;
}

/*** Emphasis & misc ***/
small {
  font-size: 85%;
}

cite {
  font-style: normal;
}

a:hover,
a:active,
a:focus,
object,
embed,
input::-moz-focus-inner {
  outline: 0 !important;
}

:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.text_warning {
  color: #c09853;
}

.text_error {
  color: #b94a48;
}

.text_valid {
  color: #468847;
}

.text_info {
  color: #3a87ad;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.text_center {
  text-align: center;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 16px;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 16px;
  padding: 8px 16px;
}
blockquote p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote small {
  display: block;
  line-height: 1.3;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull_right {
  padding-left: 0;
  padding-right: 15px;
}
blockquote.pull_right p,
blockquote.pull_right small {
  text-align: right;
}
blockquote.pull_right small:before {
  content: '';
}
blockquote.pull_right small:after {
  content: '\00A0 \2014';
}

/*** Images ***/
img {
  vertical-align: middle;
}

.img_responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img_circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

input,
button,
select,
textarea {
  background-image: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.1;
}

.sr_only {
  height: 1px;
  width: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.pull_right {
  float: right !important;
}

.pull_left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text_hide {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: '~"0/0" a';
  text-shadow: none;
}

.clear {
  clear: both;
}

/**
 * Clearfix - use @extend .clearfix on classes or ID's which require it
 * e.g.
 *     .buttons {
 *         @extend .clearfix;
 *     }
**/
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* --------------------------------------------------------------
    General Layout
-------------------------------------------------------------- */
.showandtell {
  position: absolute;
  top: 10px;
  left: -260px;
  z-index: 50;
  overflow: hidden;
}

.web-crop-tool {
  display: block;
}

.mob-crop-tool {
  display: none;
}

#tClone {
  position: absolute;
}

.container {
  margin: 0 auto;
  max-width: 810px;
  overflow: hidden;
  width: 100%;
}

#mn_hdr {
  background: #fff;
  height: 62px;
  position: relative;
  z-index: 200;
}
#mn_hdr #logo {
  background-image: url("../graphics/logo.png");
  background-repeat: no-repeat;
  height: 40px;
  width: 152px;
  margin: 0 auto;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dppx), only screen and (min-resolution: 2dppx) {
  #mn_hdr #logo {
    background-image: url("../graphics/logo@2x.png");
    -webkit-background-size: 152px 40px;
    -moz-background-size: 152px 40px;
    -o-background-size: 152px 40px;
    background-size: 152px 40px;
  }
}

/*** Page sections ***/
.page_section {
  display: none;
  position: relative;
}
.page_section#home {
  display: block;
  position: relative;
}

/*******************************************************************/
/************app_button can be applied to all buttons***************/
/*******************************************************************/
textarea, input {
  outline: none;
}

#cloned_img {
  position: absolute;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}

i {
  display: block;
  width: 100%;
}

#home .app_button:hover {
  background-color: #f60624;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  /* Standard syntax */
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.grey_button,
.app_button {
  cursor: pointer;
  font-family: "Frutiger_normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#home .grey_button:hover {
  background-color: #bdbdbd;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  /* Standard syntax */
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

#tag_friend_button_m,
#tag_friend_button {
  cursor: pointer;
}

/* --------------------------------------------------------------
    Home page layout
-------------------------------------------------------------- */
#home_content {
  display: block;
}

.page1 {
  display: none;
}

.page2 {
  display: none;
}

.page0 {
  padding: 0 0 107px 0;
  width: 90%;
  margin: auto;
  z-index: 3;
}

#home #bg_colour,
#home .bg_colour {
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
#home #bg_colour,
#home .bg_colour {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background-color: #254171;
}
#home #bg_colour {
  z-index: 1;
}
#home #grad_overlay {
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0;
  position: absolute;
  top: 0;
}
#home .page_info {
  color: #fff;
  text-align: center;
}
#home .home_explanation {
  width: 90%;
  font-size: 260%;
  margin: 0 auto;
  padding: 48px 0 12px 0;
  font-family: "Frutiger_normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#home .home_description {
  font-size: 15px;
  margin: -5px 0 10px;
  font-family: "Frutiger_light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#home .body_explanation_w {
  font-size: 140%;
  line-height: 1.7;
  margin: 0 auto 32px auto;
  width: 57%;
}
#home .body_explanation {
  display: none;
  font-size: 335%;
  margin-bottom: 49px;
}
#home .body_explanation span,
#home .body_explanation_w span {
  font-family: "Frutiger_normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#home .accept_tac_area {
  overflow: hidden;
  margin: 0 auto 32px auto;
  width: 270px;
}
#home .accept_tac_area_left,
#home .accept_tac_area_right {
  float: left;
}
#home .accept_tac_area_left {
  margin: -2px 7px;
}
#home .fp_check_cover {
  position: absolute;
  top: 0;
  left: -52%;
  left: 0;
  width: 500%;
  height: 100%;
  z-index: 90;
  cursor: pointer;
}
#home .accept_tac_area_right {
  padding-top: 3px;
  font-size: 12px;
}
#home .check {
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 2px;
}
#home .check .checked {
  cursor: pointer;
  display: none;
  background: url("../graphics/checkbox/checked.png") no-repeat;
  height: 25px;
  width: 25px;
  background-position: 2px;
}
#home #home_content {
  color: #fff;
  position: relative;
  background-image: url("../graphics/home_bg.jpg");
  background-size: 110%;
}
#home #home_content #home_slider {
  width: 100%;
  max-width: 592px;
  position: relative;
  margin: 0 auto;
}
#home #home_content .home_phone_slider_container {
  background-color: #fff;
  position: absolute;
  top: 15.5%;
  left: 14%;
  width: 69.5%;
  overflow: hidden;
}
#home #home_content .home_phone_slider_container ul, #home #home_content .home_phone_slider_container li {
  margin: 0;
  padding: 0;
  display: block;
}
#home #home_content .home_phone_slider_container ul {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 300%;
}
#home #home_content .home_phone_slider_container li {
  float: left;
}
#home .home_phone_slider {
  margin-left: 82px;
  top: 44px;
  width: 410px;
}
#home #create_yours_button_m {
  display: none;
}
#home .create_yours_button {
  cursor: pointer;
  width: 180px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  font-size: 170%;
  font-family: "Frutiger_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto 32px auto;
  background-color: #c2382f;
  border-radius: 6px;
}
#home .powered_by_block {
  width: 135px;
  position: absolute;
  right: 0;
  bottom: 35px;
  overflow: hidden;
  padding-bottom: 2px;
}
#home .powered_by_block .powered_by_desc {
  display: block;
  width: 100%;
  margin: 0 auto 6px auto;
  max-width: 90px;
  float: right;
  clear: both;
}
#home .powered_by_block .powered_by_img {
  display: block;
  width: 100%;
  float: right;
  max-width: 135px;
  height: 16px;
}

/******************************************************************
                        Start of Page 1
******************************************************************/
.popups {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  /*background-image: url(../graphics/trash/2.jpg);
  background-position:-156px -184px;
  background-position:-156px -112px;*/
  display: none;
}

.popup_background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  top: 0;
  left: 0;
}

.friend_list_box {
  position: absolute;
  top: 60px;
  left: 23%;
  width: 56.3%;
  background-color: #fff;
  padding-bottom: 15px;
  overflow: hidden;
  border-radius: 6px;
  display: none;
}

.friend_list_head_top {
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 222%;
  text-align: center;
  padding: 16px 0;
  background-color: #bc0;
  color: #838182;
  background-color: #f2f2f2;
}

.friend_list_head {
  width: 83%;
  height: 46px;
  margin: 0 auto 20px auto;
  border: solid 2px #cdcdcd;
  border-radius: 30px;
}
.friend_list_head i {
  position: absolute;
  font-size: 40px;
  top: 4px;
  left: 7px;
  color: #d2d2d2;
  width: 40px;
}

.friend_finder_input {
  width: 75%;
  height: 100%;
  margin: auto;
  border: 0;
  display: block;
  padding: 0 10px;
  font-size: 150%;
  color: #b1b0b0;
}

.friend_list_rows {
  background-color: #fff;
}

.friend_list_row {
  width: 95%;
  margin: 0 auto 10px auto;
  overflow: hidden;
}

.friend_list_single {
  width: 33%;
  overflow: hidden;
  padding: 13px 0;
  cursor: pointer;
  margin-right: 0.5%;
  float: left;
  border-radius: 7px;
}

.friend_list_single.last {
  margin-right: 0;
}

.friend_list_single:hover {
  background-color: #f2f2f2;
  color: #000;
}

.friend_list_single_left {
  width: 45%;
  margin: 0 auto;
}

.friend_list_single_right {
  width: 100%;
  height: 100%;
  padding: 6px 4% 0 0;
  vertical-align: middle;
  font-size: 150%;
  text-align: center;
}

.fl_pic_cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.loading {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.tacs_box {
  position: absolute;
  top: 65px;
  left: 12.32%;
  width: 76.6%;
  width: 76.7%;
  min-height: 200px;
  overflow: hidden;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 0 28px 0;
  display: none;
}

.tacs_box .tacs_box_interior {
  width: 90%;
  margin: auto;
  overflow-y: auto;
  max-height: 490px;
  font-size: 12px;
  line-height: 15px;
}

.t1, .t2 {
  font-size: 14px;
  font-family: "Frutiger_normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a#terms_link {
  color: #fff;
}

a#terms_link:hover {
  text-decoration: none;
}

.friends_box {
  position: absolute;
  top: 73px;
  left: 12.32%;
  width: 76.6%;
  width: 76.7%;
  overflow: hidden;
  border-radius: 6px;
  background-color: #fff;
  display: none;
}

.friend_title_box {
  background-color: #ecebeb;
  color: #b1b0b0;
  height: 43px;
  margin-bottom: 24px;
  font-size: 212%;
  padding-top: 23px;
  text-align: center;
  font-family: "Frutiger_normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.friend_list_head_top i,
.friend_title_box i {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 10px;
  right: 20px;
  width: 32px;
  font-size: 40px;
  color: #CF0723;
}

.friend_single_image {
  border-radius: 50px;
  border: 4px solid white;
}

.friend_interior {
  padding: 0 3.9% 40px 3.9%;
  overflow-y: auto;
  height: 500px;
}

.friends_box ul {
  display: block;
  overflow: hidden;
  margin: 0 0 4px 0;
  padding: 0;
}

.friends_box li {
  display: block;
  float: left;
  width: 24.6%;
  overflow: hidden;
  max-height: 140px;
  margin: 0 0.53% 0 0;
  cursor: pointer;
  background-color: #ecebeb;
}

.friends_box li.last {
  margin: 0;
}

.page1 #return_w {
  /*display:none;*/
}

#strip_finish_button_m {
  display: none;
}

#strip_finish_button {
  display: block;
}

#finish_typing_button_m {
  display: none;
}

#finish_typing_button {
  display: block;
}

#finish_creating_button_m {
  display: none;
}

#finish_creating_button {
  display: block;
}

.page1 #turning_back_block {
  display: none;
}

#write_here_block {
  display: none;
  background: url("/assets/graphics/gradient-slice.png");
  background-position: 0px -10px;
  padding-top: 25px;
}

.page1 {
  /*background-color:$button-red;
  background-image: url(../graphics/trash/f_list.jpg);
  background-position:-156px -184px;
  background-position:-5px -76px;*/
}
.page1 .add_picture_strip_m {
  display: none;
  height: 60px;
  background-color: #c2382f;
  width: 100%;
}
.page1 .add_picture_strip {
  overflow: hidden;
  background-color: #2d2c2c;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 134%;
  z-index: 200;
}
.page1 .after_cropping_strip_left {
  overflow: hidden;
  background-color: #2d2c2c;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 116%;
  z-index: 200;
  width: 225px;
  float: left;
  padding-top: 4px;
}
.page1 #move_and_scale_bar,
.page1 #finish_typing_bar,
.page1 #bring_a_friend_bar,
.page1 #centered_text_bar,
.page1 #finish_entry_bar,
.page1 #select_source_bar,
.page1 #mobile_bar_start_typing, .page1 #mobile_bar_bring_along, .page1 #mobile_bar_finish_creating, .page1 #mobile_move_and_scale_bar {
  display: none;
}
.page1 .add_picture_strip .add_picture_strip_left,
.page1 .add_picture_strip .add_picture_strip_right {
  float: left;
  overflow: hidden;
}
.page1 .choose_strip_left {
  width: 148px;
  float: left;
  padding-top: 1px;
  font-family: "Frutiger_normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page1 .choose_strip_interior,
.page1 .select_source_interior {
  padding-top: 19px;
  padding-bottom: 33px;
}
.page1 .select_source_interior {
  display: none;
}
.page1 .finish_typing_strip_interior,
.page1 .crop_strip_interior {
  padding-top: 12px;
  padding-bottom: 38px;
}
.page1 .crop_strip_interior {
  margin: auto;
  width: 374px;
  height: 2px;
  overflow: hidden;
}
.page1 .finish_entry_interior {
  padding-top: 10px;
  padding-bottom: 45px;
  margin: auto;
  width: 400px;
  height: 2px;
  overflow: hidden;
}
.page1 .after_cropping_strip_interior {
  padding-top: 13px;
  padding-bottom: 37px;
  margin: auto;
  width: 322px;
  height: 2px;
  overflow: hidden;
}
.page1 .finish_typing_strip_interior {
  padding-top: 10px;
  padding-bottom: 34px;
  margin: auto;
  width: 351px;
  height: 2px;
  overflow: hidden;
}
.page1 .bring_friend_strip_interior {
  padding-top: 13px;
  padding-bottom: 37px;
  margin: auto;
  width: 314px;
  height: 2px;
  overflow: hidden;
}
.page1 .crop_strip_left {
  margin-left: 0;
  padding-top: 5px;
  color: #fff;
  width: 230px;
  font-family: "Frutiger_normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: right;
}
.page1 .finish_entry_left {
  margin-left: 0;
  padding-top: 8px;
  color: #fff;
  font-family: "Frutiger_normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: right;
}
.page1 .cropping_strip_left {
  width: 442px;
}
.page1 .finish_typing_strip_left {
  width: 454px;
}
.page1 .bring_a_friend_strip_left {
  width: 443px;
}
.page1 .finish_entry_strip_left {
  width: 240px;
  float: left;
}
.page1 .strip_finish_button {
  width: 82px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 6px;
  background-color: #c2382f;
  margin-top: 1px;
}
.page1 .strip_cancel_button {
  width: 82px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 6px;
  background-color: darkgrey;
  margin-top: 1px;
}
.page1 #bring_no_friend_button {
  background-color: darkgrey;
}
.page1 #bring_no_friend_button:hover {
  background-color: #bdbdbd;
}
.page1 .strip_finish_button .strip_finish_button_left,
.page1 .strip_finish_button .strip_finish_button_right {
  float: left;
}
.page1 .strip_finish_button .strip_finish_button_left {
  padding: 10px 0 0 10px;
}
.page1 .strip_finish_button .strip_finish_button_right {
  padding: 0px;
  text-align: center;
  font-size: 140%;
  width: 63px;
}
.page1 #finish_entry_bar .strip_finish_button {
  height: 40px;
  line-height: 40px;
  width: 125px;
}
.page1 .add_picture_strip .add_picture_strip_left {
  width: 210px;
}
.page1 .add_picture_strip .add_picture_strip_left span {
  font-style: italic;
  font-family: "Frutiger_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page1 .add_picture_strip .add_picture_strip_right {
  width: 30px;
  position: relative;
  margin-left: 10px;
}
.page1 .add_picture_strip .add_picture_strip_right i {
  font-size: 30px;
  margin-top: 1px;
  line-height: 15px;
}
.page1 .add_picture_strip .resize_and_return_block_left {
  width: 188px;
  float: left;
}
.page1 .add_picture_strip .resize_and_return_block {
  width: 172px;
  position: relative;
  top: -2px;
  float: left;
  margin-left: 10px;
}
.page1 .add_picture_strip .resize_and_return_block i {
  font-size: 40px;
  line-height: 15px;
}
.page1 .return_web,
.page1 .forward_web {
  float: left;
}
.page1 .return_web {
  margin-right: 6px;
}
.page1 .add_picture_strip .finish_typing_button_block {
  width: 86px;
  position: relative;
  top: -2px;
  float: left;
  margin-left: 10px;
}
.page1 .add_picture_strip .finish_typing_button_block i {
  font-size: 40px;
  line-height: 15px;
}
.page1 .add_picture_strip .bring_no_friend_button_block {
  width: 87px;
  position: relative;
  top: -2px;
  float: left;
  margin-left: 10px;
}
.page1 .add_picture_strip .bring_no_friend_button_block i {
  font-size: 40px;
  line-height: 15px;
}
.page1 .add_picture_strip .finish_creating_button_block {
  width: 133px;
  position: relative;
  top: -2px;
  float: left;
  margin-left: 15px;
}
.page1 .add_picture_strip .finish_creating_button_block i {
  font-size: 40px;
  line-height: 15px;
}
.page1 #tag_gray_area {
  background-color: #f2f2f2;
}
.page1 .tag_button_area {
  padding: 1px 0 38px 0;
  z-index: 1;
}
.page1 .tag_button_area i {
  font-size: 40px;
  line-height: 15px;
}
.page1 .turning_back_block {
  overflow: hidden;
  margin: auto;
  width: 90%;
}
.page1 .turning_back_block_left,
.page1 .turning_back_block_right {
  float: left;
  height: 27px;
  width: 49.5%;
  font-size: 160%;
  text-align: center;
  padding: 3% 0 0 0;
  margin: auto;
  color: #fff;
  overflow: hidden;
  border-radius: 6px;
}
.page1 .turning_back_block_left {
  margin: 0 1% 0 0;
  background-color: darkgrey;
}
.page1 .turning_back_block_right {
  background-color: #c2382f;
}
.page1 .tag_action_button {
  height: 48px;
  width: 90%;
  margin: auto;
  color: #fff;
  overflow: hidden;
  border-radius: 6px;
  background-color: #c2382f;
}
.page1 .tag_action_button_left,
.page1 .tag_action_button_right {
  float: left;
}
.page1 .tag_action_button_left {
  max-width: 15px;
  width: 10%;
  padding: 15px 0 0 5%;
}
.page1 .tag_action_button_right {
  width: 84%;
  text-align: center;
  font-size: 170%;
  padding: 12px 3% 0 0;
}
.page1 .tag_friend_area_cover {
  background-color: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  height: 100%;
  width: 100%;
}
.page1 .tag_friend_area {
  padding: 8px 0 60px 0;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.page1 .tag_friend_area .tag_friend_area_desc {
  width: 90%;
  margin: auto;
  font-size: 146%;
  color: #222;
  text-align: center;
  display: table;
  margin: 0 auto 20px auto;
}
.page1 .tag_friend_area .friends_tagged {
  width: 126px;
  overflow: hidden;
  margin: auto;
}
.page1 .tag_friend_area .f_tagged {
  position: relative;
  height: 58px;
  width: 58px;
  float: left;
  margin: 0 10px 0 0;
  overflow: hidden;
}
.page1 .tag_friend_area .f_tagged .add_fb_img {
  width: 100%;
}
.page1 .tag_friend_area .f_tagged.f_tagged_last {
  margin: 0;
}
.page1 .tag_friend_area #tagged_person_image {
  display: none;
}
.page1 .tag_friend_area .add_f_button {
  height: 58px;
  width: 58px;
  background-color: #c2382f;
}
.page1 .tag_friend_area .add_f_button_plus {
  margin: 20px 0 0 20px;
}
.page1 .tag_friend_area .f_pic_cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}
.page1 .tag_friend_area .friend_plus {
  display: none;
  width: 18px;
  background-image: url("/assets/graphics/picture/tagged_friend_plus.png");
  height: 18px;
  float: left;
  margin: 20px 10px 0 0;
}
.page1 .no_thanks_button_area {
  padding: 13% 0 0 0;
  padding: 3% 0 0 0;
  display: none;
}
.page1 .no_thanks_button_area_spacer {
  width: 100%;
  height: 92px;
  height: auto;
}
.page1 .tag_friend_no_thanks_button {
  color: #ffffff;
  margin: auto;
  width: 90%;
  font-size: 170%;
  padding: 4% 0 4% 0;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  background-color: darkgrey;
}

.page1_pocket {
  position: absolute;
  height: 100%;
  width: 100%;
}
.page1_pocket img {
  height: 140%;
}

.page_background_tint {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background-color: #fff;
}

.add_picture_pocket_m {
  display: none;
  overflow: hidden;
  width: 100%;
}

.add_picture_pocket_m_backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.photo_cta_area {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.m_source_buttons {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20.5% 0 0 0;
  display: none;
}

.m_source_buttons_interior {
  height: 100%;
  width: 100%;
}

.m_source_button {
  width: 80%;
  height: 15%;
  margin: 0 auto 5% auto;
}

.cta_action_glow_area {
  position: relative;
  margin: 0 0 0 0;
}

.cta_action_glow_holder {
  position: relative;
  display: block;
  margin: auto;
  width: 28%;
  max-width: 229px;
  cursor: pointer;
}

.cta_glow_hidden {
  visibility: hidden;
}

.cta_action_glow_m {
  position: absolute;
  top: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.select_cource_cta {
  position: absolute;
  top: 0;
}

.cta_area_action_img {
  font-size: 30px;
}

.icon_our_library, .icon_Instagram {
  line-height: 15px;
}

.icon_facebook {
  line-height: 28px;
}

.cta_exp_desc,
.cta_exp_extry {
  margin: auto;
  text-align: center;
  color: #fff;
}

#write_here_block .pic_display_ctas_textarea_input {
  overflow: hidden;
  border: none;
  font-size: 220%;
  padding: 0px 10%;
  width: 80%;
  opacity: 1;
  background: transparent;
  text-align: center;
  word-wrap: break-word;
  font-family: "Frutiger_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: darkgrey;
  color: #fff;
  font-style: italic;
}

.cta_exp_desc {
  font-size: 344%;
  margin: 0 0 0 0;
  font-family: "Frutiger_normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cta_exp_extry {
  display: block;
  font-size: 692%;
  width: 90%;
  height: 78px;
  padding: 0 5%;
  border: 0;
  color: darkgrey;
  color: #fff;
  background-color: transparent;
  font-family: "Frutiger_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.add_picture_pocket {
  height: 0px;
}

.add_picture_pocket .add_picture_pocket_phone {
  position: absolute;
  top: 40px;
  left: 170px;
  width: 472px;
  height: 478px;
  padding: 13px 0 0 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.add_picture_pocket .add_picture_pocket_phone .pocket_phone_back {
  position: absolute;
  top: 9%;
  left: 0px;
}

.pic_display_case {
  position: relative;
  width: 376px;
  height: 327px;
  padding: 138px 0 0 48px;
}

.pic_source_block {
  position: absolute;
  left: 48px;
  top: 138px;
  width: 374px;
  height: 254px;
  padding: 54px 0 0 0;
  display: none;
}

.typeNowPopup,
.typeNowPopup_m {
  position: absolute;
}

.typeNowPopup {
  display: none;
  background-image: url(../graphics/typeNowPopup.png);
  top: 250px;
  left: 108px;
  width: 200px;
  height: 92px;
  padding: 22px 28px 0 28px;
  font-size: 147%;
  text-align: center;
}

.typeNowPopup_m {
  display: none;
  top: -287px;
  width: 100%;
}

.typeNowPopup_m_interior {
  margin: auto;
  width: 80%;
  max-width: 661px;
}

.typeNowPopup_m_interior_txt_box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.typeNowPopup_m_interior_txt {
  width: 100%;
  padding-top: 41px;
  margin: auto;
  text-align: center;
  font-size: 350%;
}

.textWordCount {
  display: none;
  position: absolute;
  top: 153px;
  right: 18px;
  width: 30px;
  height: 30px;
  background: #323130;
  border-radius: 5px;
  color: #FFF;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
}

.textWordCount_m {
  display: none;
  position: absolute;
  top: 10px;
  right: 18px;
  width: 30px;
  height: 30px;
  background: #323130;
  border-radius: 5px;
  color: #FFF;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
}

.source_pic_shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.m_source_button,
.pic_source_block .source_button {
  color: #fff;
  font-size: 150%;
  text-align: center;
  font-family: "Frutiger_normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #c2382f;
  border-radius: 6px;
  cursor: pointer;
}

.pic_source_block .source_button {
  width: 302px;
  height: 38px;
  padding: 20px 0 0 0;
  margin: 0 auto 22px auto;
}

.m_source_button {
  width: 80%;
  height: 15%;
  margin: 0 auto 5% auto;
  overflow: hidden;
}

.m_source_button_left,
.m_source_button_right {
  float: left;
}

.m_source_button_left {
  width: 20%;
  max-width: 33px;
}

.fb_src_button_m_left,
.inst_src_button_m_left,
.lib_src_button_m_left {
  margin: 7% 0 0 9%;
}

.m_source_button_right {
  width: 60%;
  padding: 6% 0 0 1%;
  text-align: center;
}

.finished_pic_display_m {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.pic_display_m {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.pic_display_case .pic_display {
  position: relative;
  width: 374px;
  height: 327px;
  overflow: hidden;
}

.pic_display_ctas {
  position: absolute;
  top: 137px;
  left: 47px;
  width: 380px;
  height: 328px;
}

.pic_display_ctas_pic {
  margin: 90px auto;
  cursor: pointer;
  height: 141px;
  width: 141px;
}

.pic_display_ctas_pic .pic_display_ctas_pic_glow {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 141px;
  width: 141px;
}

.pic_display_ctas_pic .pic_display_ctas_pic_button {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 48px;
  height: 38px;
}

.pic_display_ctas_textarea {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: auto;
  color: #fff;
  width: 100%;
  max-width: 376px;
  display: none;
  z-index: 6;
  background: url("/assets/graphics/gradient-slice.png");
  background-position: 0px -10px;
  padding-top: 25px;
}

.pic_display_ctas_textarea .pic_display_ctas_textarea_desc,
.pic_display_ctas_textarea .pic_display_ctas_textarea_input {
  width: 100%;
  text-align: center;
}

.pic_display_ctas_textarea .pic_display_ctas_textarea_desc {
  margin: 0 auto 13px auto;
  font-size: 180%;
}

.pic_display_ctas_textarea .pic_display_ctas_textarea_input {
  margin: auto;
  background-color: transparent;
  font-size: 270%;
  font-family: "FrutigerBoldIta", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Frutiger_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  color: darkgrey;
  color: #fff;
  transform: scale(1.15, 1);
  /* W3C */
  -webkit-transform: scale(1.15, 1);
  /* Safari and Chrome */
  -moz-transform: scale(1.15, 1);
  /* Firefox */
  -ms-transform: scale(1.15, 1);
  /* IE 9 */
  -o-transform: scale(1.15, 1);
  /* Opera */
  word-wrap: break-word;
  max-width: 227px;
  padding: 0 12px;
  border: 0;
  display: block;
  resize: none;
  z-index: 99;
  position: inline-block;
}

/******************************************************************
page1 ends
******************************************************************/
/******************************************************************
page2 begins
******************************************************************/
.thanks_main_window_m {
  display: none;
}

.thanks_m_question_strip {
  height: 60px;
  background-color: #000;
}

.thanks_main_window {
  color: #fff;
  height: 486px;
  overflow: hidden;
  background: url("../graphics/thank_you/back.jpg") no-repeat;
}

.thanks_main_window_left,
.thanks_main_window_right {
  float: left;
  height: 100%;
  color: #fff;
}

.thanks_main_window_left {
  display: none;
  width: 334px;
  padding: 67px 0 0 26px;
}

.thanks_main_header h1,
.thanks_main_header h3 {
  color: #fff;
  margin: 0;
  font-family: "Frutiger_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.thanks_main_header h1 {
  font-size: 480%;
}

.thanks_main_header h3 {
  font-size: 350%;
  margin: 0 0 16px 0;
}

.small_msgs {
  font-size: 140%;
}

.small_msgs1,
.small_msgs2 {
  margin: auto;
  text-align: center;
}

.small_msgs1 {
  margin: 0 0 35px 0;
}

.small_msgs2 {
  margin: 0 0 14px 0;
}

.thanks_email_entry_block {
  width: 282px;
  height: 42px;
  margin: 0 0 39px 25px;
  position: relative;
}

.thanks_email_entry_block_back {
  background-color: #000;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

.thanks_email_entry_cta_holder {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.thanks_email_entry_cta_left,
.thanks_email_entry_cta_right {
  float: left;
}

.thanks_email_entry_cta_left {
  display: block;
  width: 184px;
  height: 30px;
  margin: 5px 0 0 6px;
  padding: 0 0 0 6px;
  border: 0;
  text-align: left;
  background-color: transparent;
  font-size: 12px;
  color: #FFF;
}

#home .check.error {
  background-color: #b94a48;
  background-color: red;
}

.thanks_email_entry_cta_right {
  position: absolute;
  overflow: hidden;
  background-color: #c2382f;
  width: 76px;
  height: 34px;
  margin: 4px 0 0 6px;
  border-radius: 6px;
  cursor: pointer;
  right: 2px;
  top: -1px;
}

.thanks_email_entry_cta_right_left,
.thanks_email_entry_cta_right_right {
  float: left;
  margin-top: 11px;
}

.thanks_email_entry_cta_right_left {
  background-image: url(../graphics/checkbox/big/check.png);
  width: 12px;
  height: 12px;
  margin-left: 13px;
}

.thanks_email_entry_cta_right_right {
  background-image: url(../graphics/checkbox/big/check_off.png);
  width: 9px;
  height: 10px;
  margin-left: 26px;
}

.thanks_email_sliding_check {
  position: absolute;
  left: 3px;
  top: 2px;
  background-image: url(../graphics/checkbox/big/big_checkbox.png);
  background-repeat: no-repeat;
  width: 34px;
  height: 31px;
}

.thanks_main_window_right {
  width: 450px;
}

.thanks_email_share_block_text {
  margin: 0 auto 9px auto;
  text-align: center;
  font-size: 146%;
}

.thanks_email_share_block_icons {
  overflow: hidden;
  width: 101px;
  margin: auto;
}

.thanks_email_share_block_icons_left,
.thanks_email_share_block_icons_right {
  float: left;
  height: 43px;
  width: 43px;
}

.thanks_email_share_block_icons_left {
  background-image: url(../graphics/share/icons/f.png);
  margin-right: 15px;
}

.thanks_email_share_block_icons_left:hover {
  background-image: url(../graphics/share/icons/f_hover.png);
  cursor: pointer;
}

.thanks_email_share_block_icons_right {
  background-image: url(../graphics/share/icons/t.png);
}

.thanks_email_share_block_icons_right:hover {
  background-image: url(../graphics/share/icons/t_hover.png);
  cursor: pointer;
}

.thank_you_phone_case {
  width: 424px;
  margin: 58px 0 0 8px;
}

.thanks_sec_window {
  display: none;
  position: relative;
  height: 309px;
}

.thanks_sec_window_left {
  position: absolute;
  top: 0px;
  left: 49px;
  display: block;
}

.thanks_sec_window_right {
  height: 264px;
  width: 420px;
  padding: 45px 0 0 0;
  margin: 0 0 0 390px;
}

.thank_you_logo {
  margin: 0 0 26px 35px;
}

.thank_you_info_msg {
  text-align: center;
  font-size: 140%;
  width: 90%;
  margin: 0 auto 22px auto;
}

.thank_you_button {
  text-align: center;
  font-size: 170%;
  width: 44%;
  height: 36px;
  display: block;
  text-decoration: none;
  color: #fff;
  padding-top: 12px;
  margin: auto;
  font-family: "Frutiger_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #c2382f;
  border-radius: 6px;
}

/******************************************************************
page2 ends
******************************************************************/
.m_thank_you {
  width: 100%;
  color: #fff;
  text-align: center;
  display: none;
}

.m_thank_header {
  font-size: 477%;
  padding: 39px 0 0 0;
  line-height: 83%;
  font-family: "Frutiger_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.m_thank_sub_header {
  font-size: 377%;
  padding: 3px 0 0 0;
  font-family: "Frutiger_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.m_thank_sub_header_small {
  font-size: 170%;
  padding: 3px 0 0 0;
  margin: 0 0 40px 0;
  font-family: "Frutiger_normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.m_thank_email_header {
  font-size: 200%;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  font-family: "Frutiger_normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.thank_you_p1_interior {
  width: 90%;
  padding: 34px 0 75px 0;
  margin: auto;
}

.m_thank_email_entry_box {
  width: 100%;
  overflow: hidden;
  margin: 0 0 46px 0;
  padding: 0 0 6px 0;
}

.m_thank_email_container {
  height: 100%;
  width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.m_thank_email_box_shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  background-color: #000;
  border-radius: 6px;
}

.m_thank_email_left {
  float: left;
  margin: 20px 0 10px 0;
  padding: 0 5% 0 2%;
  border: 0;
  height: 41px;
  width: 64%;
  font-size: 270%;
  display: block;
  color: #FFF;
  background-color: transparent;
}

.thanks_email_entry_cta_left.error,
.m_thank_email_left.error {
  color: #c2382f;
}

.m_thank_email_left::-webkit-input-placeholder {
  color: #b1b0b0;
}

.m_thank_email_left:-moz-placeholder {
  color: #b1b0b0;
}

.m_thank_email_left::-moz-placeholder {
  color: #b1b0b0;
}

.m_thank_email_left:-ms-input-placeholder {
  color: #b1b0b0;
}

.m_thank_email_right {
  margin: 6px 2% 1px 0;
  width: 20%;
  height: 66px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #c2382f;
  position: absolute;
  top: -1px;
  right: 2px;
}

.m_thank_email_slider {
  position: absolute;
  width: 50%;
  height: 86%;
  top: 7%;
  left: 4%;
  background-color: #fff;
  border-radius: 6px;
}

.email_xs_and_ticks {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.email_xs_and_ticks .tick,
.email_xs_and_ticks .xs {
  float: left;
  width: 10%;
}

.email_xs_and_ticks .tick {
  margin: 22px 34% 0 22%;
}

.email_xs_and_ticks .xs {
  margin: 21px 0 0 0;
}

.m_thank_share_area_header {
  font-size: 180%;
  margin: 0 0 18px 0;
  font-family: "Frutiger_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.m_thank_share_area_icons {
  overflow: hidden;
  margin: 0 auto 1px auto;
  width: 39%;
  max-width: 100px;
}

.m_thank_share_area_icons_left,
.m_thank_share_area_icons_right {
  float: left;
  width: 45%;
  max-width: 94px;
  cursor: pointer;
}

.m_thank_share_area_icons_left {
  margin-right: 10%;
}

.m_thank_ist {
  /*background-image:url(../graphics/trash/9.jpg);
  background-repeat:no-repeat;
  background-position:0 -485px;*/
}

.m_thank_ist_background,
.bg_image,
.bg_gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.bg_image {
  background-image: url(../graphics/home_bg.jpg);
  background-size: 200%;
}

.m_thank_2nd {
  width: 100%;
  padding: 58px 0 76px 0;
  color: #000;
  background-color: #fff;
}

.m_thank_2nd_logo {
  width: 76%;
  max-width: 370px;
  display: block;
  margin: 0 auto 38px auto;
}

.m_thank_2nd_stack {
  width: 48%;
  max-width: 495px;
  display: block;
  margin: 0 auto 20px auto;
}

.m_thank_2nd_msg {
  font-size: 230%;
  font-family: "Frutiger_normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 82%;
  margin: 0 auto 49px auto;
  max-width: 750px;
}

.m_thank_2nd_lmore_button {
  color: #fff;
  width: 90%;
  max-width: 440px;
  font-family: "Frutiger_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #c2382f;
  border-radius: 6px;
  font-size: 170%;
  padding: 5% 0 5% 0;
  margin: auto;
  display: block;
  text-decoration: none;
}

#loader {
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 1000;
}

ul.images {
  margin: 0;
  padding: 0;
}
ul.images li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 75px;
  height: 75px;
  font-size: 0;
  overflow: hidden;
  position: relative;
}
ul.images li img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

#crop_tool {
  height: 94%;
  height: 72%;
  width: 85%;
  position: absolute;
  bottom: 0;
  left: 8%;
  z-index: 9;
  display: none;
}
#crop_tool #cached_img {
  display: none;
}
#crop_tool .status {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
#crop_tool .borders {
  height: 100%;
}
#crop_tool .border {
  position: absolute;
  width: 100%;
  height: 100%;
}
#crop_tool .border.top {
  top: -50%;
  margin-top: -251px;
}
#crop_tool .border.right {
  right: -50%;
  margin-right: -250px;
}
#crop_tool .border.bottom {
  bottom: -50%;
  margin-bottom: -250px;
}
#crop_tool .border.left {
  left: -50%;
  margin-left: -251px;
}
#crop_tool .image {
  position: absolute;
  margin-left: 0;
  margin-top: 0;
}
#crop_tool .mask, #crop_tool .image_container {
  position: absolute;
  width: 100%;
  height: 100%;
  width: 70%;
  height: 70%;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  top: 30%;
  left: 15%;
  top: 0;
  left: 0;
}
#crop_tool .image_container img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}
#crop_tool .backdrop_mask_surround {
  position: absolute;
  left: 148px;
  top: 17px;
  width: 374px;
  height: 327px;
  overflow: hidden;
}
#crop_tool .backdrop_mask {
  position: absolute;
  left: 153px;
  top: 17px;
  width: 374px;
  height: 327px;
  overflow: hidden;
  background-color: #000;
}
#crop_tool .backdrop_mask img {
  position: absolute;
  left: 0;
  top: 0;
}
#crop_tool .image_container_backdrop {
  position: absolute;
  top: 12px;
  left: 90px;
  width: 100%;
  height: 100%;
  background-color: #5c8ae1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
#crop_tool .box {
  border: 1px dashed #CCC;
  width: 0;
  height: 0;
  position: absolute;
  z-index: 100;
  display: block;
  background: url("../graphics/cropTransparentBackground.png");
}
#crop_tool.active .box {
  display: block;
}
#crop_tool .ui-resizable-handle {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #999 -794px -429px  no-repeat;
  background-color: #c2382f;
}
#crop_tool .ui-resizable-handle.ui-resizable-ne {
  right: -4px;
  top: -4px;
}
#crop_tool .ui-resizable-handle.ui-resizable-se {
  right: -4px;
  bottom: -4px;
}
#crop_tool .ui-resizable-handle.ui-resizable-nw {
  left: -4px;
  top: -4px;
}
#crop_tool .ui-resizable-handle.ui-resizable-sw {
  left: -4px;
  bottom: -4px;
}

#add_pic_bar {
  width: 190px;
  margin: 0 auto;
}

.mobile_bar_start_typing,
.mobile_bar_bring_along,
.mobile_bar_finish_creating,
.mobile_bar_select_source,
.mobile_move_and_scale_bar {
  overflow: hidden;
  font-family: "Frutiger_normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 115%;
  margin: auto;
}

.mobile_bar_select_source_left,
.mobile_bar_select_source_right {
  float: left;
}

.mobile_bar_select_source_left {
  text-align: right;
  padding: 8px 0 0 0;
  margin: 0 0.8% 0 36%;
}

.mobile_bar_select_source_right {
  text-align: left;
}

.mobile_bar_select_source_right i {
  font-size: 220%;
}

.mobile_bar_finish_creating_inside,
.mobile_bar_bring_along_inside,
.mobile_bar_start_typing_inside,
.mobile_move_and_scale_bar_inside {
  text-align: center;
  margin: auto;
  padding: 8px 0 7px 0;
}

.pinching_absolute {
  display: none;
}

.pinching_absolute,
.pinching_absolute .pinching_inner,
.pinching_inner .pinching_backdrop,
.pinching_viewport .pinching_scalable {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pinching_inner .pinching_backdrop {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

.pinching_inner .pinching_backdrop #pinching_mask_img {
  position: absolute;
}

.pinching_inner .pinching_viewport {
  position: relative;
  width: 81.5%;
  height: 81%;
  border: solid 7px #fff;
  overflow: hidden;
  margin: 7% auto 0 auto;
}

.pinching_viewport .pinching_scalable {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
}

.pinching_handle {
  width: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #home .accept_tac_area_left {
    margin: 4px 7px 10px 300px;
  }
}
@media only screen and (max-width: 800px) {
  .container {
    padding-bottom: 0;
    width: 100%;
    max-width: 100%;
  }

  .web-crop-tool {
    display: none;
  }

  .mob-crop-tool {
    display: block;
  }

  #crop_tool {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: auto;
    overflow: hidden;
  }

  #crop_tool .image_container_backdrop {
    top: 9%;
    left: 9.9%;
    width: 81.5%;
    height: 81%;
  }

  #crop_tool .mask, #crop_tool .image_container {
    /*top:9%;
    left:9.9%;
    width:81.5%;
    height:81%;*/
    top: 8%;
    left: 14%;
    width: 85%;
    height: 85%;
  }

  #crop_tool .backdrop_mask_surround {
    top: 7.5%;
    left: 7.75%;
    width: 84.5%;
    height: 85%;
    background-color: #fff;
  }

  #crop_tool .backdrop_mask {
    /*top:9%;
    left:9.9%;
    width:81.5%;
    height:81%;
    border:solid #b00 1px;*/
    top: 1.5%;
    left: 1.5%;
    width: 97%;
    height: 97%;
  }

  .m_source_buttons {
    padding-top: 27.5%;
  }

  .m_source_button {
    width: 50%;
    height: 60px;
    margin: 0 auto 20px auto;
    padding-top: 0;
  }

  .fb_src_button_m_left {
    margin: 5% 0 0 9%;
  }

  #home .home_explanation {
    width: 100%;
    font-size: 260%;
    padding-top: 50px;
  }
  #home #home_content #home_slider {
    margin: 0 auto 6px auto;
  }
  #home #home_content .home_phone_slider_container {
    top: 14.5%;
  }
  #home .body_explanation {
    display: block;
    margin-bottom: 24px;
    font-size: 130%;
  }
  #home .body_explanation_w {
    display: none;
    margin: 0 auto 49px auto;
  }
  #home .accept_tac_area {
    width: 274px;
    margin: 0 auto 33px auto;
  }
  #home .accept_tac_area_right {
    font-size: 143%;
  }
  #home .accept_tac_area_left {
    margin: 4px 7px 12px 200px;
  }
  #home #create_yours_button {
    display: none;
  }
  #home #create_yours_button_m {
    display: block;
    font-size: 160%;
    height: 64px;
    line-height: 64px;
    width: 48%;
    padding: 0;
  }
  #home .create_yours_button {
    width: 100%;
    height: 81px;
    margin: 0 auto 36px auto;
    font-size: 335%;
    padding: 25px 0 0 0;
  }
  #home .powered_by_block {
    position: relative;
    float: none;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
  }
  #home .powered_by_block .powered_by_desc,
  #home .powered_by_block .powered_by_img {
    float: none;
    margin: 0 auto;
  }
  #home .powered_by_block .powered_by_desc {
    padding: 0 0 6px 0;
  }

  /*********************************************************************
  Page1
  *********************************************************************/
  .page1_pocket {
    display: none;
  }

    /*.page1 .add_picture_strip_m{
        display:block;
    }

    .page1 .add_picture_strip{
        display:none;
    }*/
  .add_picture_pocket_m {
    display: block;
  }

  .add_picture_pocket {
    display: none;
  }

  .page1 .tag_friend_area {
    padding-top: 20px;
    padding-bottom: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  .page1 .tag_friend_area .tag_friend_area_desc {
    font-size: 260%;
    margin-bottom: 35px;
  }

  .page1 .tag_friend_area .friends_tagged {
    width: 218px;
  }

  .page1 .tag_friend_area .f_tagged {
    margin: 0 27px 0 0;
  }

  .page1 .tag_friend_area .add_f_button .add_f_button_plus {
    width: 21px;
    margin: 36px 0 0 38px;
  }

  .page1 .tag_friend_area .add_f_button,
  .page1 .tag_friend_area .f_tagged {
    height: 95px;
    width: 95px;
  }

  .page1 .tag_friend_area .f_tagged .f_pic_cover img {
    width: 100%;
  }

  /*****************Top Strip **********************/
  #strip_finish_button_m {
    display: block;
  }

  #strip_finish_button {
    display: none;
  }

  #finish_typing_button_m {
    display: none;
  }

  #finish_typing_button {
    display: none;
  }

  #finish_creating_button {
    display: none;
  }

  .page1 .choose_strip_interior {
    padding-top: 10px;
    padding-bottom: 24px;
  }

  .page1 #add_pic_bar, .page1 .select_source_bar,
  .page1 #move_and_scale_bar, .page1 #finish_typing_bar, .page1 #bring_a_friend_bar, .page1 #finish_entry_bar,
  #bring_a_friend_bar_m {
    display: none;
  }

  .mobile_bar_select_source_left {
    margin: 0 0.8% 0 37%;
  }

  .page1 #move_and_scale_bar {
    display: none;
  }

  .page1 .centered_text_bar {
    display: none;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    font-size: 134%;
  }

  .page1 .choose_strip_interior {
    width: 235px;
    margin: auto;
  }

  .page1 .select_source_interior {
    width: 184px;
    margin: auto;
    display: block;
  }

  .page1 .choose_strip_left {
    margin-left: 0;
  }

  .page1 .add_picture_strip .add_picture_strip_left {
    margin: auto;
    width: 100%;
    font-size: 100%;
    text-align: center;
  }

  .page1 .add_picture_strip .choose_strip_left {
    width: auto;
  }

  .page1 .add_picture_strip .add_picture_strip_right {
    margin-top: 2px;
  }
  .page1 .add_picture_strip .add_picture_strip_right i {
    font-size: 30px;
  }

  .page1 .add_picture_strip #select_source_bar .add_picture_strip_right {
    margin-top: 2px;
  }

  .page1 #finish_typing_bar {
    width: 310px;
    margin: auto;
  }

  .page1 .add_picture_strip .finish_typing_strip_left {
    width: 100%;
    text-align: center;
  }

  .page1 .add_picture_strip .add_picture_strip_left.finish_entry_strip_left {
    width: 100%;
    padding-top: 4px;
    text-align: center;
  }

  .page1 #finish_entry_bar {
    width: 328px;
    margin: auto;
    padding-bottom: 30px;
  }

  .page1 #finish_entry_bar .strip_finish_button {
    width: 95px;
  }

  .page1 .strip_finish_button .strip_finish_button_left {
    padding: 3px 0 0 8px;
  }

  .page1 .strip_finish_button .strip_finish_button_right {
    width: 63px;
  }

  .page1 .add_picture_strip {
    background-color: #111111;
  }

  /***************Top Strip end ********************/
  /******************************************************************
  page2 begins
  ******************************************************************/
  .thanks_main_window,
  .thanks_sec_window {
    display: none;
  }

  .thanks_main_window_m {
    display: none;
  }

  /******************************************************************
  page2 ends
  ******************************************************************/
  .friends_box {
    top: 64px;
    left: 3.32%;
    width: 94%;
  }

  .friends_box li {
    width: 33%;
    max-height: 125px;
    overflow: hidden;
    margin: 0 0.5% 3px 0;
  }

  .friends_box li.last {
    margin: 0;
  }

  #bring_no_friend_button {
    display: none;
  }

  .typeNowPopup_m_interior_txt {
    padding-top: 47px;
  }

  .typeNowPopup_m {
    top: -287px;
  }
}
@media only screen and (max-width: 690px) {
  .friend_list_box {
    top: 40px;
    left: 5%;
    width: 90%;
  }

  .friend_list_head_top i,
  .friend_title_box i {
    font-size: 30px;
    top: 20px;
    right: 14px;
  }

  .cta_exp_desc {
    font-size: 264%;
  }

  .cta_exp_extry {
    font-size: 490%;
    height: 54px;
  }

  .mobile_bar_select_source_left {
    margin: 0 0.8% 0 35%;
  }

  #home .home_explanation {
    font-size: 300%;
    padding-top: 10px;
  }

  #home .body_explanation {
    font-size: 335%;
  }

  #home .create_yours_button {
    height: auto;
    font-size: 160%;
    padding: 12px 0;
  }

  #home #create_yours_button_m {
    width: 90%;
    font-size: 240%;
    height: auto;
    line-height: 1.3;
    padding: 12px 0 12px 0;
  }

  #home #home_content .home_phone_slider_container {
    top: 15%;
  }

  .accept_tac_area {
    width: 290px;
    margin: 0 auto 39px auto;
  }

  .friends_box li {
    max-height: 100px;
  }

  #home .accept_tac_area {
    margin: 0 auto 23px auto;
  }

  .email_xs_and_ticks .tick {
    margin-top: 28px;
  }

  .email_xs_and_ticks .xs {
    margin-top: 27px;
  }

  .m_source_buttons {
    padding-top: 16%;
  }

  .m_source_button {
    width: 80%;
    height: 10%;
    font-size: 290%;
    padding-top: 6%;
    margin: 0 auto 5% auto;
  }

  .inst_src_button_m_left,
  .lib_src_button_m_left {
    margin: 2% 0 0 9%;
  }

  .fb_src_button_m_left {
    margin: 1% 0 0 9%;
  }

  .m_source_button_right {
    padding: 0 0 0 1%;
  }

  .cta_area_action_img {
    font-size: 40px;
  }

  .typeNowPopup_m_interior_txt {
    padding-top: 29px;
    font-size: 264%;
  }

  .typeNowPopup_m {
    top: -198px;
  }
}
@media only screen and (max-width: 480px) {
  .cta_exp_desc {
    font-size: 174%;
    margin-top: 50%;
    margin-top: 16%;
  }

  .cta_exp_extry {
    font-size: 318%;
    height: 42px;
  }

  .page1 .tag_friend_area .add_f_button .add_f_button_plus {
    margin: 20px 0 0 20px;
  }

  .page1 .tag_friend_area .tag_friend_area_desc {
    font-size: 174%;
    margin-bottom: 15px;
  }

  .page1 .tag_friend_area .friends_tagged {
    width: 136px;
  }

  .page1 .tag_friend_area .f_tagged {
    height: 60px;
    width: 60px;
    margin-right: 15px;
  }

  .page1 .no_thanks_button_area_spacer {
    height: 13px;
  }

  .page1 .no_thanks_button_area {
    padding: 8% 0 0 0;
  }

  .mobile_bar_select_source_left {
    margin: 0 0.8% 0 26%;
  }

  #home .home_explanation {
    font-size: 190%;
    padding: 20px 0 10px 0;
  }

  #home .body_explanation {
    font-size: 140%;
    line-height: 1.6;
    margin-bottom: 24px;
  }

  #home #home_content .home_phone_slider_container {
    top: 15%;
  }

  .friends_box li {
    max-height: 90px;
    margin: 0 0.5% 2px 0;
  }

  .friend_list_head i {
    top: -4px;
  }

  .m_thank_2nd_logo {
    margin: 0 auto 24px auto;
  }

  .m_thank_2nd_msg {
    margin: 0 auto 28px auto;
    font-size: 140%;
  }

  .m_thank_2nd {
    padding-bottom: 38%;
  }

  .fb_src_button_m_left {
    margin: 1% 0 0 9%;
  }

  .inst_src_button_m_left, .lib_src_button_m_left {
    margin: 2% 0 0 9%;
  }

  .m_source_buttons {
    padding-top: 14%;
  }

  .m_source_button {
    padding-top: 5%;
    font-size: 240%;
    height: 12%;
  }

  .fb_src_button_m_left {
    margin-top: 0.5%;
  }

  #home .accept_tac_area {
    margin: 0 auto 24px auto;
  }

  .m_thank_email_left {
    font-size: 140%;
    height: 15px;
    margin-top: 12px;
    margin-bottom: 7px;
  }

  .m_thank_email_right {
    height: 30px;
  }

  .email_xs_and_ticks .tick {
    margin-top: 8px;
  }
  .email_xs_and_ticks .tick img {
    width: 9px;
  }

  .email_xs_and_ticks .xs {
    margin-top: 8px;
  }
  .email_xs_and_ticks .xs img {
    width: 8px;
  }

  .friend_interior {
    height: 340px;
  }

  .typeNowPopup_m_interior_txt {
    padding-top: 20px;
    font-size: 200%;
  }

  .typeNowPopup_m {
    top: -65px;
  }
}
@media only screen and (max-width: 360px) {
  .friend_finder_input {
    width: 56%;
    font-size: 120%;
  }

  .page1 .choose_strip_interior {
    width: 194px;
  }

  .page1 .add_picture_strip .add_picture_strip_left {
    font-size: 100%;
    text-align: center;
  }

  .page1 .add_picture_strip .add_picture_strip_right {
    margin-top: -1px;
  }

  .page1 .select_source_interior .add_picture_strip_left {
    width: 136px;
    font-size: 100%;
  }

  .page1 .add_picture_strip #select_source_bar .add_picture_strip_right {
    margin-top: -1px;
  }

  .page1 .add_picture_strip .add_picture_strip_right {
    margin-top: -1px;
  }

  .page1 .select_source_interior {
    width: 197px;
  }

  .page1 .choose_strip_interior {
    padding-top: 7px;
    padding-bottom: 23px;
  }

  .page1 .select_source_interior .add_picture_strip_left {
    width: 165px;
  }

  .cta_exp_desc {
    font-size: 156%;
    margin: 0;
    margin-top: 50%;
    margin-top: 16%;
  }

  .cta_exp_extry {
    font-size: 217%;
    height: 30px;
  }

  .page1 .tag_friend_area .friends_tagged {
    width: 131px;
  }

  .page1 .tag_friend_area .f_tagged {
    margin-right: 10px;
  }

  .page1 .no_thanks_button_area {
    padding: 12% 0 0 0;
  }

  .page1 .no_thanks_button_area_spacer {
    height: 0px;
  }

  .page1 .tag_friend_area {
    padding-bottom: 36px;
  }

  .mobile_bar_start_typing, .mobile_bar_bring_along,
  .mobile_bar_finish_creating, .mobile_bar_select_source,
  .mobile_move_and_scale_bar {
    font-size: 100%;
  }

  .mobile_bar_finish_creating {
    position: relative;
    width: 100%;
  }

  .mobile_bar_select_source {
    width: 158px;
  }

  .mobile_bar_select_source_left {
    margin: 0 0.8% 0 0;
  }

  #home .home_explanation {
    font-size: 190%;
    padding: 20px 0 10px 0;
  }

  #home .create_yours_button {
    font-size: 140%;
    line-height: 50px;
    padding: 0;
    height: auto;
  }

  #home #create_yours_button_m {
    width: 90%;
    font-size: 146%;
    height: auto;
    line-height: 1.3;
    padding: 10px 0;
    margin: 0 auto 22px auto;
  }

  #home .accept_tac_area_left {
    margin: -2px 7px 0 40px;
  }

  #home .accept_tac_area_right {
    margin: -2px 0 8px;
    font-size: 100%;
  }

  #home .check {
    width: 20px;
    height: 20px;
  }

  #home .check .checked {
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-position: 1px;
  }

  .friends_box li {
    max-height: 55px;
    margin: 0 0.5% 2px 0;
  }

  .m_source_button_left {
    width: 10%;
  }

  .inst_src_button_m_left,
  .lib_src_button_m_left {
    margin: 6px 0 0 9%;
  }

  .fb_src_button_m_left {
    margin: 1px 0 0 9%;
  }

  .m_source_button {
    height: 10%;
    padding: 3% 0 4% 0;
    font-size: 174%;
  }

  .cta_area_action_img {
    font-size: 26px;
  }

  .m_source_button_right {
    width: 70%;
    padding: 3px 0 0 0;
  }

  .friend_title_box #friendbox_title {
    font-size: 90%;
    text-align: left;
    padding-left: 5%;
  }

  .friend_list_head_top i,
  .friend_title_box i {
    font-size: 30px;
    right: 14px;
    top: 20px;
  }

  .friend_list_head i {
    font-size: 30px;
    top: 0px;
  }

  .friend_interior {
    height: 206px;
  }

  .typeNowPopup_m_interior_txt {
    padding-top: 14px;
    font-size: 134%;
  }

  .typeNowPopup_m {
    top: -32px;
  }
}
@media only screen and (max-width: 230px) {
  .friend_title_box #friendbox_title {
    font-size: 72%;
  }
  .friend_title_box #friendbox_title i {
    font-size: 20px;
  }

  .page1 .tag_action_button_right {
    width: 77%;
  }

  .m_thank_email_left {
    font-size: 100%;
  }

  .m_thank_2nd_msg {
    font-size: 142%;
  }

  .friend_interior {
    height: 175px;
  }

  .typeNowPopup_m_interior_txt {
    padding-top: 13px;
    font-size: 112%;
  }

  .typeNowPopup_m {
    top: -24px;
  }
}
@media only screen and (max-width: 180px) {
  .m_source_button {
    font-size: 139%;
  }

  .m_source_button_right {
    padding: 3% 0 0 0;
    font-size: 80%;
  }

  .fb_src_button_m_left {
    margin: -3px 0 0 9%;
  }

  .inst_src_button_m_left, .lib_src_button_m_left {
    margin: 4px 0 0 9%;
  }

  .cta_area_action_img {
    font-size: 18px;
  }

  .m_thank_email_left {
    font-size: 90%;
    margin-top: 11px;
  }

  .m_thank_email_right {
    height: 22px;
  }

  .email_xs_and_ticks .tick {
    margin-top: 3px;
  }

  .email_xs_and_ticks .xs {
    margin-top: 3px;
  }

  .friend_title_box {
    height: auto;
    padding-top: 15px;
    padding-bottom: 12px;
  }

  .friend_list_head i {
    font-size: 20px;
    top: 5px;
  }

  .mobile_bar_start_typing, .mobile_bar_bring_along,
  .mobile_bar_finish_creating, .mobile_bar_select_source,
  .mobile_move_and_scale_bar {
    font-size: 70%;
  }

  .mobile_bar_select_source_left {
    padding: 5px 0 0 0;
  }

  .mobile_bar_select_source {
    width: 111px;
  }

  .friend_interior {
    height: 125px;
  }
}
@media screen and (max-device-width: 640px) {
  .friend_list_head {
    margin: 0 auto 5px auto;
    height: 30px;
  }

  .friend_list_row {
    margin: 0 auto 0px auto;
  }

  .friend_list_single {
    padding: 3px 0;
  }
  .friend_list_single .friend_list_single_right {
    font-size: 120%;
  }

  .friend_list_head_top {
    margin: 0 0 10px 0;
    padding: 10px 0;
  }
  .friend_list_head_top i {
    top: 7px;
  }
}
/*
@media only screen and (max-width: 600px) {
    $scale: 0.5;
    $hole-width: round($final-image-width * $scale);
    $hole-height: round($final-image-height * $scale);

    #crop_tool{
        // borders
        .border{
            &.top{
                margin-top: $hole-height / -2;
            }
            &.right{
                margin-right: $hole-width / -2 + 1;
            }
            &.bottom{
                margin-bottom: $hole-height / -2 + 1;
            }
            &.left{
                margin-left: $hole-width / -2;
            }
        }

        .mask, .image_container{
            width: $hole-width;
            height: $hole-height;
            margin-top: $hole-height / -2;
            margin-left: $hole-width / -2;
        }
    }
}*/
/* -------------------------------------------------------------- 
	Cross Browser Fixes
-------------------------------------------------------------- */
/* -------------------------------------------------------------- 
	Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 600px) {
  #mn_hdr {
    height: 37px;
    padding-top: 10px;
  }
  #mn_hdr #logo {
    background-image: url("../graphics/logo_mobile.png");
    background-repeat: no-repeat;
    height: 27px;
    width: 103px;
  }
}
@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 600px) and (-moz-min-device-pixel-ratio: 2), only screen and (max-width: 600px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (max-width: 600px) and (min-device-pixel-ratio: 2), only screen and (max-width: 600px) and (min-resolution: 192dppx), only screen and (max-width: 600px) and (min-resolution: 2dppx) {
  #mn_hdr #logo {
    background-image: url("../graphics/logo_mobile@2x.png");
    -webkit-background-size: 103px 27px;
    -moz-background-size: 103px 27px;
    -o-background-size: 103px 27px;
    background-size: 103px 27px;
  }
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
