/* -------------------------------------------------------------- 
	SASS Mixins
-------------------------------------------------------------- */


//============================================================
//
// HIDPI-media-query 
//
// The HIDPI Meda Query will allow you to generate a media
// query that targes HIDPI devices.
// Find my device pixel ratio. Check out http://bjango.com/articles/min-device-pixel-ratio/
//
// Parameters:
// - Ratio: The device screen ratio. Default value set to 1.3 to target Google Nexus 7.
//
//============================================================
@mixin hidpi($ratio: 1.3) {
	@media only screen and (-webkit-min-device-pixel-ratio: $ratio),
    only screen and (min--moz-device-pixel-ratio: $ratio),
    only screen and (-o-min-device-pixel-ratio: #{$ratio}/1),
    only screen and (min-resolution: #{round($ratio*96)}dppx),
    only screen and (min-resolution: #{$ratio}dppx) {
    	@content;
	}
}


//============================================================
//
// Retina image
//
// The mixin uses a @2x.png retina filename.
// E.g. logo.png and logo@2x.png
//
// Parameters:
// - File path: The path to the file without the file extension. Place this in quotes ""
// - Width: The width of the image
// - Height: The height of the image
// - Extension: The default is .png, only add this parameter is if is different
//
//============================================================
@mixin retina-image($filepath, $width, $height, $extension: png) {
	background-image: url($filepath + '.' + $extension);
	background-repeat: no-repeat;
	height: $height;
	width: $width;
	
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (-moz-min-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dppx),
	only screen and (min-resolution: 2dppx) {
		& {
			background-image: url($filepath + '@2x.' + $extension);
			@include background-size($width $height);	
		}
	}
}


//============================================================
//
// Font rem
//
// Adds in px and rem sizes
// Note: Keep rem after px on output
//
// Parameters:
// - Size: the rem font size - This is usually the px font size divided by 10 (e.g. 16px will be 1.6)
//
//============================================================
@mixin font-rem($size: 1.6) {
    font-size: ($size * 10) + px;
    font-size: $size + rem;
}


//============================================================
//
// Font stretching
//
// Parameters:
// - Size: the rem font size - This is usually the px font size divided by 10 (e.g. 16px will be 1.6)
//
//============================================================
@mixin font-stretch($hozizontal: 1, $vertical: 1) {
    transform:scale($hozizontal,$vertical); /* W3C */
    -webkit-transform:scale($hozizontal,$vertical); /* Safari and Chrome */
    -moz-transform:scale($hozizontal,$vertical); /* Firefox */
    -ms-transform:scale($hozizontal,$vertical); /* IE 9 */
    -o-transform:scale($hozizontal,$vertical); /* Opera */
}


//============================================================
//
// Button Transistion
//
// Parameters:
// - Size: the rem font size - This is usually the px font size divided by 10 (e.g. 16px will be 1.6)
//
//============================================================
@mixin standard_button_transition( $property:background-color ) {

/* For Safari 3.1 to 6.0 */
-webkit-transition-property:$property;
-webkit-transition-duration:0.4s;
-webkit-transition-timing-function:linear;
-webkit-transition-delay:0s;
/* Standard syntax */
transition-property: background-color;
transition-duration: 0.4s;
transition-timing-function: linear;
transition-delay: 0s;

}


//============================================================
//
// Center-align a block level element
//
//============================================================
@mixin center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


//============================================================
//
// Size shortcut
//
// Parameters:
// - Width: The width of the element
// - Height: The height of the element
//
//============================================================
@mixin size($width, $height) {
	height: $height;
    width: $width;
}


@mixin w_size($width) {
    width: $width;
}


//============================================================
//
// Max Width shortcut
//
// Parameters:
// - Width: The maximum width of the element
//
//============================================================
@mixin max_width_size($width) {
	max-width: $width;
}


@mixin w_size($width) {
    width: $width;
}


//============================================================
//
// Square shortcut
//
// Parameters:
// - Size: The height and width of the element. Only input a single value
//
//============================================================
@mixin square($size) {
    @include size($size, $size);
}


//============================================================
//
// Text overflow
//
// Requires inline-block or block for proper styling
//
//============================================================
@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


//============================================================
//
// CSS image replacement
//
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
//
//============================================================
@mixin hide-text($font: '~"0/0" a') {
    background-color: transparent;
    border: 0;
    color: transparent;
    font: $font;
    text-shadow: none;
}


//============================================================
//
// Resize anything
//
// Parameters:
//  - Direction: none|both|horizontal|vertical|initial|inherit
//
//============================================================
@mixin resizable($direction) {
    overflow: auto; // Safari fix
    resize: $direction;
}


//============================================================
//
// Optional hyphenation
//
// Parameters:
// - Mode: the CSS hyphens mode
//
//============================================================
@mixin hyphens($mode: auto) {
	-moz-hyphens: $mode;
	-ms-hyphens: $mode; // IE10+
	-o-hyphens: $mode;
	-webkit-hyphens: $mode;
	
	hyphens: $mode;
	word-wrap: break-word;
}


//============================================================
//
// Responsive image
//
// Keep images from scaling beyond the width of their parents.
//
// Parameters:
// - Display: the display type. Defaults to block
//
//============================================================
@mixin img-responsive($display: block) {
    display: $display;
    height: auto; // Scale the height according to the width, otherwise you get stretching
    max-width: 100%; // Set a maximum relative to the parent
}


//============================================================
//
// Triangle
//
// Parameters:
// - Size: use px
// - Color: Any colour option
// - Direction: up|down|left|right
//
//============================================================
@mixin triangle ($size, $color, $direction) {
	height: 0;
	width: 0;
	
	@if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
		border-color: transparent;
		border-style: solid;
		border-width: $size / 2;
		
		@if $direction == up {
		    border-bottom-color: $color;
		
		}
		@else if $direction == right {
		    border-left-color: $color;
		
		}
		@else if $direction == down {
		    border-top-color: $color;
		
		}
		@else if $direction == left {
		    border-right-color: $color;
		}
	}
		
	@else if ($direction == up-right) or ($direction == up-left) {
		border-top: $size solid $color;
		
		@if $direction == up-right {
		    border-left: $size solid transparent;
		
		}
		@else if $direction == up-left {
		    border-right: $size solid transparent;
		}
	}
		
	@else if ($direction == down-right) or ($direction == down-left) {
		border-bottom: $size solid $color;
		
		@if $direction == down-right {
		    border-left: $size solid transparent;
		
		}
		@else if $direction == down-left {
		    border-right: $size solid transparent;
		}
	}
}


//============================================================
//
// Message
//
// Paramters:
// - Color: Any colour option
//
//============================================================
@mixin message($color) {
	@include font-rem(1.3);
    background: lighten($color, 38%);
    border: 1px solid lighten($color, 20%);
    border-radius: 3px;
    color: $color;
    margin: 20px;
    padding: 20px;
    text-align: center;
}


//============================================================
//
// px to em
//
// Converts pixel size to em
//
// Parameters:
// - pxval: The px value
// - base: Default is 16 (This can be left)
//
//============================================================
@function em($pxval, $base: 16) {
    @return ($pxval / $base) * 1em;
}