<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php

        $config = $this->config();
        $instagram_access_token = "";
        if(isset($_SESSION['instagram_access_token'])){
            $instagram_access_token = $_SESSION['instagram_access_token'];
        }

        $instagram_logged_in = 0;
        if(isset($_SESSION['instagram_logged_in'])){
            unset($_SESSION['instagram_logged_in']);
            $instagram_logged_in = 1;
        }
        //$instagram_logged_in = false;


        // get current view object
        $children = $this->viewModel()->getCurrent()->getChildren();
        $view = $children[0];

        $this->headMeta()
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
                ->appendName('HandheldFriendly', 'true')
                ->appendName('viewport', 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0')
                ->appendName('author', 'Maido')
                ->appendName('description', '')
                ->appendName('apple-mobile-web-app-capable', 'yes');

        if ($view->ogTags) {

            $this->headMeta()
                ->appendProperty('fb:app_id', $view->ogTags['appId']) 
                ->appendProperty('og:type', $view->ogTags['type']) 
                ->appendProperty('og:url', $view->ogTags['url'])
                ->appendProperty('og:title', $view->ogTags['title'])
                ->appendProperty('og:description', $view->ogTags['text'])
                ->appendProperty('og:image', $view->ogTags['image']);

            $this->headMeta()
                ->appendProperty('twitter:card', 'summary')
                ->appendProperty('twitter:title', $view->ogTags['card_title'])
                ->appendProperty('twitter:description', $view->ogTags['text'])
                ->appendProperty('twitter:image:src', $view->ogTags['image']);
                //twitter:site
                //twitter:creator
        }

        echo $this->headMeta();

        echo $this->headLink()
                ->appendStylesheet(array('rel' => 'favicon', 'href' => '/favicon.ico', 'type' => 'image/x-icon'))
                ->appendStylesheet(array('rel' => 'stylesheet', 'href' => '/assets/css/styles.css'));
        if($view->istab)
        {
        echo $this->headLink()
                ->appendStylesheet(array('rel' => 'favicon', 'href' => '/favicon.ico', 'type' => 'image/x-icon'))
                ->appendStylesheet(array('rel' => 'stylesheet', 'href' => '/assets/css/tab_styles.css'))
                ->appendStylesheet(array('rel' => 'stylesheet', 'href' => '/assets/css/tab_styles-greater800ipad.css'));  
        }

        ?>

<script>
var instagram_logged_in = '<?php echo (int)$instagram_logged_in; ?>';
var instagram_access_token = '<?php echo $instagram_access_token; ?>';

            window.config = {
                analyticsId: '<?php  echo $config->getAnalyticsAccountId(); ?>',
                facebook: {
                    app: {
                        id: '<?php echo $config->getFacebookAppId(); ?>',
                        url: '<?php echo $config->getFacebookAppUrl(); ?>',
                        namespace: '<?php echo $config->getFacebookAppNamespace(); ?>',
                        scope: '<?php echo json_encode($config->getFacebookAppBasicScope()); ?>'
                    },
                    share: {
                        url: '<?php echo $this->url("redirect", array(), array("force_canonical" => true)); ?>',
                        description: '<?php echo $config->getFacebookShareDescription(); ?>',
                        title: '<?php echo $config->getFacebookShareTitle(); ?>',
                        image: '<?php echo $config->getFacebookShareImage(); ?>'
                    },
                    openGraph: {
                        action: '<?php echo $config->getFacebookOpenGraphAction(); ?>',
                        type: '<?php echo $config->getFacebookOpenGraphType(); ?>'
                    }
                },

                instagram: {
                    clientId: "<?php echo $config->getInstagramClientId(); ?>",
                    redirectUrl: "<?php echo $config->getInstagramRedirectUrl(); ?>"
                },

                twitter: {
                    share: '<?php echo $config->getTwitterShare(); ?>'
                },
                sourceImage: {
                    finalWidth: '<?php echo $config->getSourceImageMinWidth(); ?>',
                    finalHeight: '<?php echo $config->getSourceImageMinHeight(); ?>',
                    maxResample: '<?php echo $config->getSourceImageMaxResample(); ?>'
                },
                badWords: '<?php echo json_encode($config->getBannedWords()); ?>',
                preventJavascriptCaching: '<?php echo json_encode($config->shouldPreventJavascriptCaching()); ?>'
            };
            
            window.bootstrap = {
                instagramAccessToken: '<?php echo $view->instagramAccessToken ?: "";  ?>'
            };

</script>
        <?php

        echo $this->headScript()
                ->appendFile('/assets/js/vendor/modernizr.js');
        ?>
        <!-- ***************************************** -->
        <!-- Facebook Conversion Code for G6 thank you -->
        <script>(function() {
          var _fbq = window._fbq || (window._fbq = []);
          if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
          }
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', '6017950796202', {'value':'0.00','currency':'GBP'}]);
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6017950796202&amp;cd[value]=0&amp;cd[currency]=GBP&amp;noscript=1" /></noscript>
        <!-- END Facebook Conversion Code For G6 Comp -->
        <!-- ***************************************** -->
        <!-- ***************************************** -->
        <!-- Twitter Conversion Code For G6 Comp -->
        <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
        <script type="text/javascript">
        twttr.conversion.trackPid('l4jjq');
        </script>
        <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l4jjq&p_id=Twitter" />
        <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l4jjq&p_id=Twitter" />
        </noscript>
        <!-- END Twitter Conversion Code For G6 Comp -->
        <!-- ***************************************** -->

    </head>
    <body>
        <div id="fb-root"></div>
        <?php echo $this->content; ?>

        
        <?php $jsdir = $config->shouldUseMinifiedJavascript() ? 'dist/' : ''; ?>  
        <script data-main="/assets/js/<?php echo $jsdir; ?>main" src="/assets/js/vendor/require.js"></script>
    </body>
</html>
