<div id="wrapper">

    <h5>Huawei Experiences</h5>
    <h1>Experiences</h1>
    
    <div class="actions">
        <div class="container">
            <a href="/cms/csv" class="button">Download CSV</a>
        </div>
    </div>

    <?php if (count($experiences)) : ?>
    <ul class="experiences images">
        
        <?php foreach ($experiences as $experience) : ?>
        
        <?php echo $this->partial('cms/experience/experience', $experience); ?>

        <?php endforeach ?>
    </ul>

    <?php else : ?>
    
    <p class="empty">No experiences have been created yet</p>

    <?php endif ?>

    <script type="text/x-underscore-template" id="experience-tpl">
    <?php echo $this->partial('cms/experience/experience', array(
        'thumb' => '<%= thumb %>',
        'text' => '<%= text %>',
        'name' => '<%= name %>',
        'date' => '<%= date %>',
    )); ?>
    </script>
</div>

<?php $this->inlineScript()->appendFile('/assets/cms/js/view/experiences.js') ?>