<html>
	<head></head>
	<body>

		<form action="/" method="post" name="instagram" id="instagram">
			<input type="hidden" id="instagram_access_token" name="instagram_access_token" value="" />
		<form>

		<script type="text/javascript">
		(function () {
			var instagram_logged_in = '<?php echo isset($instagram_logged_in)?(int)$instagram_logged_in:"";?>';
			var param = window.location.hash.split('='),
				errorReason = "<?php echo isset($this->error['errorReason']) ? $this->error['errorReason'] : ''; ?>",
				errorDescription = "<?php echo isset($this->error['errorDescription']) ? $this->error['errorDescription'] : ''; ?>",
				accessToken = '<?php echo isset($this->accessToken) ? $this->accessToken : ""; // Only server-side authentication ?>',
				result = {};

			if (param[0] == '#access_token') {
				result = {
	           		success: true,
	           		accessToken: param[1]
	           	};
			} else if (accessToken !== '') {
				result = {
					success: true,
					accessToken: accessToken
				};
			} else {
				result = {
					success: false,
					errorReason: errorReason,
					errorDescription: errorDescription
				};
			}

			// It's a popup, part of the desktop authentication
			if (window.opener) {
		    	try{
		    		window.opener.instagramLoginResponse(result);
		    	} catch (e) {
		    		window.opener.instagramLoginResponse({
		    			success: false,
		    			message: e
		    		});
		    	}
		    	window.close();
		    	return false;
		    
		    } else {

	    		// It's a redirect, mobile and tablet
		    	if (result.success) {
			    	if(instagram_logged_in==1){

			    		document.getElementById('instagram_access_token')
			    		.value = result.accessToken;
			    		document.getElementById('instagram').submit();
			    		//document.forms["instagram"].submit();
			    		//document.instagram.submit();
			    	}else{
			    		window.location.href = '/getinstagram';
			    	}
			    	
		    	} else {
		    		window.location.href = '/getinstagram/error';
		    	}
		    }
		})();
		</script>
	</body>
</html>