/* -------------------------------------------------------------- 
	Tables
-------------------------------------------------------------- */
table {
    max-width: 100%;
    background-color: $table-bg;
}
th {
    text-align: left;
}


// Baseline styles
.table {
	margin-bottom: 16px;
    width: 100%;
    
    // Cells
    thead,
    tbody,
    tfoot {
        > tr {
            > th,
            > td {
                padding: $table-cell-padding;
                line-height: $line-height-base;
                vertical-align: top;
                border-top: 1px solid $table-border-color;
            }
        }
    }
    
    // Bottom align for column headings
    thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid $table-border-color;
    }
    
    // Remove top border from thead by default
    caption + thead,
    colgroup + thead,
    thead:first-child {
        tr:first-child {
            th, td {
                border-top: 0;
            }
        }
    }
    
    // Account for multiple tbody instances
    tbody + tbody {
        border-top: 2px solid $table-border-color;
    }

    // Nesting
    .table {
        background-color: #fff;
    }
}


// Condensed table w/ half padding
.table_condensed {
    thead,
    tbody,
    tfoot {
        > tr {
            > th,
            > td {
                padding: $table-condensed-cell-padding;
            }
        }
    }
}


// Bordered version
// Add borders all around the table and between all the columns.
.table_bordered {
    border: 1px solid $table-border-color;
    
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border: 1px solid $table-border-color;
            }
        }
    }
    > thead {
        > tr {
            > th,
            > td {
                border-bottom-width: 2px;
            }
        }
    }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table_striped {
    > tbody {
        > tr:nth-child(odd) {
            > td,
            > th {
                background-color: $table-bg-accent;
            }
        }
    }
}


// Hover effect
// Placed here since it has to come after the potential zebra striping
.table_hover {
    > tbody {
        > tr:hover {
            > td,
            > th {
                background-color: $table-bg-hover;
            }
        }
    }
}


// Table cell sizing
// Reset default table behavior
table col[class*="col_"] {
    float: none;
    display: table-column;
}
table {
    td,
    th {
        &[class*="col_"] {
            float: none;
            display: table-cell;
        }
    }
}


// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.
.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
    > td.active,
    > th.active,
    &.active > td,
    &.active > th    {
        background-color: $table-bg-active;
    }
}