    
    <div id="mainApp" class="container">


        <button id="testbutton">test</button>
        <header id="mn_hdr">
            <div id="logo"></div>
        </header><!-- / #mn_hdr -->

        <section class="page_section" id="home">
            
        <div class="home_pos" id="home_content">

        <div class="page0">

            <div class="page_info home_explanation">Tell us your <span>ultimate experience<br/></span>for a chance to win it!</div>


                <div id="home_slider">
                    <img src="../assets/graphics/home_phone.png" alt="" width="100%" border="0" />
                    <!-- <img src="../assets/graphics/home_phone_old.png" alt="" width="100%" border="0" /> -->
                    <div id="home_phone_slider_container" class="home_phone_slider_container">
                        <ul id="slides" class="slides">
                            <li>
                                <img src="../assets/graphics/home_slider/slide1.jpg" alt="" width="100%" border="0">
                            </li>
                            <li>
                                <img src="../assets/graphics/home_slider/slide2.jpg" alt="" width="100%" border="0">
                            </li>
                            <li>
                                <img src="../assets/graphics/home_slider/slide3.jpg" alt="" width="100%" border="0">
                            </li>
                        </ul>
                    </div>
                    <!--<div class="flexslider home_phone_slider">
                        <ul class="slides">
                            <li>
                                <img src="../assets/graphics/home_slider/slide1.jpg" alt="">
                            </li>
                            <li>
                                <img src="../assets/graphics/home_slider/slide2.jpg" alt="">
                            </li>
                            <li>
                                <img src="../assets/graphics/home_slider/slide3.jpg" alt="">
                            </li>
                        </ul>
                    </div>-->
                </div><!-- / #home_phone -->


                <div class="page_info body_explanation_w">The <span>G6 is built for sharing experiences</span>, tell us your<br/>ultimate experience for a chance to win.</div>
                <div class="accept_tac_area">
                    <div class="accept_tac_area_left">
                        <div id="front_page_check" class="check">
                            <div class="checked"></div>
                        </div>
                    </div>
                    <div class="accept_tac_area_right">
                        I agree to the Terms and Conditions
                    </div>
                </div>
                <div id="create_yours_button" class="create_yours_button">Create Yours</div>
                <div class="page_info body_explanation">The <span>G6 is built for sharing experiences</span>, tell us your ultimate experience for a chance to win.</div>

                <div class="powered_by_block">
                    <img class="powered_by_desc" src="../assets/graphics/powered_by_desc.png" alt="" width="100%" border="0" />
                    <img class="powered_by_img" src="../assets/graphics/powered_by_logo.png" alt="" width="100%" border="0" />
                </div>


        </div>

        <div id="bg_colour"></div>
            <div class="home_pos" id="grad_overlay">
                <img src="../assets/graphics/gradient_over.png" alt="" width="100%" height="100%" />
            </div>

        </div><!-- / .home_content -->


            <div class="page1">
                <div class="add_picture_strip">
                    <div class="add_picture_strip_left">To Start:&#32;&#32;<span>&#32;Add A Picture</span></div>
                    <div class="add_picture_strip_right"><img src="../assets/graphics/picture/phone/select_img_icon.png" width="100%" border="0" alt="" /></div>
                </div>

                <div class="add_picture_strip_m"></div>

                <div class="add_picture_pocket_m">
                    <img class="add_fb_img" src="../assets/graphics/trash/m_sample.jpg" alt="" width="100%" border="0" />
                    <div class="photo_cta_area">
                        <div class="cta_action_glow_area">
                            <div class="cta_action_glow_holder">
                                <img class="cta_action_glow" src="../assets/graphics/picture/phone/icon_glow.png" alt="" width="100%" border="0" />
                                <img class="cta_area_action_img" src="../assets/graphics/picture/phone/select_img_icon.png" alt="" width="100%" border="0" />
                            </div> 
                        </div>
                    <div class="cta_exp_desc">My Ultimate Experience is</div>
                    <input class="cta_exp_extry" type="text" placeholder="write here..." value=""/>
                    </div>
                </div>

                <div id="add_picture_pocket" class="add_picture_pocket">
                    <div class="page1_pocket">
                        <img class="" src="../assets/graphics/home_bg.jpg" alt="" width="100%" border="0" />
                        <!--<img class="" src="../assets/graphics/trash/thanks.jpg" alt="" width="100%" border="0" />-->
                        <div id="page_background_tint" class="page_background_tint"></div>
                    </div>
                    <div id="add_picture_pocket_phone" class="add_picture_pocket_phone">
                        <img class="pocket_phone_back" src="../assets/graphics/picture/phone/phone.png" alt="" width="100%" border="0" />
                        <div class="pic_display_case">
                            <div id="pic_display" class="pic_display"></div>
                            <div class="pic_display_ctas">
                                <div id="ctas_pic" class="pic_display_ctas_pic">
                                    <div class="pic_display_ctas_pic_glow">
                    <img src="../assets/graphics/picture/phone/icon_glow.png" alt="" width="100%" border="0" />
                                    </div>
                                    <div class="pic_display_ctas_pic_button">
                    <img src="../assets/graphics/picture/phone/select_img_icon.png" alt="" width="100%" border="0" />
                                    </div>
                                </div>
                                <div class="pic_display_ctas_textarea">
                                    <div class="pic_display_ctas_textarea_desc">My Ultimate Experience is</div>
                                    <input class="pic_display_ctas_textarea_input" type="text" placeholder="Write here..." value="Write here..." />
                                </div>
                            </div>

                            <div class="pic_source_block">
                                <div class="source_pic_shadow"></div>
                                <div id="fb_source_button" class="source_button">Facebook</div>
                                <div id="ist_source_button" class="source_button">Instagram</div>
                                <div id="hw_source_button" class="source_button">Huawei pics</div>
                            </div>
                            
                        </div>
                    </div>





                <div id="crop_tool">
                    <div class="status"></div>
                    <!-- Just for the demo -->
                    

                    <div id="image_container_backdrop" class="image_container_backdrop"></div>

                    <div id="backdrop_mask" class="backdrop_mask">
                        <img id="backdrop_mask_img" src="" />
                    </div>
                    
                    <div class="image_container">
                        <img class="image" src="../assets/graphics/home_bg.jpg" >
                    </div>

                    <div class="mask"></div>

                    <div class="borders">
                        <div class="border top"></div>
                        <div class="border right"></div>
                        <div class="border bottom"></div>
                        <div class="border left"></div>
                    </div>

                    <div class="image_container">
                        <div class="box"></div>
                    </div>
                </div>






                    <div class="thanks_main_window_left">
                        <div id="thanks_main_header" class="thanks_main_header">
                            <h1>Thanks</h1>
                            <h3>for your entry!</h3>
                        </div>
                        <div id="thanks_small_msgs" class="small_msgs">
                            <div class="small_msgs1">We&#39;ll be in touch if you are our winner!</div>
                            <div class="small_msgs2">The Latest Offers</div>
                        </div>
                        <div id="thanks_email_entry_block" class="thanks_email_entry_block">
                            <div class="thanks_email_entry_block_back"></div>
                            <div class="thanks_email_entry_cta_holder">
                                <input class="thanks_email_entry_cta_left" type="text" placeholder="enter email" />
                                <div class="thanks_email_entry_cta_right">
                                    <div class="thanks_email_entry_cta_right_left"></div>
                                    <div class="thanks_email_entry_cta_right_right"></div>
                                    <div class="thanks_email_sliding_check"></div>
                                </div>
                            </div>
                        </div>
                        <div id="thanks_email_share_block" class="thanks_email_share_block">
                            <div class="thanks_email_share_block_text">Share app</div>
                            <div class="thanks_email_share_block_icons">
                                <div class="thanks_email_share_block_icons_left">
                                </div>
                                <div class="thanks_email_share_block_icons_right">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>




                <div class="thanks_main_window_m">
                    <div class="thanks_m_question_strip"></div>
                    <div class="thanks_m_photo_back">
                        <img src="../assets/graphics/trash/7_sample.jpg" alt="" width="100%" border="0" />
                    </div>
                </div>








            <div id="tag_gray_area">


                <div id="tag_friend_area" class="tag_friend_area">
                    <div class="tag_friend_area_desc">Would you like to bring a friend?</div>
                    <div class="friends_tagged">
                        <div class="f_tagged">
                            <img class="add_fb_img" src="../assets/graphics/trash/fb.jpg" alt="" width="58" border="0" />
                            <div class="f_pic_cover"><img src="../assets/graphics/picture/fb_tag_mask.png" alt="" width="100%" border="0" /></div>
                        </div>
                        <div class="f_tagged f_tagged_last">
                            <div class="add_f_button">
                                <img class="add_f_button_plus" src="../assets/graphics/picture/add_friend.png" alt="" width="18" border="0" />
                            </div>
                            <div class="f_pic_cover"><img src="../assets/graphics/picture/fb_tag_mask.png" alt="" width="100%" border="0" /></div>
                        </div>
                    </div>
                    <div class="no_thanks_button_area">
                    <div class="tag_friend_no_thanks_button"></div>
                    <div class="no_thanks_button_area_spacer"></div>
                    </div>





                </div>





                <div id="thanks_sec_window" class="thanks_sec_window">
                        <img id="thanks_sec_window_left" class="thanks_sec_window_left" src="../assets/graphics/thank_you/phone_stack.png" alt="" width="332" />
                        <div class="thanks_sec_window_right">
                            <img class="thank_you_logo" src="../assets/graphics/thank_you/thank_you_logo.png" alt="" width="316" />
                            <div class="thank_you_info_msg">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</div>
                            <div class="thank_you_button"></div>
                        </div>
                </div>


                    <div id="tag_friend_area_cover" class="tag_friend_area_cover"></div>


            </div>




            <div class="page2">
                
                
                
                <div class="thanks_main_window">
                    <!-- <div class="thanks_main_window_left">
                        <div class="thanks_main_header">
                            <h1>Thanks</h1>
                            <h3>for your entry!</h3>
                        </div>
                        <div class="small_msgs">
                            <div class="small_msgs1">We&#39;ll be in touch if you are our winner!</div>
                            <div class="small_msgs2">The Latest Offers</div>
                        </div>
                        <div class="thanks_email_entry_block">
                            <div class="thanks_email_entry_block_back"></div>
                            <div class="thanks_email_entry_cta_holder">
                                <input class="thanks_email_entry_cta_left" type="text" placeholder="enter email" />
                                <div class="thanks_email_entry_cta_right">
                                    <div class="thanks_email_entry_cta_right_left"></div>
                                    <div class="thanks_email_entry_cta_right_right"></div>
                                    <div class="thanks_email_sliding_check"></div>
                                </div>
                            </div>
                        </div>
                        <div class="thanks_email_share_block">
                            <div class="thanks_email_share_block_text">Share app</div>
                            <div class="thanks_email_share_block_icons">
                                <div class="thanks_email_share_block_icons_left">
                                </div>
                                <div class="thanks_email_share_block_icons_right">
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="thanks_main_window_right">
                        <img class="thank_you_phone_case" src="../assets/graphics/picture/phone/phone.png" alt="" width="316" />
                    </div>
                </div>
                <div class="thanks_sec_window">
                    <img class="thanks_sec_window_left" src="../assets/graphics/thank_you/phone_stack.png" alt="" width="332" />
                    <div class="thanks_sec_window_right">
                        <img class="thank_you_logo" src="../assets/graphics/thank_you/thank_you_logo.png" alt="" width="316" />
                        <div class="thank_you_info_msg">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</div>
                        <div class="thank_you_button"></div>
                    </div>
                </div>
            </div><!-- / .page2 ends -->





            </div><!-- / .page1 ends -->




            
            
        <div class="popups">

                <div class="popup_background"></div>

                <div id="friends_box" class="friends_box">
                    <div class="friend_title_box">Facebook Image<span id="friends_close"></span></div>
                    <div class="friend_interior">
                    <!--
                    <ul>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li class="last"><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                    </ul>
                    <ul>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li class="last"><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                    </ul>
                    <ul>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li class="last"><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                    </ul>
                    <ul>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li class="last"><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                    </ul>
                    -->
                    </div>
                </div>
                

            </div><!-- / .popups -->





        </section><!-- / .page_section -->
        
        <section class="page_section" id="picture">
            <div class="sec_top">
            </div><!-- / .sec_top -->
            
            <div class="sec_btm">
            </div><!-- / .sec_btm -->
        </section><!-- / .page_section -->
        
        <section class="page_section" id="finish">
        </section><!-- / .page_section -->
        
    </div><!-- / .container -->