<div id="mainApp" class="container">
        <header id="mn_hdr">
            <div id="logo"></div>
        </header><!-- / #mn_hdr -->

        <section class="page_section" id="home">

        <div class="home_pos" id="home_content" style="<?php if(isset($instagram_logged_in)&&(int)$instagram_logged_in==1){echo "display:none;";} ?>">

        <div class="page0">

            <div class="page_info home_explanation">Walking the red carpet?<br>Chilling on a deserted beach?</div>
            <div class="page_info home_description">Tell us your ultimate experience in a few words <br>&amp; you could be in with a chance to win it!</div>


                <div id="home_slider">
                    <img src="../assets/graphics/home_phone.png" alt="" width="100%" border="0" />
                    <!-- <img src="../assets/graphics/home_phone_old.png" alt="" width="100%" border="0" /> -->
                    <div id="home_phone_slider_container" class="home_phone_slider_container">
                        <ul id="slides" class="slides">
                            <li>
                                <img src="../assets/graphics/home_slider/slide1.jpg" alt="" width="100%" border="0">
                            </li>
                            <li>
                                <img src="../assets/graphics/home_slider/slide2.jpg" alt="" width="100%" border="0">
                            </li>
                            <li>
                                <img src="../assets/graphics/home_slider/slide3.jpg" alt="" width="100%" border="0">
                            </li>
                            <li>
                                <img src="../assets/graphics/home_slider/slide4.jpg" alt="" width="100%" border="0">
                            </li>
                            <li>
                                <img src="../assets/graphics/home_slider/slide5.jpg" alt="" width="100%" border="0">
                            </li>
                            <li>
                                <img src="../assets/graphics/home_slider/slide6.jpg" alt="" width="100%" border="0">
                            </li>
                        </ul>
                    </div>
                    <!--<div class="flexslider home_phone_slider">
                        <ul class="slides">
                            <li>
                                <img src="../assets/graphics/home_slider/slide1.jpg" alt="">
                            </li>
                            <li>
                                <img src="../assets/graphics/home_slider/slide2.jpg" alt="">
                            </li>
                            <li>
                                <img src="../assets/graphics/home_slider/slide3.jpg" alt="">
                            </li>
                        </ul>
                    </div>-->
                </div><!-- / #home_phone -->

                <div id="create_yours_button_m" class="create_yours_button app_button">Enter</div>
                <div id="create_yours_button" class="create_yours_button app_button">Enter</div>

                <div class="page_info body_explanation_w">The G6 is built to share better &#45; tell us what your ultimate experience is and you could win a &#163;10,000 experience of your choice&#33;</div>

                <div class="page_info body_explanation">The G6 is built to share better &#45; tell us what your ultimate experience is and you could win a &#163;10,000 experience of your choice&#33;</div>

                <div class="powered_by_block">
                    <img class="powered_by_desc" src="../assets/graphics/powered_by_desc.png" alt="" width="100%" border="0" />
                    <img class="powered_by_img" src="../assets/graphics/powered_by_logo.png" alt="" width="100%" border="0" />
                </div>


        </div>

        <div id="bg_colour"></div>
            <div class="home_pos" id="grad_overlay">
                <img src="../assets/graphics/gradient_over.png" alt="" width="100%" height="100%" />
            </div>

        </div><!-- / .home_content -->


            <div class="page1" style="<?php if(isset($instagram_logged_in)&&(int)$instagram_logged_in==1){echo "display:block;";} ?>">

                <!--<div class="add_picture_strip" style="background-color:#b00; margin:12px 0;">

                    <div id="" class="mobile_bar_bring_along">
                        <div class="mobile_bar_bring_along_inside">Would you like to bring a friend?</div>
                    </div>

                </div>
            -->





                <div class="add_picture_strip">


                    <div id="add_pic_bar" class="choose_strip_interior">
                        <div class="choose_strip_left">To Start:&#32;&#32;<span>&#32;Add A Picture</span></div>
                        <div class="add_picture_strip_right"><i class="icon_add_image"></i> </div>
                    </div>


                    <!--<div id="add_pic_bar" class="choose_strip_interior">
                        <div class="choose_strip_left">To Start:&#32;&#32;<span>&#32;Add A Picture</span></div>
                        <div class="add_picture_strip_right"><i class="icon_add_image"></i> </div>
                    </div>-->


                    <div id="select_source_bar" class="mobile_bar_select_source"  style="<?php if(isset($instagram_logged_in)&&(int)$instagram_logged_in==1){echo "display:block;";} ?>">
                        <div class="mobile_bar_select_source_left"><span>Select Image Source</span></div>
                        <div class="mobile_bar_select_source_right">
                            <i class="icon_add_image"></i>
                        </div>
                    </div>

                    <div id="move_and_scale_bar" class="crop_strip_interior">
                        <div class="resize_and_return_block_left crop_strip_left cropping_strip_left">Resize &#38; Position Your Photo</div>
                        <div class="resize_and_return_block">
                            <!-- <div id="return_w" class="strip_finish_button app_button">Done</div> -->
                            <div id="return_w" class="strip_cancel_button grey_button return_web">Cancel</div>
                            <div id="strip_finish_button" class="strip_finish_button app_button forward_web">Done</div>
                        </div>
                    </div>

                    <div id="mobile_move_and_scale_bar" class="mobile_move_and_scale_bar">
                        <div class="mobile_move_and_scale_bar_inside">Resize &#38; Position Your Photo</div>
                    </div>

                    <div id="finish_typing_bar" class="after_cropping_strip_interior">
                        <div class="after_cropping_strip_left">That's Great! Now Start Typing…</div>
                        <div class="finish_typing_button_block">
                            <!--<div id="finish_typing_button_m" class="strip_finish_button app_button">Done</div>-->
                            <div id="finish_typing_button" class="strip_finish_button app_button">Done</div>
                        </div>
                    </div>

                    <div id="mobile_bar_start_typing" class="mobile_bar_start_typing">
                        <div class="mobile_bar_start_typing_inside">That's Great! Now Start Typing…</div>
                    </div>

                    <div id="bring_a_friend_bar" class="bring_friend_strip_interior">
                        <div class="add_picture_strip_left crop_strip_left bring_a_friend_strip_left">Would you like to bring a friend?</div>
                        <div class="bring_no_friend_button_block">
                            <div id="bring_no_friend_button" class="strip_finish_button app_button">No Thanks</div>
                        </div>
                    </div>

                    <div id="mobile_bar_bring_along" class="mobile_bar_bring_along">
                        <div class="mobile_bar_bring_along_inside">Would you like to bring a friend?</div>
                    </div>

                    <div id="mobile_bar_finish_creating" class="mobile_bar_finish_creating">
                        <div class="mobile_bar_finish_creating_inside"><div id="front_page_check_box" class="accept_tac_area_left">
                        <div class="check">
                            <div class="checked"></div>
                        </div>
                        <div id="front_page_check" class="fp_check_cover"></div>
                    </div>
                    <div class="accept_tac_area_right">
                        I agree to the <a id="terms_link" href="#">Terms and Conditions</a>
                    </div></div>
                    </div>

                    <div id="centered_text_bar" class="finish_typing_strip_interior">
                        <div class="">Would you like to bring a friend?</div>
                    </div>

                    <div id="finish_entry_bar" class="finish_entry_interior">

                        <div class="finish_entry_left finish_entry_strip_left"><div id="front_page_check_box" class="accept_tac_area_left">
                        <div class="check">
                            <div class="checked"></div>
                        </div>
                        <div id="front_page_check" class="fp_check_cover"></div>
                    </div>
                    <div class="accept_tac_area_right">
                        I agree to the <a id="terms_link" href="#">Terms and Conditions</a>
                    </div></div>
                        <div class="finish_creating_button_block">
                            <!--<div class="strip_finish_button app_button">
                                <div class="strip_finish_button_left">
                                    <img class="cta_action_glow" src="../assets/graphics/checkbox/checked_white.png" alt="" width="100%" border="0" />
                                </div>
                                <div class="strip_finish_button_right">Finish</div>
                            </div>-->
                            <div id="finish_creating_button" class="strip_finish_button app_button">
                                <div class="strip_finish_button_left">
                                    <i class="cta_action_glow icon_tick"></i>
                                </div>
                                <div class="strip_finish_button_right">Finish</div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="add_picture_strip_m"></div>

                <div id="add_picture_pocket_m" class="add_picture_pocket_m">
                    <!--<img src="../assets/graphics/trash/mob_c_test.jpg" alt="" width="100%" border="0" />-->

                    <img class="add_fb_img" src="../assets/graphics/trash/m_sample.jpg" alt="" width="100%" border="0" />

                    <div class="add_picture_pocket_m_backdrop" style="<?php if(isset($instagram_logged_in)&&(int)$instagram_logged_in==1){echo 'background-color:#000;';} ?>"></div>

                    <!--<img class="add_fb_img" src="../assets/graphics/trash/m_source.jpg" alt="" width="100%" border="0" />-->

                    <div id="finished_pic_display_m" class="finished_pic_display_m"></div>
                    <div id="pic_display_m" class="pic_display_m"></div>

                    <div class="photo_cta_area" style="<?php if(isset($instagram_logged_in)&&(int)$instagram_logged_in==1){echo "display:none;";} ?>">
                        <div id="cta_action_glow_area_m" class="cta_action_glow_area">
                            <div id="m_cta_pic_glow" class="cta_action_glow_holder">
                                <img class="cta_glow_hidden" src="../assets/graphics/picture/phone/icon_glow.png" alt="" width="100%" border="0" />
                                <img id="cta_action_glow_m" class="cta_action_glow_m" src="../assets/graphics/picture/phone/icon_glow.png" alt="" width="100%" border="0" />
                                <img id="select_source_cta_m" class="select_cource_cta cta_area_action_img" src="../assets/graphics/picture/phone/select_img_icon.png" alt="" width="100%" border="0" />
                            </div>
                        </div>
                    <span id="write_here_block" class="write_here_block">
                        <div class="cta_exp_desc">My Ultimate Experience is</div>
                        <textarea maxlength=100 onkeyup="textAreaAdjust(this)" style="overflow:hidden" cols="50" id="cta_exp_extry" class="pic_display_ctas_textarea_input" placeholder="Write here" onfocus="this.placeholder = ''"></textarea>
                    </span>

                    <div class="typeNowPopup_m">
                        <div class="typeNowPopup_m_interior">
                        <img src="../assets/graphics/typeNowPopup2x.png" width="100%" border="0" />

                        <div class="typeNowPopup_m_interior_txt_box">
                            <div class="typeNowPopup_m_interior_txt">Please type your<br />Ultimate Experience below</div>
                            </div>
                        </div>
                    </div>
                    

                    </div>
                    <div class="textWordCount_m">100</div>
                    <div class="m_source_buttons" style="<?php if(isset($instagram_logged_in)&&(int)$instagram_logged_in==1){echo "display:block;";} ?>">
                        <div id="m_source_buttons_interior" class="m_source_buttons_interior">
                            <div id="m_fb_source" class="m_source_button app_button">
                                <div class="m_source_button_left fb_src_button_m_left"><i class="cta_area_action_img icon_facebook"></i></div>
                                <div class="m_source_button_right">Facebook</div>
                            </div>
                            <div id="m_insta_source" class="m_source_button app_button">
                                <div class="m_source_button_left inst_src_button_m_left"><i class="cta_area_action_img icon_Instagram"></i></div>
                                <div class="m_source_button_right">Instagram</div>
                            </div>
                            <div id="m_lib_source" class="m_source_button app_button">
                                <div class="m_source_button_left lib_src_button_m_left"><i class="cta_area_action_img icon_our_library"></i></div>
                                <div class="m_source_button_right">Our Library</div>
                            </div>
                        </div>
                    </div>


                    

                    <div id="mobile_pinching" class="pinching_absolute">
                        <div class="pinching_inner">
                            <div id="pinching_backdrop" class="pinching_backdrop">
                                <img id="pinching_mask_img" src="" border="0" />
                            </div>
                            <div class="pinching_viewport">
                                <div id="pinching_holder" class="pinching_scalable">
                                    <img id="pinching_handle" class="pinching_handle" />
                                </div>
                            </div>
                        </div>
                    </div>






                </div>

                <?php if($_SERVER['SERVER_NAME']=="huawei.studio48.co.uk"): ?>
                <div id="disp"></div>
                <?php endif; ?>

                <div id="add_picture_pocket" class="add_picture_pocket">
                    <div class="page1_pocket">
                        <img class="" src="../assets/graphics/home_bg.jpg" alt="" width="100%" border="0" />
                        <div id="page_background_tint" class="page_background_tint"></div>
                    </div>
                    <div id="add_picture_pocket_phone" class="add_picture_pocket_phone">
                        <img class="pocket_phone_back" src="../assets/graphics/picture/phone/phone1.png" alt="" width="100%" border="0" />
                        <div class="pic_display_case">
                            <div id="pic_display" class="pic_display"></div>
                            <div class="pic_display_ctas">
                                <div id="ctas_pic" class="pic_display_ctas_pic">
                                    <div class="pic_display_ctas_pic_glow">
                    <img src="../assets/graphics/picture/phone/icon_glow.png" alt="" width="100%" border="0" />
                                    </div>
                                    <div class="pic_display_ctas_pic_button">
                    <img src="../assets/graphics/picture/phone/select_img_icon.png" alt="" width="100%" border="0" />
                                    </div>
                                </div>
<script>
function textAreaAdjust(o) {
    o.style.height = "1px";
    o.style.height = (25+o.scrollHeight)+"px";
}
</script>
                                <div class="pic_display_ctas_textarea">
                                    <div class="pic_display_ctas_textarea_desc">My Ultimate Experience is</div>
                                    <!--<input class="pic_display_ctas_textarea_input" type="text" placeholder="Write here..." value="Write here..." />-->
                                    

                                    <!--[if IE ]>
                                       <textarea maxlength=100 onkeyup="textAreaAdjust(this)" style="overflow:hidden" cols="50" id="entry_text" class="pic_display_ctas_textarea_input pic_display_ctas_textarea_input_ie"></textarea>
                                    <![endif]-->
                                    <!--[if !IE]>-->
                                       <textarea maxlength=100 onkeyup="textAreaAdjust(this)" style="overflow:hidden" cols="50" id="entry_text" class="pic_display_ctas_textarea_input" placeholder="Write here"></textarea>
                                    <!--<![endif]-->
                                    


                                </div>
                            </div>

                            <div class="pic_source_block">
                                <div class="source_pic_shadow"></div>
                                <div id="fb_source_button" class="source_button app_button">Facebook</div>
                                <div id="ist_source_button" class="source_button app_button">Instagram</div>
                                <div id="hw_source_button" class="source_button app_button">Our Library</div>
                            </div>


                            <div class="typeNowPopup">Please type your<br />Ultimate Experience below</div>
                            
                            <div class="textWordCount">100</div>
                        </div>

                    </div>




                    <span id="web-crop-tool"></span>
                    <div id="crop_tool" class="web-crop-tool">
                        <img  id="cached_img" />
                    <div class="status"></div>
                    <!-- Just for the demo -->


                    <div id="image_container_backdrop" class="image_container_backdrop"></div>

                    <div id="backdrop_mask" class="backdrop_mask">
                        <img id="backdrop_mask_img" src="" />
                    </div>

                    <div class="image_container">
                        <img class="image" src="../assets/graphics/home_bg.jpg" >
                    </div>


                    <div class="mask"></div>

                    <div class="borders">
                        <div class="border top"></div>
                        <div class="border right"></div>
                        <div class="border bottom"></div>
                        <div class="border left"></div>
                    </div>

                    <div id="box_containement" class="image_container">
                        <div class="box"></div>
                    </div>
                </div>





                    <div class="thanks_main_window_left">
                        <div id="thanks_main_header" class="thanks_main_header">
                            <h1>Thanks!</h1>
                        </div>
                        <div id="thanks_small_msgs" class="small_msgs">
                            <div class="small_msgs1">We&#39;ll be in touch if you&#39;re our winner</div>
                            <div class="small_msgs2">Give us your email to find out more!</div>
                        </div>
                        <div id="thanks_email_entry_block" class="thanks_email_entry_block">
                            <div class="thanks_email_entry_cta_holder">
                                <input id="user_email_address" class="thanks_email_entry_cta_left" type="text" placeholder="Yes, sign me up!" />
                            </div>
                            <div class="thanks_email_entry_block_back"></div>
                            <div id="receive_emails_check" class="thanks_email_entry_cta_right">
                                    <div class="thanks_email_entry_cta_right_left"></div>
                                    <div class="thanks_email_entry_cta_right_right"></div>
                                    <div class="thanks_email_sliding_check"></div>
                                </div>
                        </div>
                        <div id="thanks_email_share_block" class="thanks_email_share_block">
                            <div class="thanks_email_share_block_text">Share app</div>
                            <div class="thanks_email_share_block_icons">
                                <div id="share_fb" class="thanks_email_share_block_icons_left">
                                </div>
                                <div id="share_tw" class="thanks_email_share_block_icons_right">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>




                <div class="thanks_main_window_m">
                    <div class="thanks_m_question_strip"></div>
                    <div class="thanks_m_photo_back">
                        <img src="../assets/graphics/trash/7_sample.jpg" alt="" width="100%" border="0" />
                    </div>
                </div>







            <div id="tag_gray_area">


                <div id="tag_friend_area" class="tag_friend_area">
                    <div class="tag_button_area">

                        <div id="finish_creating_button_m" class="tag_action_button app_button">
                            <div class="tag_action_button_left">
                                <!-- <img src="../assets/graphics/checkbox/checked_white.png" width="100%" border="0" /> -->
                                <i class="icon_tick"></i>
                            </div>
                            <div class="tag_action_button_right">Finish</div>
                        </div>

                        <div id="turning_back_block" class="turning_back_block">
                            <div id="return_button" class="turning_back_block_left grey_button">Cancel</div>
                            <div id="strip_finish_button_m" class="turning_back_block_right app_button">Finish</div>
                        </div>


                        <div id="finish_typing_button_m" class="tag_action_button app_button">
                            <div class="tag_action_button_left">
                                <!-- <img src="../assets/graphics/checkbox/checked_white.png" width="100%" border="0" /> -->
                                <i class="icon_tick"></i>
                            </div>
                            <div class="tag_action_button_right">Done</div>
                        </div>
                    </div>
                    <span class="tag_friend_area_block">
                    <div class="tag_friend_area_desc">Would you like to bring a friend?</div>
                    <div class="friends_tagged">
                        <div class="f_tagged">
                            <img id="fb_thumb" class="add_fb_img" src="https://fbcdn-profile-a.akamaihd.net/static-ak/rsrc.php/v2/yL/r/HsTZSDw4avx.gif" alt="" width="58" border="0" />
                            <div class="f_pic_cover"><img src="../assets/graphics/picture/fb_tag_mask.png" alt="" width="100%" border="0" /></div>
                        </div>
                        <div class="friend_plus"></div>
                        <div id="<?php if($ismob){echo "tag_friend_button_m";}else{echo "tag_friend_button";} ?>" class="f_tagged f_tagged_last">
                            <img data-id="" id="tagged_person_image" class="add_fb_img" src="" alt="" width="58" border="0" />
                            <div id="add_f_button" class="add_f_button app_button">
                                <img class="add_f_button_plus" src="../assets/graphics/picture/add_friend.png" alt="" width="18" border="0" />
                            </div>
                            <div class="f_pic_cover"><img src="../assets/graphics/picture/fb_tag_mask.png" alt="" width="100%" border="0" /></div>
                        </div>
                    </div>
                    </span>
                    <div class="no_thanks_button_area">
                    <div id="bring_no_friend_button_2nd" class="tag_friend_no_thanks_button grey_button">No thanks</div>
                    <div class="no_thanks_button_area_spacer"></div>
                    </div>





                </div>





                <div id="thanks_sec_window" class="thanks_sec_window">
                        <img id="thanks_sec_window_left" class="thanks_sec_window_left" src="../assets/graphics/thank_you/phone_stack_3.png" alt="" width="332" />
                        <div class="thanks_sec_window_right">
                            <img class="thank_you_logo" src="../assets/graphics/thank_you/thank_you_logo.png" alt="" width="316" />
                            <div class="thank_you_info_msg">Huawei&#39;s new 4G smartphone makes owning and using a smartphone easy and opens up a world of fun and colorful new ways to stay connected without boundaries. With a 4.5-inch display and a 5-megapixel front-facing camera, HUAWEI Ascend G6 4G is an ideal companion for those who want to share better.</div>
                            <a target="_blank" href="http://huaweidevice.co.uk/g6" class="thank_you_button app_button">Learn More</a>
                        </div>
                </div>


                    <div id="tag_friend_area_cover" class="tag_friend_area_cover"></div>

                    


            </div>



            <div class="m_thank_you">
                <!--<img style="top:0; left:0; position:absolute;" class="" src="../assets/graphics/trash/9.jpg" alt="" width="100%" border="0" />-->
                <div class="m_thank_ist">

                    <div class="m_thank_ist_background">
                        <div class="bg_image"></div>
                        <div class="bg_colour"></div>
                        <div class="bg_gradient">
                            <img src="../assets/graphics/gradient_over.png" alt="" width="100%" height="100%" />
                        </div>
                    </div>

                    <div class="thank_you_p1_interior">
                        <div class="m_thank_header">Thanks!</div>
                        <div class="m_thank_sub_header_small">We&#39;ll be in touch if you&#39;re our Winner&#33;</div>
                        <div class="m_thank_email_header">Give us your email to find out more!</div>




                        <div class="m_thank_email_entry_box">

                            <div class="m_thank_email_container">
                            <input id="email_entry" class="m_thank_email_left" type="text" placeholder="Yes, sign me up!" onfocus="this.placeholder = ''" />
                            </div>

                            <div class="m_thank_email_box_shadow"></div>

                            <div class="m_thank_email_right">

                                <div class="email_xs_and_ticks">
                                    <div class="tick"><img class="" src="../assets/graphics/checkbox/big/check.png" alt="" width="100%" border="0" /></div>
                                    <div class="xs"><img class="" src="../assets/graphics/checkbox/big/check_off.png" alt="" width="100%" border="0" /></div>
                                </div>
                                <div class="m_thank_email_slider"></div>
                            </div>

                        </div>

                        <div class="m_thank_share_area">
                            <div class="m_thank_share_area_header">Share app</div>
                            <div class="m_thank_share_area_icons">
                                <div class="m_thank_share_area_icons_left">
                                    <img class="fb_share_icon" src="../assets/graphics/share/icons/fb_big.png" alt="" width="100%" border="0" />
                                </div>
                                <div id="share_tw_m" class="m_thank_share_area_icons_right">
                                    <img class="" src="../assets/graphics/share/icons/tw_big.png" alt="" width="100%" border="0" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="m_thank_2nd">
                    <img class="m_thank_2nd_logo" src="../assets/graphics/thank_you/thank_you_logo.png" alt="" width="100%" border="0" />
                    <img class="m_thank_2nd_stack" src="../assets/graphics/thank_you/phone_stack_3.png" alt="" width="100%" border="0" />
                    <div class="m_thank_2nd_msg">Huawei&#39;s new 4G smartphone makes owning and using a smartphone easy and opens up a world of fun and colorful new ways to stay connected without boundaries. With a 4.5-inch display and a 5-megapixel front-facing camera, HUAWEI Ascend G6 4G is an ideal companion for those who want to share better.</div>
                    <a target="_blank" href="http://huaweidevice.co.uk/g6" class="m_thank_2nd_lmore_button app_button">Learn more</a>
                </div>
            </div>




            <div class="page2">



                <div class="thanks_main_window">
                    <!-- <div class="thanks_main_window_left">
                        <div class="thanks_main_header">
                            <h1>Thanks!</h1>
                        </div>
                        <div class="small_msgs">
                            <div class="small_msgs1">We&#39;ll be in touch if you are our winner!</div>
                            <div class="small_msgs2">The Latest Offers</div>
                        </div>
                        <div class="thanks_email_entry_block">
                            <div class="thanks_email_entry_block_back"></div>
                            <div class="thanks_email_entry_cta_holder">
                                <input class="thanks_email_entry_cta_left" type="text" placeholder="Yes, sign me up!" />
                                <div class="thanks_email_entry_cta_right">
                                    <div class="thanks_email_entry_cta_right_left"></div>
                                    <div class="thanks_email_entry_cta_right_right"></div>
                                    <div class="thanks_email_sliding_check"></div>
                                </div>
                            </div>
                        </div>
                        <div class="thanks_email_share_block">
                            <div class="thanks_email_share_block_text">Share app</div>
                            <div class="thanks_email_share_block_icons">
                                <div class="thanks_email_share_block_icons_left">
                                </div>
                                <div class="thanks_email_share_block_icons_right">
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="thanks_main_window_right">
                        <img class="thank_you_phone_case" src="../assets/graphics/picture/phone/phone.png" alt="" width="316" />
                    </div>
                </div>
                <div class="thanks_sec_window">
                    <img class="thanks_sec_window_left" src="../assets/graphics/thank_you/phone_stack_3.png" alt="" width="332" />
                    <div class="thanks_sec_window_right">
                        <img class="thank_you_logo" src="../assets/graphics/thank_you/thank_you_logo.png" alt="" width="316" />
                        <div class="thank_you_info_msg">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</div>
                        <div class="thank_you_button"></div>
                    </div>
                </div>
            </div><!-- / .page2 ends -->





            </div><!-- / .page1 ends -->






        <div class="popups">

                <div class="popup_background"></div>

                <div id="loading" class="loading">

                </div>
                <div class="tacs_box">
                    <div class="friend_title_box">
                        <div id="friendbox_title" >Terms and Conditions</div>
                        <i id="tacs_close" class="icon_x"></i>
                    </div>
                    <div class="tacs_box_interior">
                        
Huawei Ascend G6 4G Ultimate Experience Competition - Terms and Conditions<br>
The Ascend G6 4G Ultimate Experience Competition (the “Competition”) is organised and promoted by Huawei Technologies (UK) Co. Ltd., 300 South Oak Way, Reading, Berkshire RG2 6UF, UK (the “Promoter”) and is subject to the following conditions, by entering the Competition, you (the “Participant”) are agreeing to be bound by them:<br><br><br>
<span class="t2">1. The Prize</span><br><br>
1.1. The Promoter is offering a single prize to create a unique experience for the winner. <br>
1.2. The Promoter has appointed Nick Deyong Ltd. (company registration number is 2997986) t/a NDL Group (“NDL Group“) to create a unique experience which may be a combination of participating in an event, activities, travel and/or accommodation (the “Prize”) for the winner and up to three friends each of which must be over the age of 18.<br>
1.3.  The Promoter has made a budget of up to £10,000 available to NDL Group to be spent with one or more of its partner suppliers (which include British Airways, Virgin Atlantic, Emirates, Starwood Hotel Group, Leading Hotels of the World, Zero G Corporation, Intercontinental Hotels, Radisson Hotel Group, Champneys, Eurostar, Orient Express, Avis, Hertz, Alamo, Heli Air Monaco, Baillie Lodges (Australia), Hilton Hotels, Four Seasons, Heli Air USA) for the purpose of creating the Prize inspired by the winning entry. 
<br><br><br>
<span class="t2">2. Competition Entry</span><br><br>
2.1. To enter the Competition visit the Huawei UK Facebook Page (url www.facebook.co.uk/huaweiuk) and click on the Huawei Ultimate Experience tab in your browser then tell us in no more than 100 words what you ultimate experience for sharing with the Huawei Ascend G6 4G would be and select a photo which best reflects your entry (the “Brief”). This could be one of your own photos (make sure you do not submit any photos or images which do not belong to you as this may result in disqualification) or if you prefer you can select one of the Promoter’s images accessible through the Huawei Ultimate Experience tab. Entries will be judged on their originality, creativity and how well it captures the Brief. <br>
2.2. The Competition will open at 10.00am on Tuesday 27th May 2014 and close at midnight on Monday 23rd June 2014. Entries received after this time will not be accepted.  <br>
2.3. The Competition is only open to individuals resident in United Kingdom who have an active Facebook account and use that to enter the competition through the Huawei Ultimate Experience tab. <br>
2.4. Participants must be over 18 in order to enter the Competition. <br>
2.5. Employees of the Promoter, associated companies, their dealers and agents or anyone connected with the promotion and, in each case, the families of such employees are not eligible to enter the Competition. <br>
2.6. Only one entry per person per Competition is allowed. Third party and bulk entries are not permitted. Any Participants who enters more than once may be disqualified. <br>
2.7. Entries which do not comply with these terms and conditions will not be accepted or may be deemed invalid. <br>
2.8. Participants are required to grant the Promoter and NDL Group, through the Huawei Ultimate Experience Application or tab, access to their name, email, gender, date of birth and home location as stored on their Facebook account. Participants may at their discretion also elect to grant the Promoter and NDL Group access to images stored on Facebook which are uploaded as part of a competition entry.  This information will be used by Huawei and its agents and representatives to administer the Competition, to contact the winner and to arrange the Prize. In addition the name and location of each Participant and the winner may be used with their entry in promotional materials by Huawei its agents and representatives, to publish entries on the Huawei Facebook page and to announce the winner. Participants who have not opted out of receiving marketing data when posting their entry will receive an e-mail from Huawei or its agent or representative providing further details about the Huawei Ascend G6 4G. The winner and any accompanying friends will be required to provide further additional personal information sufficient to enable Huawei to arrange the Prize. Data relating to Participants will be retained by Promoter and its agents for a reasonable period after the Competition closes to deal with any queries on the Competition. Data relating to the winner and accompanying friends will be retained by the Promoter and its agents for a reasonable period after the Prize has been taken to deal with any queries on the Competition.<br>
2.9. Each Participant grants the Promoter any and all rights necessary for distribution and public display of any submitted text, image, or other intellectual property rights that may arise from participation in this Competition, the prizes or related publicity, and hereby grants us the perpetual right to exclusively, royalty-free and without limitation freely use, modify, edit, copy, reproduce, distribute, translate, create derivative works from, alter and publicly display, broadcast or publish any such intellectual property rights, for whatever purpose, in any form or medium, either on this web-site or elsewhere, whether promotional or in other activities or events arranged by the Promoter, whether locally or world-wide.<br>
2.10. The Promoter is not responsible for any problems or technical malfunction of any telephone network or lines, computer on-line systems, servers, or providers, computer equipment or software, failure of any email, the Huawei Ultimate Experience App, or entry to be received on account of technical problems or traffic congestion on the Internet, telephone lines or at any web site, or any combination thereof, including any injury or damage to Participant's or any other person's computer or mobile telephone related to or resulting from participation in the Competition. <br>
2.11. The name of the winner and their Competition entry will be announced and posted to the Huawei Facebook page (https://www.facebook.com/huaweiuk) within 90 days of the closing date. Details of the winner may also be obtained by written request to Manning Gotlieb OMD at Seymour Mews House, 26-37 Seymour Mews, W1H 6BN to be received within 90 days of the closing date. <br><br><br>

<span class="t2">3. Award and Participation in the Prize</span><br><br>
3.1. Within 30 days of the closing date, a winner will be selected by a panel of judges including an independent and competent adjudicator. The winner will be the Participant whose entry, in the sole opinion of the judges’, best captures the Brief in an original and creative way. <br>
3.2. Within 30 days of the closing date the winner will be contacted by the Promoter or its agent or representative via the e-mail address submitted with the winning entry to notify them of their win. The winner will have 7 days from the date the e-mail was sent to them to respond and confirm whether they wish to claim the Prize. It is the Participant’s responsibility to ensure that the contact details provided with the entry are accurate and will remain accurate for the duration of the Competition. If the Prize is unclaimed after this point, it will be deemed to have been forfeited and may not be claimed.<br>
3.3. Where the winner has been selected and is later disqualified the Promoter reserves the right to select an alternative winner. Any further winner will be selected on the same criteria as the original winner and will be subject to these terms and conditions as if they were the original winner.<br>
3.4. NDL Group will contact the winner within 30 days of the Prize being claimed to discuss NDL Group’s proposal for the Prize. The winner will be required at that stage to provide further personal information including their home address and any circumstances which may affect their ability to take part in the selected events (for example any pre-existing medical or health conditions, whether they have a valid passport, valid driving license or may require travel visas). All information provided will be used solely for the purposes of planning and arranging the prize.   <br>
3.5. NDL Group will take into account the personal circumstances discussed with the winner when finalizing the Prize details and will notify the winner of the full Prize details within 30 days following discussing the proposal with the winner. The winner cannot request an alternative prize or a cash alternative.  <br>
3.6. Although NDL will try to create the Prize inspired by the winning entry there is no obligation on Promoter to ensure the actual Prize matches the winning entry. The Promoter reserves the right at any time to substitute the Prize with an alternative, including without limitation a cash prize, provided that any substitutions shall be of equal or greater value. <br>
3.7. The acceptance of the Prize and participation in the Prize is entirely at the risk of the winner and if applicable accompanying friends. The Promoter reserves the right to withdraw or cancel the Prize (without liability or compensation) if in the Promoter’s reasonable opinion participation in the event may expose the winner or others to the risk of illness or injury. <br>
3.8. Where the Prize or part of it is provided by a third party the winner and accompanying friends may be required to complete additional formalities such as booking forms, landing cards, insurance forms, accepting terms and conditions of participation, conditions of travel or bookings, direct with such provider. If the winner or any accompanying friends refuse to enter into any such agreements or comply with the terms of such formalities the Prize will be forfeited. <br>
3.9. The Prize is not transferable, and must be taken within 12 months of the winner being selected.<br>
3.10. Where the Prize includes flights it will include: the cost of flights (including taxes), travel insurance (where available on standard terms) and transfers. The departure airport used will be dependent on the availability of flights to the relevant destination and may not be the nearest available airport to the winner’s home address. Travel insurance is subject to normal terms of acceptance.  Pre-existing medical conditions may not be covered.<br>  
3.11. Any activities, events, travel, accommodation and experiences chosen as part of the Prize are subject to availability at the time of booking. Participants acknowledges that certain events, travel, accommodation or experiences may not be available if requested during peak booking times such as Christmas, New Year, Valentines, Easter, school holidays and Bank Holidays (both in the UK and chosen destination).<br>
3.12. Where a visa or other formalities are required to travel or participate in elements of the Prize it will be the individual responsibility of the winner and each accompanying friend to ensure at their own expense that they have the correct formalities, documents and permissions to travel and participate and that they comply with the terms of such formalities.  <br>
3.13. Reasonable efforts will be made to ensure the winner and accompanying friends can participate in the activities, events, travel, accommodation and experiences proposed in the Prize but participation cannot be guaranteed.  <br>
3.14. Where the winner chooses not to accept the Prize or the Prize is withdrawn or forfeited in accordance with these terms and conditions the winner will lose all right to claim the Prize. <br><br><br>

<span class="t2">4. Other Important Terms</span><br><br>
4.1. No purchase is necessary to enter the promotion. <br>
4.2. Postal entries will not be accepted. The Promoter cannot accept responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft, destruction, alteration of, or unauthorised access to entries, or entries lost or delayed whether or not arising during operation or transmission as a result of server functions, virus, bugs, failure or suspension of the Huawei Facebook page or account or any other causes outside of the Promoter’s control.<br>
4.3. The Promoter reserves the right to verify the eligibility of all Participants and the right to check the validity of any entry. <br>
4.4. The Promoter reserves the right to disqualify any Participants who have breached any of these terms and conditions.<br>
4.5. By entering the Competition each Participant warrants that their entry and all information submitted is true, current and complete will not infringe the intellectual property, privacy or any other rights of any third party, and will not contain anything which is unlawful, invasive of privacy or publicity rights, vulgar, profne, libellous, defamatory, obscene, indecent, harassing, threatening or otherwise objectionable, or which encourages conduct or amounts to conduct that would constitute a criminal offense, gives rise to civil liability or otherwise violates any applicable law. The Promoter reserves the right, but not the obligation, to screen, filter and/or monitor information provided by Participants and to edit, refuse to distribute or remove the same. Please note that any images or content that are deemed to be inappropriate or explicit will not be entered into the Competition and Participant’s submitting such content will be disqualified.  <br>
4.6. The Promoter reserves the right to cancel or amend the Competition or the terms and conditions without notice in the event of a catastrophe, war, civil or military disturbance, act of God or any actual or anticipated breach of any applicable law or regulation or any other event outside the Promoter’s reasonable control. Any changes will be posted within these terms and conditions and made available on the Huawei Facebook page. <br>
4.7.  In the event of any dispute regarding the terms and conditions, conduct, results and all other matters relating to the Competition, the decision of the judges shall be final and no correspondence or discussion shall be entered into.<br>
4.8. The Promoter cannot accept any responsibility for any damage, loss, injury or disappointment suffered by any Participants entering the Competition or as a result of accepting any prize. <br>
4.9. Nothing shall exclude Promoter’s liability for death or personal injury as a result of its negligence.<br>
4.10. This Competition is in no way affiliated to or supported by Facebook. Each Participant hereby releases Facebook from any and all liability arising from participation in the Competition. <br>
4.11. The Competition will be governed by the laws of England and Wales and any disputes will be subject to the exclusive jurisdiction of the courts of England and are trademarks of Huawei Technologies Co., Ltd.

                    </div>
                </div>

                <div id="friends_box" class="friends_box">
                    <div class="friend_title_box"><div id="friendbox_title" >Instagram Images</div><i id="friends_close" class="icon_x"></i></div>
                    <div class="friend_interior">
                    <!--
                    <ul>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li class="last"><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                    </ul>
                    <ul>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li class="last"><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                    </ul>
                    <ul>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li class="last"><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                    </ul>
                    <ul>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                        <li class="last"><img src="../assets/graphics/trash/friend_square.png" border="0" width="100%" /></li>
                    </ul>
                    -->
                    </div>
                </div>

                <script type="text/x-underscore-template" id="friend-row-tpl">
                    <% last="";  action_class="friend_block_m";
                    if (device=="web") { action_class="friend_block"; }
                    if (num==0) { %>
                        <div class="friend_list_row">
                    <% } %>
                    <% if (num==2) { last="last"; } %>
                    <div class="<%= action_class %> friend_list_single <%= last %>" data-id="<%= uid %>">
                        <div class="friend_list_single_left">
                            <img class="friend_single_image" src="http://graph.facebook.com/<%= uid %>/picture?type=square" border="0" width="100%" />
                        </div>
                        <div class="friend_list_single_right"><%= name %></div>
                    </div>
                    <% if (num==2) { %></div><% } %>
                </script>

                <script type="text/x-underscore-template" id="fb-photo-tpl">
                <%
                    selected_class = "selected_image_mob";
                    last="";
                    if(mb_last&&device!="web"){ last="last"; }
                    if(wb_last&&device=="web"){ last="last"; }
                    if(device=="web"){ selected_class = "selected_image_web"; }
                    if (device=="web"&&num==0) {
                %>
                <ul>
                <% } %>
                    <li class="<%=selected_class %> selecting_image <%=last %>" data-big="<%=src_big %>" data-small="<%=src_small %>">
                        <img src="<%=src_big %>" border="0" width="100%" />
                    </li>
                <% if (device=="web"&&num==3) { %>
                </ul>
                <% } %>
                </script>


                <script type="text/x-underscore-template" id="instagram-photo-tpl">
                <%
                    //selected_image_mob selecting_image 
                    selected_class = "selected_image_mob";
                    last="";
                    if(mb_last&&device!="web"){ last="last"; }
                    if(wb_last&&device=="web"){ last="last"; }
                    if(device=="web"){ selected_class = "selected_image_web"; }
                if (device=="web"&&num==0) {
                %>
                <ul class="attr">
                <% } %>
                    <li class="<%=selected_class %> selecting_image <%=last %>" data-big="<%=low_resolution %>" data-small="<%=standard_resolution %>">
                        <img src="<%=low_resolution %>" border="0" width="100%" />
                    </li>
                <% if (device=="web"&&num==3) { %>
                </ul>
                <% } %>
                </script>

                <script type="text/x-underscore-template" id="crop-tool-tpl">
                            <img  id="cached_img" />
                        <div class="status"></div>
                        <!-- Just for the demo -->


                        <div id="image_container_backdrop" class="image_container_backdrop"></div>

                        <div id="backdrop_mask" class="backdrop_mask">
                            <img id="backdrop_mask_img" src="" />
                        </div>

                        <div class="image_container">
                            <img class="image" src="../assets/graphics/home_bg.jpg" >
                        </div>

                        <div class="mask"></div>

                        <div class="borders">
                            <div class="border top"></div>
                            <div class="border right"></div>
                            <div class="border bottom"></div>
                            <div class="border left"></div>
                        </div>

                        <div class="image_container">
                            <div class="box"></div>
                        </div>
                </script>


                <div id="friend_list_box" class="friend_list_box">
                    <div class="friend_list_head_top">Pick a friend<i class="icon_x"></i></div>
                    <div class="friend_list_head"> <i class="icon_magnifying_glass"></i> <input id="friend_finder_input" class="friend_finder_input" type="text" /></div>
                    <div id="friend_list_rows" class="friend_list_rows">

                        <div class="friend_list_row">

                            <div class="friend_list_single">
                                <div class="friend_list_single_left">
                                    <img src="../assets/graphics/trash/fb.jpg" border="0" width="100%" />
                                    <div class="fl_pic_cover">
                                        <img src="../assets/graphics/picture/fb_tag_mask_white.png" border="0" width="100%" />
                                    </div>
                                </div>
                                <div class="friend_list_single_right">Liam Tucker</div>
                            </div>

                            <div class="friend_list_single">
                                <div class="friend_list_single_left">
                                    <img src="../assets/graphics/trash/fb.jpg" border="0" width="100%" />
                                    <div class="fl_pic_cover">
                                        <img src="../assets/graphics/picture/fb_tag_mask_white.png" border="0" width="100%" />
                                    </div>
                                </div>
                                <div class="friend_list_single_right">Liam Tucker</div>
                            </div>

                            <div class="friend_list_single last">
                                <div class="friend_list_single_left">
                                    <img src="../assets/graphics/trash/fb.jpg" border="0" width="100%" />
                                    <div class="fl_pic_cover">
                                        <img src="../assets/graphics/picture/fb_tag_mask_white.png" border="0" width="100%" />
                                    </div>
                                </div>
                                <div class="friend_list_single_right">Liam Tucker</div>
                            </div>

                        </div>

                        <div class="friend_list_row">

                            <div class="friend_list_single">
                                <div class="friend_list_single_left">
                                    <img src="../assets/graphics/trash/fb.jpg" border="0" width="100%" />
                                    <div class="fl_pic_cover">
                                        <img src="../assets/graphics/picture/fb_tag_mask_white.png" border="0" width="100%" />
                                    </div>
                                </div>
                                <div class="friend_list_single_right">Liam Tucker</div>
                            </div>

                            <div class="friend_list_single">
                                <div class="friend_list_single_left">
                                    <img src="../assets/graphics/trash/fb.jpg" border="0" width="100%" />
                                    <div class="fl_pic_cover">
                                        <img src="../assets/graphics/picture/fb_tag_mask_white.png" border="0" width="100%" />
                                    </div>
                                </div>
                                <div class="friend_list_single_right">Liam Tucker</div>
                            </div>

                            <div class="friend_list_single last">
                                <div class="friend_list_single_left">
                                    <img src="../assets/graphics/trash/fb.jpg" border="0" width="100%" />
                                    <div class="fl_pic_cover">
                                        <img src="../assets/graphics/picture/fb_tag_mask_white.png" border="0" width="100%" />
                                    </div>
                                </div>
                                <div class="friend_list_single_right">Liam Tucker</div>
                            </div>

                        </div>

                        <div class="friend_list_row">

                            <div class="friend_list_single">
                                <div class="friend_list_single_left">
                                    <img src="../assets/graphics/trash/fb.jpg" border="0" width="100%" />
                                    <div class="fl_pic_cover">
                                        <img src="../assets/graphics/picture/fb_tag_mask_white.png" border="0" width="100%" />
                                    </div>
                                </div>
                                <div class="friend_list_single_right">Liam Tucker</div>
                            </div>

                            <div class="friend_list_single">
                                <div class="friend_list_single_left">
                                    <img src="../assets/graphics/trash/fb.jpg" border="0" width="100%" />
                                    <div class="fl_pic_cover">
                                        <img src="../assets/graphics/picture/fb_tag_mask_white.png" border="0" width="100%" />
                                    </div>
                                </div>
                                <div class="friend_list_single_right">Liam Tucker</div>
                            </div>

                            <div class="friend_list_single last">
                                <div class="friend_list_single_left">
                                    <img src="../assets/graphics/trash/fb.jpg" border="0" width="100%" />
                                    <div class="fl_pic_cover">
                                        <img src="../assets/graphics/picture/fb_tag_mask_white.png" border="0" width="100%" />
                                    </div>
                                </div>
                                <div class="friend_list_single_right">Liam Tucker</div>
                            </div>

                        </div>


                    </div>
                </div>


            </div><!-- / .popups -->





        </section><!-- / .page_section -->

        <section class="page_section" id="picture">
            <div class="sec_top">
            </div><!-- / .sec_top -->

            <div class="sec_btm">
            </div><!-- / .sec_btm -->
        </section><!-- / .page_section -->

        <section class="page_section" id="finish">
        </section><!-- / .page_section -->


<script type="text/x-underscore-template" id="source-image-tpl">

    <p>
    <ul>
        <li><%=name %></li>
    </ul>
    </p>
    </script>


<div class="showandtell"></div>

    </div><!-- / .container -->




